{% extends "theothernews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Electric Scooters Are Coming to New York, but You Can’t Rent One in Manhattan</h1>
        <img alt=""
             src="https://static01.nyt.com/images/2019/06/19/nyregion/18SCOOTER/merlin_155366805_37edbc4c-7de1-4133-8735-ee630f0740f8-articleLarge.jpg?quality=75&amp;auto=webp&amp;disable=upscale"
             itemprop="url"
             itemid="https://static01.nyt.com/images/2019/06/19/nyregion/18SCOOTER/merlin_155366805_37edbc4c-7de1-4133-8735-ee630f0740f8-articleLarge.jpg?quality=75&amp;auto=webp&amp;disable=upscale">
        <p id="article-summary">Tech leaders and delivery workers fought to lift the ban on electric
            bikes and scooters. Manhattan is off limits to the scooters because of congestion.</p>
        <p>New York State is on the verge of embracing electric scooters and bicycles in a victory for
            tech leaders and delivery workers who have fought for months to make the speedy devices
            legal. </p>
        <p>State lawmakers reached a deal this week on electric scooters and delivery bikes. There is
            just one catch — scooter rental companies like Bird and Lime cannot operate in
            Manhattan. </p>
        <p>The end-of-session compromise addressed safety concerns from leaders in New York City who
            worried that scooters could make Manhattan’s crowded streets even more dangerous. It also
            settled a long-running debate over discrimination against immigrant delivery workers.</p>
        <p>Scooter companies quickly praised the agreement. They already operate in dozens of cities
            across the country, including <a
                    href="https://www.nytimes.com/2018/06/06/technology/how-i-learned-to-stop-worrying-and-love-electric-scooters.html"
                    title="">Los Angeles</a> and <a
                    href="https://www.chicagotribune.com/news/breaking/ct-biz-cb-scooters-are-coming-20190611-story.html"
                    title="" rel="noopener noreferrer" target="_blank">Chicago</a>, and had <a
                    href="https://www.nytimes.com/2019/05/29/nyregion/electric-scooters-new-york.html"
                    title="">spent nearly half a million dollars on lobbying</a> in New York this year.
        </p>
        <p{% if not paywall.show %} class="paytext" {% endif %}>“Our state leaders appear ready to enshrine e-bikes and
            e-scooters into state law and answer
            the call to bring more transportation alternatives to New Yorkers,” said Paul Steely White, the
            director of safety policy at Bird.</p>
        {% if paywall.show %}

            <div>
                <div>
                    <p>Lawmakers were expected to <a
                            href="https://www.nysenate.gov/legislation/bills/2019/s5294/amendment/a" title=""
                            rel="noopener noreferrer" target="_blank">approve the legislation</a>. The law, which
                        allows cities and towns to set local rules for the devices, would take effect over the next
                        year. </p>
                    <p>Gov. Andrew M. Cuomo, a Democrat who would have to sign the bill, said on Tuesday that he
                        supported the idea of scooters. But he said he was worried that a fast scooter on a sidewalk
                        in Manhattan could knock over older people.</p>
                    <p>Scooters go as fast as 15 miles per hour. Delivery bikes travel more than 20 miles per
                        hour. </p>
                    <p>“I have safety concerns on the bill as drafted,” Mr. Cuomo said in a radio interview.</p>
                    <p>Jessica Ramos, a Democratic state senator from Queens who sponsored the bill, said it
                        addressed the governor’s concerns because scooters would be banned on sidewalks and New York
                        City would get to decide where the devices are allowed. </p></div>
            </div>
            <div>
                <div><p>“We are leaving the nitty-gritty, the pieces of this that can be very hyper-local and
                    sensitive, we’re leaving that to cities and towns,” Ms. Ramos said.</p>
                    <p>Delivery workers and their supporters cheered the agreement. Workers have long complained
                        about harassment by the police, including having their bikes confiscated and being forced to
                        pay expensive fines. </p>
                    <p>Rafael Espinal, a city councilman from Brooklyn, thanked delivery workers who had “risked
                        their livelihoods by speaking up against this injustice.”</p></div>
            </div>
            <div>
                <div><p>“No longer will immigrant workers be penalized for doing their jobs,” Mr. Espinal added.</p>
                    <p>Mayor Bill de Blasio, a Democrat who is running for president, has received criticism for
                        targeting low-wage delivery workers. The mayor has accused them of “reckless behavior” on
                        electric bikes and said that restaurants should find another way to deliver food. </p>
                    <p>Mr. de Blasio’s office said this week that he welcomed new rules by state lawmakers, though
                        city officials cautioned that scooter rental companies would have to apply for authorization
                        from the city to operate in the boroughs outside Manhattan.</p>
                    <p>“We appreciate this common-sense legislation that clarifies the rules around e-bikes on our
                        streets,” said Seth Stein, a spokesman for Mr. de Blasio. “Safety for everyone on our roads
                        is our priority, and we look forward to working with legislators and communities as we
                        develop plans to implement the new law.” </p></div>
            </div>
            <div>
                <div><p>Electric bikes used by delivery workers are legal in other states like California and
                    Illinois. New York City has <a
                            href="https://www.nytimes.com/2018/07/03/nyregion/electric-bikes-nyc-dockless.html?module=inline"
                            title="">allowed only pedal-assist bicycles</a>, which require the rider to pedal. Citi
                    Bike, the bike-share program, introduced electric bikes as part of its fleet, but had to <a
                            href="https://www.nytimes.com/2019/04/15/nyregion/citi-bike-electric.html?module=inline"
                            title="">remove them in April</a> because of safety concerns about the brakes.</p>
                    <p>Electric scooters recently became legal in New Jersey and have <a
                            href="https://www.nj.com/hudson/2019/06/hoboken-rolling-out-new-fines-for-e-scooter-riders-who-break-the-rules.html"
                            title="" rel="noopener noreferrer" target="_blank">hit the streets in Hoboken</a>. Now
                        scooter companies like Lime are considering pilot programs in upstate New York in cities
                        like Ithaca and Rochester. </p>
                    <p>The New York City Council will most likely consider its own regulations for scooters,
                        including whether to require helmets <a
                                href="https://www.portlandoregon.gov/transportation/article/689878" title=""
                                rel="noopener noreferrer" target="_blank">as Portland, Ore., did</a>. </p>
                    <p>The state legislation has some broad rules: Scooter users must be at least 16 years old, and
                        it
                        <a href="https://nyc.streetsblog.org/2019/06/18/hey-west-side-greenway-citi-bike-called-and-it-wants-its-bike-lane-back/"
                           title="" rel="noopener noreferrer" target="_blank">bans electric scooters and bikes</a>
                        from the Hudson River Greenway, a popular path in Manhattan. </p>
                    <p>Corey Johnson, the City Council speaker, has expressed concern about allowing scooters in
                        Manhattan and suggested a pilot program in the Rockaways in Queens. Mr. Johnson understands
                        the hazards — he fell off a scooter in Mexico City earlier this year. </p>
                    <p>“I still have concerns about the public safety effects of scooters on our streets,” Mr.
                        Johnson said in a statement on Tuesday. “But at least now we have the clarification from
                        Albany we needed to take a real look and see if they can work safely here.”</p>
                    <p>Some New Yorkers have already bought private electric scooters and flout the rules, risking a
                        $500 fine. A <a
                                href="https://www.bird.co/press/bird-introduces-bird-one-industrys-most-durable-e-scooter-for-sharing-and-ownership/"
                                title="" rel="noopener noreferrer" target="_blank">sleek scooter</a> from Bird sells
                        for $1,299. Under the legislation, private scooters would be allowed in Manhattan, though
                        not through rental companies. </p></div>
            </div>
            <div>
                <div><p>A recent study of scooter accidents in Austin, Tex., raised serious concerns about safety.
                    Nearly half of injured riders had head injuries and less than 1 percent of riders were wearing a
                    helmet when they were injured, according to the <a
                            href="https://www.austintexas.gov/sites/default/files/files/Health/Epidemiology/APH_Dockless_Electric_Scooter_Study_5-2-19.pdf"
                            title="" rel="noopener noreferrer" target="_blank">report by the Centers for Disease
                        Control and Prevention</a> and local officials. </p>
                    <p>Supporters in New York decided to tie two issues together: electric scooters, which are
                        viewed as an environmentally friendly way to <a
                                href="https://www.nytimes.com/2019/01/15/technology/electric-scooters-portland-oregon.html"
                                title="">reduce congestion and pollution</a>, and fairness for delivery workers, who
                        argued that bike laws were discriminatory.</p>
                    <p>“It is a criminal justice issue, a transportation issue, an environmental issue and a labor
                        issue,” Ms. Ramos said.</p>
                    <p>A major lobbying push by scooter companies also helped. The companies have spent at least
                        $475,000 on lobbying at the state and city level this year, according to state records. Bird
                        and Jump Bikes, an Uber subsidiary, each spent at least $100,000 on lobbying.</p>
                    <p>Nily Rozic, a Democrat and the bill’s sponsor in the State Assembly, said that allowing
                        electric scooters and bikes would help residents in her district in Flushing, Queens. </p>
                    <p>“My district does not have a single subway station,” she said. “I think this will be really
                        helpful in assisting those who live in transit deserts.”</p></div>
            </div>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}