{% extends "theothernews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Hawaii's Most Populated Island Bans Most Single-Use Plastic Products</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FmWjfUDn8Bqg%2Fmaxresdefault.jpg&f=1&nofb=1"/>
        <p><span>Lawmakers in Hawaii’s largest city just passed what could be one of the strictest bans on single-use plastics in the country.</span>
        </p>
        <p{% if not paywall.show %} class="paytext" {% endif %}>
            The Honolulu City Council this week voted 7-2 to pass Bill 40, which bans businesses and restaurants in
            Honolulu County from serving food and beverages with plastic straws and utensils and containers made of
            polystyrene foam. The legislation will take effect in phases, with polystyrene foam being banned first in
            2021 and disposable plastic being banned in 2022.
        </p>
        {% if paywall.show %}

            <p><span>The measure will cover Honolulu County, which the council oversees and includes the entirety of Oahu, Hawaii’s most populated island.</span>
            </p>


            <div>
                <div data-pgs-partner-id="verizon-huffpost" data-pgs-target-id="01cd2f6b-ef34-41d8-a77d-18e50a1274a1"
                     data-pgs-target-type="campaign">
                    <p>PAID FOR BY Happy Family Organics</p>
                </div>
            </div>


            <p><span>Lawmakers on the Big Island and Maui County, which includes the islands of Maui and Molokai, have previously banned foam containers but those measures do not cover plastic utensils.&nbsp;</span>Honolulu
                County <a href="https://www.huffpost.com/entry/hawaii-plastic-bag-ban_n_7702382" target="_blank"
                          rel="noopener noreferrer">followed suit in 2015</a> and banned plastic bags in grocery stores,
                making Hawaii the only state at the time to completely ban most plastic bags.</p>
            <p>Hawaii’s efforts to reduce use of disposable plastic is part of a growing wave across the country. This
                year, legislatures and city councils in <a
                        href="https://www.quorum.us/spreadsheet/external/iGczRqpcuUEzrxMmlhkD/" target="_blank"
                        rel="noopener noreferrer">at least 34 states</a> have passed or considered measures that ban or
                discourage single-use plastic bags, polystyrene foam and single-use plastic utensils.</p>
            <section class="hidden" data-block-class="app-download-interstitial">

            </section><p>California started years ago, passing a <a
                href="https://www.wsj.com/articles/california-is-first-to-ban-plastic-bags-statewide-1412095427?mod=article_inline"
                target="_blank" rel="noopener noreferrer">statewide ban</a> on plastic bags at large retail stores in
            2014; a <a
                    href="http://www.ncsl.org/research/environment-and-natural-resources/plastic-bag-legislation.aspx"
                    target="_blank" rel="noopener noreferrer">referendum</a> forced the issue onto the November 2016
            ballot where it passed to remain in effect. New York passed a similar measure this&nbsp;<a
                    href="https://www.wsj.com/articles/new-york-passes-a-plastic-bag-ban-11554124871?mod=article_inline"
                    target="_blank" rel="noopener noreferrer">April</a>. However, few governments have passed sweeping
            bans that cover a wide variety of plastic products, such as the one in Honolulu.&nbsp;</p>

            <p><span>Local and national environmental groups are celebrating the measure as a major win in the fight against single-use plastics, which contribute to climate change with&nbsp;</span><a
                    href="https://www.yaleclimateconnections.org/2019/08/how-plastics-contribute-to-climate-change/"><span>greenhouse gas emissions</span></a><span>&nbsp;during production and transportation and </span><a
                    href="https://www.huffpost.com/entry/plastic-waste-oceans_n_58fed37be4b0c46f0781d426"><span>account for about 85%</span></a><span> of trash found in beaches and waterways.</span>
            </p>
            <p><span>Isolated in the middle of the Pacific Ocean, residents of Hawaii </span><a
                    href="https://hidot.hawaii.gov/highways/files/2019/03/HDOT_FreightPlan_FINAL.pdf"><span>depend heavily on imports</span></a><span> for everyday products including milk, gas, bread, clothes and construction materials, making it one of the most expensive states to live in the U.S. Hawaii is also </span><a
                    href="https://www.huffpost.com/entry/kamilo-beach-hawaii-dirtiest-beach-america_n_58e99a38e4b05413bfe3792d"><span>uniquely affected by the world’s plastic pollution problem</span></a><span>, collecting plastic trash that originated from various places around the world.</span>
            </p>
            <p><span>Business groups in Hawaii pushed back against previous versions of the bill, arguing the measure unfairly burdened local businesses, pitting them against big box stores and forcing them to increase their prices ― thus making products in the state even more expensive.</span>
            </p>

            <p><span>Hawaii’s Chamber of Commerce was concerned the measure would </span><a
                    href="https://www.cochawaii.org/how-to-submit-testimony-against-bill-40/"><span>threaten smaller businesses</span></a><span> who would have to invest in more expensive non-plastic materials to package their food products.&nbsp;</span>
            </p>
            <p><span>Hawaiian Chip Co. owner Jimmy Chan, speaking for the Hawaii Food Manufacturers Association, said Wednesday that there aren’t sustainable plastic alternatives that are affordable, </span><a
                    href="https://www.bizjournals.com/pacific/news/2019/12/04/honolulu-city-council-votes-to-ban-single-use.html"><span>the Pacific Business Journal reported</span></a><span>. He also said plastic provides consumers with “a certain amount of food safety.”</span>
            </p>
            <p><span>Before the bill was passed, lawmakers amended it to resolve both environmentalists’ and the food industry’s concerns. The version that was passed this week includes&nbsp;</span><a
                    href="http://www4.honolulu.gov/docushare/dsweb/Get/Document-248431/BILL040(19)%2c%20CD1%2c%20PROPOSED%20FD1%20-%20TW1.pdf"><span>exemptions</span></a><span> for prepackaged items such as musubi wraps, chip bags, bread bags, ice bags and plastic bags used for loose items including vegetables, ground coffee, raw fish and meat, and newspapers.</span>
            </p>
            <p><span>Paul Kosasa, the </span><a href="http://pace.shidler.hawaii.edu/live/abc-stores"><span>CEO of ABC Stores</span></a><span>, a local general store chain in Hawaii, previously opposed the bill but later accepted it after lawmakers made revisions to the bill to address business owners’ concerns.</span>
            </p>
            <p><span>Kosasa told HuffPost that businesses like his were initially blindsided when the bill banning plastics first came out but lawmakers started to pay attention to business owners once they protested against the proposed measure.</span>
            </p>
            <p><span>“While [the bill] is still not perfect, it did enough to alleviate our concerns,” Kosasa said, noting that the exemptions for raw meat and fish products were important for businesses to keep their products safe for consumers.</span>
            </p>


            <p><span>“There’s more things that have to happen to it but there’s been enough changes to it that gives us some time to become more eco-friendly,” he added.</span>
            </p>
            <p><span>Honolulu Mayor Kirk Caldwell is expected to sign the bill into law.</span></p>



















        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}