{% extends "theothernews/base.html" %}

{% block content %}
    <div class="content">
        <h1>6 surprising ways mindfulness meditation can improve your brain</h1>
        <img src="https://media.mnn.com/assets/images/2015/11/man-walks-through-wheat-field-touches.jpg.653x0_q80_crop-smart.jpg">

        <p>You've heard <a href="https://www.mnn.com/health/fitness-well-being/stories/what-is-mindfulness"
                           target="_blank">how good mindfulness is for you</a>, but did you know it helps you grow
            new brain cells, changes how your brain functions and even resets your perception of pain?
        </p>
        <p>Various studies have led researchers to draw these conclusions, adding to the growing pile of evidence
            about why mindfulness meditation works so well for so many people in so many different ways. It starts
            with neuroscientists' increasing understanding that the brain is plastic — which means that, unlike your
            thigh bone, which grows to a certain size and stays that way for the rest of your life, your brain
            changes as you age.
        </p>


        <p>That means it's possible to literally change how you think, even in middle or old age. And changing how
            you think can meaningfully change the way you perceive stress, pain, negative emotions, and even your
            perspective on life, as this TEDTalk video explains.
        </p>
        <p{% if not paywall.show %} class="paytext" {% endif %}>
            This kind of research is now possible due to the increasing availability of different types of brain
            scans. It's now feasible for researchers to do brain scans before and after mindfulness meditation
            sessions. And from those scans they can see exactly how and in what regions a subject's brain can
            change. If they see similar change patterns in a variety of test subjects (older, younger, male, female)
            researchers then can find a link between those changes and the practice of mindfulness.
        </p>
        {% if paywall.show %}
            <p>Below are a few of the most interesting studies about mindfulness and what they've found.
            </p><h2>Mindfulness can reduce pain
        </h2><p>In a before-and-after look at the brains of subjects who had regularly meditated for just four days,
            researchers behind <a href="https://www.jneurosci.org/content/31/14/5540.short" target="_blank">this study
                published in the Journal of Neuroscience</a> found that the perception of pain was dramatically reduced:
            How much? Mindfulness meditation "... significantly reduced pain unpleasantness by 57% and pain intensity
            ratings by 40% when compared to rest." This was, according to researchers, due to increased activity in
            areas of the brain involved with regulating the understanding of pain signals, the anterior cingulate cortex
            and anterior insula. In addition to feeling less overall pain, the subjects also said they felt less intense
            "pain unpleasantness." That's because the orbitofrontal cortex was activated. This part of the brain is
            understood to frame (and reframe) the "contextual evaluation of sensory events" — so pain may still have
            been present, but it didn't feel as painful.
        </p><h2>It can help you grow more grey matter</h2>
            <p><a href="https://media.mnn.com/assets/images/2014/03/BrainIllustration.jpg.838x0_q80.jpg"><img
                    alt="biofeedback for depression - brain scan"
                    src="https://media.mnn.com/assets/images/2014/03/BrainIllustration.jpg.838x0_q80.jpg"></a>
                <small>The left hippocampus got larger in the subjects who practiced mindfulness for eight weeks.
                    (Photo: Life science/Shutterstock)</small>
            </p>
            <p>A Harvard Medical School <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3004979/" target="_blank">study
                published in Psychiatry Research: Neuroimaging</a> that looked at the brains of 17 study participants
                before and after an eight-week mindfulness program found that their brains grew in certain places by
                doing mindfulness meditation, which sounds amazing: "Analyses ... confirmed increases in gray matter
                concentration within the left hippocampus. Whole brain analyses identified increases in the posterior
                cingulate cortex, the temporo-parietal junction, and the cerebellum in the MBSR [mindfulness meditation]
                group compared to the controls." The study authors go on in detail: "The results suggest that
                participation in MBSR is associated with changes in gray matter concentration in brain regions involved
                in learning and memory processes, emotion regulation, self-referential processing, and perspective
                taking."
            </p><h2>It can help you build more brain connections
        </h2>
            <p>A <a href="https://www.sciencedirect.com/science/article/abs/pii/S105381191100190X" target="_blank">study
                from UCLA</a> published in NeuroImage looked specifically at female subjects, and measured the brains
                (via fcMRI) of two groups — those who did mindfulness meditation for eight weeks and those who didn't.
                They found that among the meditators, there were better connections between the parts of the brains
                linked with sight and sound, as well as greater focus in those areas. What does that mean? "These
                findings suggest that 8 weeks of mindfulness meditation training alters intrinsic functional
                connectivity in ways that may reflect a more consistent attentional focus, enhanced sensory processing,
                and reflective awareness of sensory experience."
            </p><h2>It can improve verbal learning
        </h2><p><a href="https://media.mnn.com/assets/images/2019/12/Verbal_Learning_Mindfulness.jpg.838x0_q80.jpg"><img
                alt="verbal learning and mindfulness meditation benefits"
                src="https://media.mnn.com/assets/images/2019/12/Verbal_Learning_Mindfulness.jpg.838x0_q80.jpg"></a>
            <small>Mindfulness can potentially make it easier to learn new verbal information and then be able to
                remember it later. (Photo: hydra viridis/Shutterstock)</small>
        </p><p>As in many of these experiments, this one shows the surprising payoff of a truly short-term commitment.
            After listening to a 10-minute mindfulness audio tape, participants boosted their verbal learning ability.
        </p><p>In a <a href="https://link.springer.com/article/10.3758%2Fs13421-019-00947-z" target="_blank">study
            published in the journal Memory &amp; Cognition</a>, researchers discovered that participants who listened
            to a mindfulness audio exercise were better at recalling newly learned words, but it wasn't clear how long
            the effects would last. Still, not bad for 10 minutes!
        </p><p>"We reasoned that, since mindfulness often works to quiet down thoughts which may occupy phonological
            loop resources, then it should be able to improve the learning of new verbal information, likely by allowing
            information to be better absorbed through the encoding process of memory," study author Adam Lueke, an
            assistant teaching professor at Ball State University, <a
                    href="https://www.psypost.org/2019/12/just-10-minutes-of-mindfulness-meditation-can-improve-verbal-learning-and-memory-processes-study-finds-54979"
                    target="_blank">told PsyPost</a>.
        </p><h2>It can curb your procrastination habit</h2>
            <p><a href="https://media.mnn.com/assets/images/2019/05/Procrastination.jpg.838x0_q80.jpg"><img
                    alt="illustration of a doubtful man considering if doing things now or never or later"
                    src="https://media.mnn.com/assets/images/2019/05/Procrastination.jpg.838x0_q80.jpg"></a>
                <small>Procrastination is simply the failure to self-regulate, and mindfulness can help with that.
                    (Photo: faithie/Shutterstock)</small>
            </p><p>While this result may not seem surprising based on what you've already read, this <a
                href="https://www.researchgate.net/publication/330344712_Being_in_the_moment_later_Testing_the_inverse_relation_between_mindfulness_and_procrastination"
                target="_blank">study published in Personality and Individual Differences</a> goes a step further,
            showing an inverse relationship between mindfulness and procrastination, researchers from Education
            University of Hong Kong found.
        </p><p>By looking at the habits of 339 Chinese college students, researchers found that when mindfulness was
            high, procrastination levels dropped, and vice versa. The study wasn't perfect — students took
            questionnaires at four specific times during a six-month period — but the pattern was evident throughout.
            And looking at other work on the connection, it makes sense. Some tasks provoke a negative emotional
            reaction, but as <a
                    href="https://www.psychologytoday.com/us/blog/dont-delay/201403/procrastination-why-mindfulness-is-crucial"
                    target="_blank">Timothy A Pychyl writes in Psychology Today</a>, the answer is simply to bolster our
            emotional regulation — and that relies on mindfulness.
        </p><h2>It can help you control your emotional response
        </h2><p>In fact, emotional regulation is at the heart of several issues. A <a
                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4040090/" target="_blank">study published in Social
            Cognitive and Affective Neuroscience</a> by researchers at the University of Zurich involved giving a short
            mindfulness session to 24 people while 22 others (the controls) didn't participate. Researchers found that
            those who had been given the mindfulness session were less reactive when shown negative imagery. Through
            functional magnetic resonance imaging, or fMRIs, the researchers could see that there was less stimulation
            in the parts of the brain involved in processing emotions (the amygdala, and the parahippocampal gyrus) in
            the meditators, compared to the controls, who got more upset.
        </p><p>According to the study abstract, "...more mindful individuals required less regulatory resources to
            attenuate emotional arousal. Our findings suggest emotion regulatory effects of a short mindfulness
            intervention on a neurobiological level." Being able to keep emotionally calm (or at least calmer) in
            difficult situations can lead to lower stress levels and is physically healthier, since stress hormones are
            reduced.
        </p><p><em>Editor's note: This story has been updated with new information since it was first published in
            November 2015.</em>
        </p>


            <div>
                <div>
                    <p>
                        <a href="https://www.mnn.com/users/svartan">Starre Vartan</a> ( <a
                            href="https://twitter.com/ecochickie"><i></i> @ecochickie</a> ) covers conscious
                        consumption, health and science as she travels the world exploring new cultures and ideas.
                    </p>
                </div>
            </div>



            <p>6 surprising ways mindfulness meditation can improve your brain</p>
            <p>The benefits of mindfulness keep piling up, from growing grey matter to helping you master your emotional
                responses.</p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}