{% extends "news/base.html" %}

{% block content %}
    <div class="content">
        <h1>From College Grad to CEO: Three Seed-Stage Founders Share What It Takes to Start a Company</h1>
        <img src="https://miro.medium.com/max/2000/1*t8nVu4aS98AKHnJpj9WI_Q.png">
        <p id="0f3b" data-selectable-paragraph="">College can be a business incubator of sorts. As aspiring
            entrepreneurs learn new skills, meet like-minded people, and become more aware of opportunities beyond a
            traditional career path, many decide to launch their own companies during or right out of school.</p>
        <p id="3e4e" data-selectable-paragraph="">To discuss the earliest days of startup life, we invited
            entrepreneurial college students to an informal video Q&amp;A with three seed founders from Sequoia
            portfolio companies:</p>
        <ul>
            <li id="4302" data-selectable-paragraph=""><a
                    href="https://medium.com/u/9d94623f6f6?source=post_page-----31ad81f4e255----------------------"
                    target="_blank" rel="noopener">Paul Fletcher-Hill</a>, CEO of Veil, which launched in January.
                He and his two co-founders are developing a product in the crypto and blockchain space.
            </li>
            <li id="05f1" data-selectable-paragraph=""><a
                    href="https://medium.com/u/4cd465aeaf8?source=post_page-----31ad81f4e255----------------------"
                    target="_blank" rel="noopener">Ben Taft</a>, co-founder of Mira, a 15-person company that is
                currently developing cost-effective smart glasses and hands-free software solutions.
            </li>
            <li id="5158" data-selectable-paragraph="">A founder whose startup is still operating under the radar in
                “stealth.” The pre-launch company has a headcount of four and is focused on helping companies solve
                problems in data security and privacy.
            </li>
        </ul>
        <p id="ec16" data-selectable-paragraph="">Here are some of the key takeaways:</p>
        <p id="5e65" data-selectable-paragraph=""><strong>Stealth Seed Founder</strong>: There are four of us now. I
            talked to 70 people before I hired employees two and three. My friend talked to 200 people before he
            hired his first employee.</p>
        <p id="3b58" data-selectable-paragraph=""><strong>Ben</strong>: Our team is 15. We had just spent a lot of
            time in the AR and VR space, so a lot of it was personal networks. Now we’ve started working with
            recruiters. It’s way longer of a process. It’s expensive.</p>
        <p id="52e5" data-selectable-paragraph="">The key to keeping talent: You’ve got to communicate and get
            feedback — critical, constructive feedback — all the time. Make sure your employees are not afraid to
            speak up if something’s wrong.</p>
        <p id="28f6" data-selectable-paragraph="">Make sure you understand how each person wants to grow as an
            individual, both for their personal development and their career.</p>
        <p id="0da6" data-selectable-paragraph=""><strong>Paul</strong>: We raised money really, really early,
            before we had a product. And we were only looking for two investors.</p>
        <p id="de8a" data-selectable-paragraph="">In a previous company, I raised from a lot of investors. I assumed
            that the more, the merrier. But we found that if you get a lot of people involved, it can be harder to
            get full buy-in from each individual.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            We chose to work with Sequoia in particular because we get to work
            with Alfred Lin, and he was able to bring his experience and point of view, which made a lot of sense
            for us. Our crypto investor is super involved in crypto and into the ethos of the space, whereas Alfred
            is more about being pragmatic and growing the business. That mix of perspectives is really helpful.
        </p>
        {% if paywall.show %}

            <p id="25b0" data-selectable-paragraph=""><strong>Stealth Seed Founder</strong>: I also raised money pretty
                early. This was my first company, and I wasn’t sure what I wanted. I decided I should raise money
                because I was hitting a local maximum with both customer development and recruiting.</p>
            <p id="ac1e" data-selectable-paragraph="">Potential customers were basically asking, “How do we know you’re
                going to be around? How do we know you’re legit?” I had to prove myself every time.</p>
            <p id="4200" data-selectable-paragraph="">And with recruiting — I tried to hire this guy, but I hadn’t
                raised any money. I had asked for four background checks on him, and it turned out he wanted to reverse
                reference check me. That was when I realized I should go with the highest reputation investor I
                could.</p>
            <p id="47b0" data-selectable-paragraph="">My investor at Sequoia is all about the practical aspects of
                building a business, which I think is great. He focuses on things like how we’re going to define our
                relationship with respect to the market.</p>
            <p id="53a8" data-selectable-paragraph=""><strong>Paul</strong>: Veil operates in a very regulated space.
                One of our initial challenges was: “How do we launch this legally?” I spent a month just calling lawyers
                in countries all over the world to figure out where we could operate until we found a solution.</p>
            <p id="069c" data-selectable-paragraph=""><strong>Stealth Seed Founder</strong>: Building my early team was
                harder than I expected. Partly because I wasn’t living in the Bay Area, and neither were the people I
                worked with. After I raised money, I tried to rally people to move to the Bay Area with me without luck.
            </p><p id="f41f" data-selectable-paragraph="">I moved anyway because I knew this was the right place. But
            everyone I knew I could build the business with wasn’t here, so I spent two months just meeting new
            people.</p>
            <p id="2f84" data-selectable-paragraph=""><strong>Stealth Seed Founder</strong>: I think the main reason to
                join a startup is the speed of the learning. In two weeks you could do 10 things that would take months
                at a bigger company.</p>
            <p id="9d24" data-selectable-paragraph=""><strong>Paul</strong>: I second that. It’s rare to be in an
                environment where it’s just about executing on what you want, versus asking permission. You can create
                something out of nothing. And it feels so good when you succeed.</p>
            <p id="c892" data-selectable-paragraph=""><strong>Ben</strong>: When you’re young, you should take as much
                risk as you possibly can. If you try really hard, things will work out — but even if nothing works out,
                you will learn so much more than if you take a safer route.</p>
            <p id="9f1f" data-selectable-paragraph=""><em>If you’ve started a company and are considering seed-stage
                partners, </em><a target="_blank" rel="noopener"
                                  href="https://medium.com/sequoia-capital/elements-of-enduring-companies-f2431190af04"><em>here
                is what we look for</em></a><em> and some suggestions for </em><a target="_blank" rel="noopener"
                                                                                  href="https://medium.com/sequoia-capital/writing-a-business-plan-ea378b50abe2"><em>writing
                a business plan.</em></a><em> You can also find a wealth of </em><a
                    href="https://www.sequoiacap.com/build/" target="_blank" rel="noopener nofollow"><em>company
                building tools</em></a><em> on our site, and get to know which partner might be right for you on </em><a
                    href="https://www.sequoiacap.com/people/" target="_blank" rel="noopener nofollow"><em>our team
                page</em></a><em>.</em></p>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}