{% extends "news/base.html" %}

{% block content %}
    <div class="content">
        <h1>Business Have Been Practicing Social Responsibility For Decades, But Is That Really A Good Thing?</h1>
        <img src="https://d.newsweek.com/en/full/1548831/fe-csr-01-1041330598-banner.webp?w=1440&h=720&l=52&t=49&f=f29de50f62019558037150c95d2f33d0">
        <p>
            The jury is out on whether corporate social responsibility (CSR) programs will one day make the world a
            better place. But this much is pretty clear: They're already benefiting the companies that have
            implemented them. And in some unexpected ways.</p>
        <p>Specifically, CSR has become the weapon of choice for what is known as, in corporate speak, the three
            R's: Investor Relations, Human Resources, and Public Relations.</p>
        <p>But before we dive into details, a CSR mini-lesson is in order. First off, CSR isn't an overnight
            sensation. Over the past couple of decades, companies have been embracing the idea that they need to do
            more than just make a profit for shareholders. Do-good efforts slowly evolved from passive and limited
            corporate philanthropy programs—giving to the United Way, for example—to broader and more active CSR
            programs. Those would take on major social issues like Goldman Sachs' 10,000 Women program, which in
            partnership with the International Finance Corporation (World Bank) has delivered $1.45 billion in loans
            to women-owned businesses in developing countries.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}> Now, they have evolved even more. Many companies are now incorporating impact-on-society considerations
            into core business activities. For example, Starbucks only uses "ethically-sourced coffee." Programs
            like these are often focused on "sustainability." In August, 181 CEOs of the country's largest
            corporations signed a Business Roundtable statement committing to managing their companies not just for
            shareholders, but also for customers, employees, suppliers, and communities.
        </p>
        {% if paywall.show %}

            <figure>
                <div>

                    <source type="image/webp" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.webp?w=737&amp;f=2a53d5a6e8b87d01fdfb9d5d97f9ad24 1x">
                    <source type="image/jpeg" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=737&amp;f=2a53d5a6e8b87d01fdfb9d5d97f9ad24 1x">
                    <source type="image/webp" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.webp?w=675&amp;f=a5a7dd391f8dcfc9729fc4721e5bbc94 1x">
                    <source type="image/jpeg" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=675&amp;f=a5a7dd391f8dcfc9729fc4721e5bbc94 1x">
                    <source type="image/webp" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.webp?w=737&amp;f=2a53d5a6e8b87d01fdfb9d5d97f9ad24 1x">
                    <source type="image/jpeg" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=737&amp;f=2a53d5a6e8b87d01fdfb9d5d97f9ad24 1x">
                    <source type="image/webp" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.webp?w=450&amp;f=8ed5ccee3ba7412a0c28ba773af320c2 1x">
                    <source type="image/jpeg" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=450&amp;f=8ed5ccee3ba7412a0c28ba773af320c2 1x">
                    <img id="i1549025"
                         data-src="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=480&amp;f=928028c5e5c053f7860c7c0cb91d4a6a"
                         alt="NW_12/06-13_cov" title="NW_12/06-13_cov" itemprop="contentUrl"
                         src="https://d.newsweek.com/en/full/1549025/nw-12-06-13-cov.jpg?w=480&amp;f=928028c5e5c053f7860c7c0cb91d4a6a"
                         width="480">

                    <figcaption class="caption">
                        <span>Photo Illustration by Ryan Olbrysh for Newsweek; Getty 9; Buzz Courtesy of General Mills, Cesars Courtesy of Caesars Entertainment</span>
                    </figcaption>
                </div>
            </figure>
            <p>The idea behind all of these efforts is the well-worn slogan "doing well by doing good," which means that
                being a positive force in the community will enhance a company's reputation, which in theory will pay
                off in more sales, lower costs and over the long term, more money for shareholders.</p>
            <p>Can you even measure something like this? Stephen Hahn-Griffiths, chief reputation officer of the
                Reputation Institute in Boston, says you can. He reels off a string of statistics, like "40% of the
                reputation of a company is related to corporate responsibility" and says his organization's research
                proves that reputation is a leading indicator of stock market capitalization, or the total value of a
                company's shares. In other words, he adds, "CSR has a multiplier effect" when it comes to a company's
                value. But CSR can be risky. And take a little guts.</p>
            <p>According to analysts, CVS's 2014 decision to stop selling tobacco products cost it $2 billion a year in
                sales and caused the stock price to drop. (Investors took a $1.43 billion hit that year according to
                Martin Anderson of UNC Greensboro.) In 2010, Campbell Soup announced it was reducing the salt levels in
                many of its soups, a decision they reversed the following year when <a rel="nofollow"
                                                                                       href="https://www.macrotrends.net/stocks/charts/CPB/campbell-soup/revenue">sales
                    fell by 32%.</a></p>
            <p>Meanwhile, in 2018, Dick's Sporting Goods stopped selling assault rifles. On a panel at this year's Aspen
                Ideas Festival, CEO Ed Stack said that decision cost them customers and employees. He notes that many of
                the customers who applauded the decision at the time seem to have forgotten, but those who were in
                opposition have not. "Love is fleeting," he says. "But hate is forever."</p>
            <p>But many companies feel the do-gooder dividend outweighs the risks, both in relations with consumers and
                in day-to-day operations.</p>
            <p>Brad McLane, who recruits high-level positions at RSR Partners, says, "Companies aren't doing it just to
                say they have it. My clients are incorporating it into how they do business—what ingredients they use,
                where they source, how they design products." Megan Kashner, clinical professor at the Kellogg School of
                Management's Public-Private Interface agrees. She's says that we've moved from "greenwashing programs
                that mimic CSR" to an era of "authentic CSR." Greenwashing is the practice of making misleading claims
                that make a company appear more environmentally or socially conscious than it is, for example, when BP
                began touting itself as being environmentally conscious through a $200 million public relations
                campaign, only to have a string of environmental disasters—some of which, according to a <a
                        rel="nofollow"
                        href="https://www.washingtonpost.com/national/health-science/bps-cost-cuts-contributed-to-oil-spill-disaster-federal-probe-finds/2011/09/14/gIQA0x24RK_story.html">government
                    report</a>, were caused by corporate cost-cutting to boost profits.</p>
            <figure>
                <div>

                    <source type="image/webp" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.webp?w=737&amp;f=2228768c180570048bcbbf8e00115718 1x">
                    <source type="image/jpeg" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.jpg?w=737&amp;f=2228768c180570048bcbbf8e00115718 1x">
                    <source type="image/webp" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.webp?w=675&amp;f=efdac44bbe57f147c1eaaddea67f8ffa 1x">
                    <source type="image/jpeg" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.jpg?w=675&amp;f=efdac44bbe57f147c1eaaddea67f8ffa 1x">
                    <source type="image/webp" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.webp?w=737&amp;f=2228768c180570048bcbbf8e00115718 1x">
                    <source type="image/jpeg" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.jpg?w=737&amp;f=2228768c180570048bcbbf8e00115718 1x">
                    <source type="image/webp" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.webp?w=450&amp;f=d6b39f14d74f97a1d9b9f476f0d8136e 1x">
                    <source type="image/jpeg" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.jpg?w=450&amp;f=d6b39f14d74f97a1d9b9f476f0d8136e 1x">
                    <img id="i1548837"
                         data-src="https://d.newsweek.com/en/full/1548837/fe-csr-08-1150880664.jpg?w=480&amp;f=fe69a5743cbbc96c29fa6327ebf4399b"
                         alt="FE_CSR_08_1150880664" title="FE_CSR_08_1150880664" itemprop="contentUrl" width="480">

                    <figcaption class="caption">
                        <span>BP is the subject of protests by Greenpeace activists over oil drilling in the North Sea.</span>
                        <span>Christian Charisius/picture alliance/Getty</span>
                    </figcaption>
                </div>
            </figure>
            <p>Simon Lowden, Pepsico chief sustainability officer, says, "It's woven into how we operate as a business.
                For instance, we need to maintain our license to operate in water-stressed regions, so we'd better focus
                on being responsible stewards of water. It's not only the right thing to do, it's important to our
                business."</p>
            <p>CSR is particularly useful in human resources. Rebecca M. Henderson, holds the John and Natty McArthur
                Chair at Harvard and is finishing a book on this topic, <em>Reimagining Capitalism in a World on
                    Fire</em>. She says: "CSR has a tremendous impact on the morale of employees. Authentic purpose,
                which may mean occasionally sacrificing profits, accesses a whole range of emotions difficult to get at
                otherwise, like trust and engagement."</p>
            <p>In other words, it gets through. And that is a good thing. It leads to higher levels of productivity and
                employee retention.</p>
            <p>CSR can also be a big factor in recruiting, particularly for younger employees, says Eric Johnson,
                executive director of graduate career services at the Kelley School of Business at Indiana University.
                He says, "Social impact is a big piece of the recruiting process. Probably 50 percent of that initial
                conversation is about what the company is doing to make the world better."</p>
            <p>"Beer companies used to talk about fun and sports. Now they talk about their programs to save water in
                the world. Social impact can tip the scales. Is a student going to choose an $85,000-a-year job over a
                $125,000 job because of social impact? I doubt it. But my observation is that jobs heavy in social
                impact often pay up to 10 percent less than comparable jobs that don't."</p>
            <p>Professor Kashner adds, "These newly minted MBAs care and they care about the type of work they're going
                to be doing. Maybe previous generations drew a line between work and personal life and values, but those
                boundaries no longer exist." Korn Ferry, the giant executive recruiting firm, recently surveyed the
                professionals in its network. "Company mission and values" was the No. 1 reason (33 percent ) they'd
                choose to work for one company over another.</p>
            <p>CSR is increasingly part of the conversation with individual shareholders and investors, like the world's
                largest investment firm, BlackRock, which manages $6.5 trillion dollars for its clients. In his last two
                annual letters, CEO Larry Fink has called on companies to do more and said that BlackRock will evaluate
                companies on more than just financial numbers. His 2018 letter said, "As divisions continue to deepen,
                companies must demonstrate their commitment to the countries, regions, and communities where they
                operate, particularly on issues central to the world's future prosperity." Many investment firms now
                have someone in charge of building portfolios around companies based on their performance on
                Environmental, Social and Governance or ESG. (Measuring which companies are woke is an industry in and
                of itself.)</p>
            <p>One aggregator of ESG ratings, CSRhub.com, lists 634 data sources. They range from the very broad (for
                example, Alex's Guide to Compassionate Shopping) to the very specific (for example, the Alliance for
                Bangladesh Worker Safety).</p>
            <p>For public relations, CSR is both an offensive and a defensive weapon. CSR can be used to pre-empt the
                conversation in areas where companies have been criticized. Procter &amp; Gamble's "Ambition 2030
                program is heavy on recycling and biodegradability.</p>
            <figure>
                <div>

                    <source type="image/webp" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.webp?w=737&amp;f=16c790a2d5b56b41651e49f80a81482c 1x">
                    <source type="image/jpeg" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.jpg?w=737&amp;f=16c790a2d5b56b41651e49f80a81482c 1x">
                    <source type="image/webp" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.webp?w=675&amp;f=0e3145920781b8e81e2d9be97b05c0f7 1x">
                    <source type="image/jpeg" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.jpg?w=675&amp;f=0e3145920781b8e81e2d9be97b05c0f7 1x">
                    <source type="image/webp" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.webp?w=737&amp;f=16c790a2d5b56b41651e49f80a81482c 1x">
                    <source type="image/jpeg" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.jpg?w=737&amp;f=16c790a2d5b56b41651e49f80a81482c 1x">
                    <source type="image/webp" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.webp?w=450&amp;f=2fa0cd9a89aad61649c7d1f20b45fbd2 1x">
                    <source type="image/jpeg" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.jpg?w=450&amp;f=2fa0cd9a89aad61649c7d1f20b45fbd2 1x">
                    <img id="i1548834"
                         data-src="https://d.newsweek.com/en/full/1548834/fe-csr-05-454550142.jpg?w=480&amp;f=ac71ad8a0a49267af99a401362964128"
                         alt="FE_CSR_05_454550142" title="FE_CSR_05_454550142" itemprop="contentUrl" width="480">

                    <figcaption class="caption">
                        <span>A 50-foot cigarette is "snuffed out" by CVS in New York City.</span>
                        <span>Andrew Burton/Getty</span>
                    </figcaption>
                </div>
            </figure>
            <p>But CSR can also be a useful defense. It not only builds up a stock of goodwill with the media and the
                public, but it generates good news that crowds out the bad. Large corporations are going to get a
                certain amount of press and awkward questions each day—better that press and those questions be about
                CSR than, say, worker safety or GMOs. For example, in 2018 when Johnson &amp; Johnson was accused of
                knowingly selling baby powder with harmful levels of asbestos, Harvard professor Bill George wrote a
                stirring defense of the company, focusing not on the merits of the claim, but on J&amp;J's "Our Credo,"
                a commitment to integrity and customers written in 1943 (and likely the first CSR document ever
                produced.)</p>
            <p>Still, not everyone is convinced. There are many who adhere to the late economist Milton Friedman's
                argument that the sole purpose of the corporation is to make more money for shareholders, who can then
                choose for themselves whether or not they want to save the world.</p>
            <p>Judith Samuelson, vice president of Aspen Institute and founder of their Business and Society Program,
                who's worked with many of the companies currently leading the way in CSR, says, "The shareholder primacy
                viewpoint hasn't gone away. And even if attitudes have changed, measures haven't. Many executives,
                including CEO's, are still paid in stock, and those who manage portfolios for institutional investors
                are still bonused on the value of those portfolios."</p>
            <p>Samuelson worries that "Companies may think these (current) programs are enough and not make fundamental
                change." Kashner is more optimistic. She cites work that says large public companies are increasingly
                incorporating CSR metrics into executive compensation contracts.</p>
            <p>Those who oppose CSR programs argue that trying to do two things at once, like making a profit and
                serving society, will destroy the effectiveness of companies.</p>
            <p>Samuelson scoffs at this. "Of course companies can do more than one thing. Public companies have to
                manage multiple objectives all the time. No public company in the world would last a week if the only
                people they cared about were shareholders. What about customers? Employees?"</p>
            <p>She believes that CSR really boils down to responsible decision making, doing what it takes for companies
                to succeed in the long term. Whatever, CSR is here to stay. It's become part of the fabric of investing,
                company operations, and business school curricula.</p>
            <p>It's now being tracked and measured, and in business, what gets measured gets done.</p>
            <p><strong>→ Sam </strong><strong>Hill</strong><em>, </em><em>a </em>Newsweek<em> contributor, is an author
                and former C-suiter.</em></p>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}