{% extends "news/base.html" %}

{% block content %}
    <div class="content">
        <h1>Taking Virtual Reality for a Test Drive</h1>
        <img src="https://media.newyorker.com/photos/5dddb808996e66000803ba4c/master/w_727,c_limit/191209_r35551.jpg">
        <p>Reality being what it is right now, doesn’t an alternative sound tempting? That’s what I was thinking the
            other day, in my apartment, when I adjusted the Velcro straps on my Oculus Quest, a chunky
            virtual-reality headset made of black plastic, rubber, and a few billion transistors. The headset blocks
            all ambient light from the wearer’s eyes—the razzle-dazzle happens inside. I looked as if a gerbil’s
            casket had been plastered onto the upper half of my face. There was a faint new-car smell.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            I pressed the Power button and found myself in the center of a computer-rendered 3-D glass geodesic dome
            with a million-dollar view of mountains. Sensors in the V.R. headset tracked my movements and
            instantaneously rejiggered the mise-en-scène. Gazing up, I saw stars; turning full circle, I took in a
            few Danish-modern sofas, a bookcase, and potted plants. Oh, look, I thought, my Oculus has a fireplace!
            (For a moment, I considered ditching my apartment and moving, with my headset, into a closet.) In the
            “living room” was an enormous floating display with a menu of options from Oculus—apps and games that I
            could buy for $9.99 to $29.99 (some are free). Should I travel aboard the International Space Station
            and experience zero gravity? Take a guided Tai Chi class? Create 3-D paintings in the air? Have a
            tête-à-tête with Jesus, who would lead me in a guided meditation? (The In His Presence V.R.&nbsp;Web
            site asks, “How can God fit into your crowded life with everything else on your plate?”) Disunion, the
            guillotine simulator, was discontinued, so I’d have to find another way to imagine what it was like to
            be executed during the French Revolution—perhaps I could download the app produced by Excedrin that
            allows one to feel what it’s like to have a migraine? (Philosophical query: Is it O.K. to cancel a
            real-life appointment because you have a virtual headache?)
        </p>
        {% if paywall.show %}

            <p>Using the remote control, whose position and buttons are tracked by the headset (there is one for each of
                your hands), I pointed a light beam at one of the selections—“First Steps,” the introductory
                tutorial—and pulled a trigger. I learned how to manipulate objects with my glowing white avatar hands. I
                practiced picking up bright-colored polygons and dropping them to the ground, played tetherball,
                operated a drone, and swing-danced with a character who bore a resemblance to the M&amp;Ms mascot. If
                you’d been there, you’d have heard me say “Wow!” an obnoxious number of times. With no visual evidence
                of the outside world, it was easy to forget that I was in my kitchen. The sensation of being caught up
                in an illusory scenario is the Nirvana of a well-designed virtual experience. In V.R. circles, this
                phenomenon of believability is known as “presence,” and it is why your heart rate spikes and you duck
                for cover when a pretend animated avalanche cascades toward you.</p>
            <p>Back in the fakescape of my tutorial, I stretched out my arm to press an imaginary button on an imaginary
                console on an imaginary table, then lost my balance and fell off the stool I was sitting on, slamming
                onto the very real floor. I broke my toe. This was a minor misfortune compared with that of the Russian
                man who, while wearing V.R. goggles, crashed into a glass table and bled to death, according to a <em>TASS</em>
                news story. The Oculus has a feature that allows you to map out a safe zone and then warns you when
                you’ve stepped past the perimeter, but I’d been sitting down.</p>
            <p>Fortunately, synthetic globe-trotting is not toe-dependent. During the next several weeks, in various
                offices and media labs, I had adventures that in the physical world would defy the laws of physics but
                would be business as usual in a Looney Tunes cartoon. In a warehouse in Pennsauken, New Jersey, lying
                face down on a contraption that looked as if it were built for medieval torture, I flapped my arms,
                which were strapped to plastic “wings,” and flew like a bird over New York City. I played a starring
                role in scenarios designed to educate students, train employees, treat depressed adolescents, help
                football quarterbacks find open receivers, teach doctors how to communicate with patients, tour college
                campuses, help police de-escalate tense situations, and increase over-all empathy. I stood next to
                Lincoln’s ear on Mt. Rushmore.</p>
            <div><p>What to do first? There are hundreds of so-called experiences in the Oculus store, and more that I
                could import from YouTube and other Web sites. Since gaming makes up most of the consumer V.R. market,
                there was also a vast geekdom of games. However, most of them seemed more like 3-D versions of existing
                video games than like radical reinventions of the form, so I chose not to focus on them. Even if the
                apps were available in 5-D, I doubt that I’d enjoy playing Genital Jousting or Hold My Beer, in which
                the player is dared to perform stunts, like crossing a busy road, while algorithmically inebriated.</p>
                <p>I searched for something sober-minded, and found the Anne Frank House, an app that would allow me to
                    navigate through the secret annex of the office building where Frank and seven others hid during the
                    Second World War. The experience is interactive, so I gained access to the hideaway just as its
                    occupants did—by pulling open a hinged bookcase. The actual museum,<span data-page="page_2"></span>
                    in Amsterdam, is empty, the contents having been cleared out by the arresting officers in 1944. In
                    the app version, the hideout has been convincingly restaged (with Anne’s glasses, her father’s
                    Dickens novel). Up in the claustrophobic attic, I could hear the ominous sounds of a plane overhead,
                    birds chirping outside, and the creaking floorboards. But most heartbreaking to me was seeing the
                    pencil marks on the wall showing how much Anne had grown during the years in which the family was in
                    hiding.</p>
                <p>After the attic, I needed company, so I decided to try a social V.R. platform. These digital 3-D
                    stomping grounds allow groups of people, represented by avatars, to gather in real time for
                    concerts, sporting events, dance parties, writing workshops, or meetings, or just to hang out. Ryan
                    Schultz, a reference librarian at the University of Manitoba and a V.R. blogger, credits them with
                    lifting his depression. Describing himself in the realm outside his Oculus, he wrote, “To be honest,
                    I kinda suck at this whole reality business.” Now he straddles both cosmos, a recent high point
                    being an evening in which he joined five hundred avatars in a marathon game of drag-queen bingo.</p>
                <p>One Wednesday, I had a big night out on a platform called AltspaceVR. With an elegant green-and-blue
                    robot avatar as my stand-in, I ventured forth into “Mingle and Chill,” an event held weekly from
                    eight to eight-thirty. It felt like an avant-garde production of “Cyrano de Bergerac.” If an avatar
                    mingled in a way that bothered me, there were misanthropic measures that I could take. I could mute
                    it, make it invisible to me, or install a bubble around my avatar that insulated me from the
                    offending party—a nifty add-on that some tech entrepreneur should consider offering in the real
                    world. Hearing an announcement that the event was about to begin, I hurried through the bar area,
                    where avatars were chatting, and found myself in a place that resembled a suburban Reform
                    synagogue—sleek, unadorned, full of natural light, with, up front, a slightly raised bimah for the
                    moderator. About fifty avatars, in the forms of robots and humans, milled around, some high-fiving
                    one another, some hovering in the air like drones.</p>
                <p>“I’m upset about the world-building tools,” someone named Henry, who apparently had the floor, said.
                    It was impossible to tell who was speaking. The avatar with the blue mop of hair and matching beard?
                    The purple robot whose yellow stripes flashed on and off? Some participants seemed to know what was
                    happening, because I noticed heart and handclap emojis radiating above the heads of several in the
                    room. Before leaving AltspaceVR, I dropped by Open Mic night, which was attended by seventy-one
                    avatars, many of whom were standing in a line by the stage, waiting to perform. “I almost fell off
                    the stage!” one joked, and then recited an original poem, which ended, “The thought of your not
                    being here makes me sad.&nbsp;/&nbsp;We will have our memories to make us glad.” At this point, a
                    bubble popped into my view, with the word “Hello:)” inside. I scrambled to look for the menu of
                    canned responses, but my new friend had drifted off. Had I just turned down a virtual date?</p>
                <p>Enough with avatars. I decided to visit some pigs. The National Pork Board, in an effort to show the
                    world that its products formerly lived the good life, has released a five-minute V.R. propaganda
                    tour of three pig farms. I streamed it onto my headset from YouTube and was greeted by Maddie
                    Hokanson, a pig farmer in Minnesota, whose ebullience seemed a little unwarranted, given that she
                    was standing in a farrowing barn among hundreds of swine. I turned my head and looked around: happy
                    sows and adorable piglets in every direction. No smells! No muddy shoes! So it was kind of a downer
                    when a smiling Hokanson signed off by saying, “A three-ounce serving of pork is an excellent source
                    of protein, B vitamins, and other essential vitamins and minerals.” <em>Bon appétit!</em></p>
                <p>Macy’s has equipped the furniture departments in stores around the country with V.R. headsets so that
                    customers can visualize how, say, the plaid sectional will look in their den, rather than
                    discovering, after lugging it home, that the only way it will fit is if one end is jammed into the
                    fireplace. Customers at the Herald Square location are buying more and returning less, according to
                    Jazel Armutliev, a V.R. concierge at the store. When I stopped by for a demonstration, Armutliev
                    raised my expectations. “It changes people’s lives,” she said. “Customers get very emotional. One
                    cried.” Then she put my expectations on hold. “I shouldn’t say this,” she said, pausing, “but older
                    people gravitate to it the most.” Under her supervision, I entered details about my living room into
                    a tablet—dimensions, window size, wall color, type of flooring. We positioned digital stand-ins for
                    my furniture, culled from the Macy’s catalogue. I put on the headset. “Here’s the magic,” she said.
                    Yes, there was (sort of) my living room, but whoa: one of the walls had been shifted a few feet and
                    now sliced through my dining-room table. Original!</p></div>
            <div><p>Jaron Lanier, a computer scientist/musician/artist/writer, popularized the term “virtual reality,”
                in 1987. Even then, the concept wasn’t new. As with noodles or eye makeup, its origins are hard to
                pinpoint. We do know that, in 1962,<span data-page="page_3"></span> the cinematographer Morton Heilig
                introduced an apparatus called the Sensorama Simulator for which he created six short 3-D films,
                including “I’m a Coca-Cola Bottle.” In a film called “Motorcycle,” the viewer, ensconced in a vibrating
                bucket seat, stuck his or her head into a box, where footage simulating zooming through Brooklyn
                unspooled. The visuals were enhanced by wind from a fan and by odors of car exhaust. The Sensorama was a
                commercial flop. Three years later, the computer scientist Ivan Sutherland built what is regarded as the
                first computerized head-mounted display. This was the Sword of Damocles, so called because the metal
                visor—which looked like a head vise with goggles—dangled from a mechanical arm attached to the ceiling.
            </p>
                <p>Although V.R. has not been as lucrative as entertainment companies had hoped, the medium is used a
                    lot in the military (flight and battlefield simulations), for business training, and in health care
                    (preoperative mapping, virtual cadavers for medical students). Therapists use it to treat P.T.S.D.
                    and phobias by exposing patients to their worst fears in controlled doses, eventually desensitizing
                    them to whatever is causing their anxiety. Religion has gone digital, too. The flesh-and-blood
                    pastor D.&nbsp;J.&nbsp;Soto conducts services on the social platform VRChat, in which he preaches to
                    and performs digital baptisms on congregants represented by Winnie the Pooh, SpongeBob SquarePants,
                    and banana avatars.</p>
                <p>The new technology has also transformed pornography. The V.R. camera, coming in close, can play a
                    supporting role—one that does not shy away from intimacy and eye contact—and you, the viewer,
                    instead of being a voyeur, are a participant, if you get my drift. Moreover, by tending to focus on
                    the hundred and eighty degrees in front of the viewer instead of on the traditional three hundred
                    and sixty, V.R. porn is able to deliver a higher resolution than many other genres.</p></div>
            <div><p>In 2014, <a href="https://www.newyorker.com/tag/mark-zuckerberg">Mark Zuckerberg</a> spent two
                billion dollars to acquire Oculus Quest V.R., which was then a two-year-old hardware company, announcing
                that he intended to make V.R. the “most social platform ever” and “change the way we work, play, and
                communicate.” Today, Oculus is the second-largest seller of headsets, after Sony; but, show of haptic
                gloves, how many of you can say that your daily lives have been transformed by this new medium?
                (Luddites: Haptic gloves endow you with a sense of touch when you interact with a virtual world.)</p>
                <p><a href="https://www.newyorker.com/tag/Facebook">Facebook</a> lent me my Oculus Quest, along with a
                    cheaper Oculus Go ($399 and $199, respectively; perhaps because headsets enable “travel,” their
                    names often sound like cars—Samsung Gear, Valve Index, Samsung Odyssey). The company’s vast
                    headquarters, in Menlo Park, California, might be either the most utopian dystopia or the most
                    dystopian utopia ever. I met with Yelena Rachitsky, an executive producer of media. Since Oculus no
                    longer creates experiences in-house—it sells equipment and acts as a distributor of content in the
                    virtual store that comes on every headset—what does Rachitsky do? “Independent creators and
                    developers aren’t making their money back, so we’re helping seed the ecosystem,” she said.</p>
                <p>Rachitsky, who had worked in immersive theatre, explained, “In film, you’re watching things and
                    you’re vicariously living through the characters.” She teed up the “Coco” app in my headset so that
                    my avatar and hers could have fun together in an animated world based on the <a
                            href="https://www.newyorker.com/culture/cultural-comment/coco-a-story-about-borders-and-love-is-a-definitive-movie-for-this-moment">Pixar
                        movie</a>. “In V.R., you’re <em>with</em> the characters,” she continued. “If you have agency
                    and feel like your choices matter, you care more.” Theoretically, I agree, but the option of
                    choosing an outfit for my Day of the Dead skeleton avatar or teleporting with Rachitsky’s avatar to
                    a Mexican plaza and taking virtual selfies together felt more like being seven and putting on a
                    puppet show with your friend than like making meaningful life decisions.</p>
                <p>My favorite experiences among the offerings in the Oculus store turned out to be minimally
                    interactive. “Notes on Blindness,” a work created in 2016 and narrated by a theologian who went
                    blind, conveyed through audio and animations of spectral blue light what it might be like to live in
                    the almost-dark. By moving my head, I could control the wind blowing against chimes. “Traveling
                    While Black” (2019), a documentary set mostly in the real-life Washington,&nbsp;D.C., restaurant
                    Ben’s Chili Bowl, moves through time from the Jim Crow era of 1958 to the present. In the last
                    scene, you are in one of the diner’s booths, opposite the mother of Tamir Rice, who tells you the
                    story of her son’s fatal shooting.</p>
                <p>One flaw in pieces like this one is that it can be hard to focus properly on the stories being told,
                    because it’s so tempting to peer around your three-hundred-and-sixty-degree surroundings to see what
                    everyone is eating, wearing, and listening to on the jukebox. Telling a conventional narrative while
                    allowing for the distraction of interactivity, Rachitsky said, “is a hard nut to crack.” As the
                    Stanford University professor Jeremy Bailenson, who will show up in a few paragraphs, put it, film
                    is fascism and V.R. is anarchy.</p></div>
            <div><p>When is a startup no longer a startup? When it ditches its Foosball table so that the game room can
                be turned into additional cubicle space. Such is the situation at the bustling two-story Menlo Park
                headquarters of Strivr, a business created in 2015 that designs immersive software to help companies
                train employees. Before checking out a few of its products, I asked the company’s C.E.O.<span
                        data-page="page_4"></span> and founder, Derek Belch, who is thirty-four, how Strivr started.
                “The founding story? I only told that six times yesterday,” Belch said, before launching into a
                chronology that left me with the conclusion that nothing bad has ever happened to him.</p>
                <p>A former kicker on the Stanford football team, Belch, after earning an M.B.A., returned to his alma
                    mater as an assistant coach while getting another master’s degree. For his thesis project, he
                    devised a virtual way to train football players—a three-hundred-and-sixty-degree photo-realistic
                    enactment of plays, allowing, say, a quarterback to practice playing against a virtual defense
                    simply by using a headset. When the Stanford team adopted his program, its performance improved so
                    dramatically that the coach told Belch, as he put it, “If I were you, I’d get the hell out of here
                    and go start a company. I’ll even give you some money to get off the ground.” That year, twenty
                    N.F.L. and college football teams bought Belch’s software, bringing in three million dollars in
                    revenue. The next year, Walmart signed on, and Strivr technology is now used in all the company’s
                    forty-seven hundred U.S. stores, and by thirty Fortune 500 companies.</p>
                <p>In my first demo, I am a JetBlue technician, standing on the runway under an Airbus 320, which I’m
                    preparing for flight. “This is instead of renting an airplane or doing the training at three in the
                    morning because that’s the only time the plane is available,” Belch explained. The lesson was not
                    unlike a driver’s-ed class, minus the couple who crash on their way to the prom. More intense was
                    the Verizon drama in which I played a store manager being held up at gunpoint. No matter how much
                    your brain knows that the masked guy in the hoodie is an actor holding a toy in cyberspace, the
                    message is not conveyed to your pounding heart when you hear “Open the door!” and turn around to see
                    the barrel of a pistol. Walmart also has a V.R. instruction module on how to deal with an active
                    shooter. Doug McMillon, the company’s C.E.O., credits this program with preventing the death of <a
                            href="https://www.nytimes.com/2019/08/03/us/el-paso-shooting.html" target="_blank">even more
                        people</a> at its El Paso store in August. (Right now, let’s try not to think about what happens
                    when the bad guy buys an Oculus.)</p></div>
            <div><p>“We’re going to do the holodeck thing and jump to somewhere new,” Philip Rosedale’s avatar said to
                my avatar, both constructed from selfies we had taken. When he is not posing as a bunch of pixels
                conjured by data, Rosedale resembles a Danish movie star, but his stand-in was a dead ringer for Andy
                Warhol. Mine had a Nancy Pelosi-in-leggings vibe. “Just press the Enter key and you’re going to
                disappear. I’ll be right behind you,” Rosedale added, and, presto, I was making my way down the steep
                stone steps of Queen Nefertari’s tomb, trying not to trip, although, in fact, I was sitting in a small
                room at Stanford, wearing a headset and manipulating a joystick with my thumb. Rosedale was doing the
                same in a room down the hall. In 2003, he created Second Life, an artificial world not unlike The Sims,
                that’s accessible through a computer. At its peak, in 2007, Second Life’s active population was a
                million. So-called residents can marry, have babies, buy or rent property, construct buildings, go
                dancing, take classes at accredited colleges (on a pirate ship, if that’s your thing), shop, and earn
                virtual money that can be converted to the real thing. (Some users make hundreds of thousands of dollars
                a year selling virtual clothes for avatars.)</p>
                <p>Rosedale stepped down as C.E.O. in 2008, and in 2013 he launched High Fidelity. It was meant to be a
                    sequel to Second Life—a confederation of communal V.R. spaces, sometimes called a metaverse (a term
                    coined by Neal Stephenson, in his 1992 science-fiction novel, “<a
                            href="https://www.amazon.com/dp/0553380958/?tag=thneyo0f-20" target="_blank" rel="nofollow">Snow
                        Crash</a>”). By 2019, despite the optimistic predictions of some tech leaders, it had become
                    clear that, at least in the near future, there would not be a headset on every head. Last May, High
                    Fidelity laid off twenty per cent of its employees and shifted its focus to include 3-D environments
                    viewable on 2-D computer screens, and marketing its applications to businesses instead of to
                    individual consumers. If AltspaceVR is a singles scene, High Fidelity is an office party.</p>
                <p>The tomb I’d explored, based on thousands of screen captures, is a promotional model built by High
                    Fidelity to sell teachers and docents on the idea of virtual tours. In Egypt, tourists are allowed
                    to visit Nefertari’s fragile tomb for no longer than ten minutes. In High Fidelity’s enhanced
                    replica, you could theoretically move in and redecorate; plus, there are loads of virtual props,
                    which a designer can add for a fee—such as the laser pointer that Rosedale brandished to direct my
                    attention to the sarcophagus or to the candles on the table. They’re unscented—but someday we might
                    be able to get a whiff of Yankee Candle’s “Festering Pharaoh and Sandalwood.” A company called
                    Feelreal is taking preorders for a two-hundred-and-ninety-nine-dollar “multisensory mask” that
                    simulates heat, wind, vibration, and rain, as well as two hundred and fifty-five scents, including
                    burning rubber and patchouli: the perfect combination for evoking a New York taxicab.</p>
                <p>A few worlds later, the panda bear that represented Rosedale suggested that we visit his office. Not
                    the real one, in San Francisco, which costs<span data-page="page_5"></span> twenty grand a month.
                    High Fidelity gave that up for a virtual office, availing itself of the open-source platform the
                    company is developing which facilitates virtual meetings. The program is not yet offered to the
                    public, so, for now, High Fidelity is High Fidelity’s most enthusiastic customer.</p>
                <p>“This is where we work now. We’ve been meeting here for the past several months,” Rosedale said,
                    opening his laptop to reveal a tropical-island landscape that looked to me like “Brigadoon” set in
                    Malibu. A few avatars congregated in a conference room that has a whiteboard for jotting down notes,
                    and others could be seen paired off in snuggeries equipped with sound isolation for confidential
                    chats (“It’s like the real world, only better,” Rosedale said), relaxing in cabanas on the edge of
                    an emerald sea, or doing whatever it is that people do around the campfire. “We are trying to use
                    the technology to make the experience of remote working more human and less lonely,” he said,
                    handing me his headphones so that I could talk with Jess, an employee based in Wisconsin.</p>
                <p>I asked her to describe working in a virtual office. “It’s a lot more like working with co-workers
                    than being totally confined to text,” she said. “It’s more impromptu. I can walk by people and hear
                    what they’re talking about, and if it’s something I’m interested in I can intercept the
                    conversation.”</p></div>
            <div><p>At Stanford, I visited Dr. Loren Sacks, a specialist in pediatric cardiovascular critical care at
                the Lucille Packard Children’s Hospital. Sacks has developed a V.R. program that trains doctors in
                delivering bad news. This is a skill you want to hone before trying it on a sick person; and hiring
                professional actors to run lines with you—a method Sacks describes as “the gold standard”—is costly and
                not scalable. Sacks is a compact man with a cropped beard and mustache and a soothing delivery. In his
                tiny office, made tinier by a bed for overnight attending physicians, Sacks told me, “I’m not trying to
                teach people to be emotive. I’m giving people tips about how to communicate effectively, and how to
                convey the sense that they are invested in you. I want to give people a sort of armamentarium of
                techniques.”</p>
                <p>It was time for me to encounter a cyberparent. “Do you want an easy conversation or a slightly harder
                    one?” Sacks asked, explaining that in either case I would be informing the father of an
                    eight-year-old boy named Zach that, because of his son’s worsening condition, he would be taken off
                    the heart-transplant waiting list, and advising him that the mechanical support that his heart was
                    currently receiving should be withdrawn—a certain death sentence. There was also a third
                    possibility—dealing with a silent, uncommunicative parent—but I wasn’t offered that agony.</p>
                <p>Mr. Drake, the digital father, sat opposite me, with an expectant look. When he was not on the
                    screen, there were text guidelines about what I should say to him. “Explain that this week’s meeting
                    of the transplant team has a larger than normal impact on Zach.&nbsp;.&nbsp;.&nbsp;. This is the
                    time to prioritize Zach’s comfort.&nbsp;.&nbsp;.&nbsp;. Try to avoid medical jargon.&nbsp;.&nbsp;.&nbsp;.
                    Take a moment to relax your posture.&nbsp;.&nbsp;.&nbsp;.” I was feeling fairly proud of my bedside
                    manner until Mr. Drake suddenly stood up and yelled at me, “You don’t care about my son!” I was
                    directed to “acknowledge that this is a great deal of difficult information, and to offer him the
                    option of continuing at a later time.” Our conversation was then replayed, this time from Mr.
                    Drake’s point of view. Here’s what I learned: it’s a mitzvah for humanity that I didn’t take my
                    parents’ advice about becoming a doctor.</p></div>
            <div><p>It was in a nondescript room the size of a two-door garage that I was introduced to some of the
                mind-bending experiments being done at Jeremy Bailenson’s Virtual Human Interaction Lab, at Stanford.
                The work focusses on how simulated reality can shape our behavior. Bailenson, a forty-seven-year-old
                former psychologist and engineer whose sun-bleached chin-length hair suggests surfer dude, chaperoned me
                through a dozen or so digital excursions in the course of three hours. That’s a long time to be immersed
                in computerized mirages—the lab recommends twenty minutes max. “We work very hard to make you not
                dizzy,” Bailenson said. (He can tolerate only ten seconds of the simulation used by the Olympic ski team
                to practice slaloming.) Designing minimally nauseating content, he explained, is largely a matter of
                reducing the lag time between what you feel and what you see.</p>
                <p>Bailenson wanted me to try a V.R. piece in which I could fly like Superwoman. “There’s been an
                    earthquake in San Francisco, and the city’s been evacuated,” he said. “One child has inadvertently
                    been left behind. You must find him and give him his medicine to save his life. Are you ready? Hands
                    up and take off.” I took off like a champagne cork. The game is fixed so that you will find the
                    child in eight minutes and save the day. The user is not told that a control group, who are not
                    endowed with superpowers, are passive passengers on a V.R. helicopter tour of the city. After the
                    experiment “ends,” no matter which group you were in you will encounter a staged incident in the
                    laboratory hallway, in which someone has<span data-page="page_6"></span> an accident and needs help.
                    The flying heroes, it turns out, are more likely to offer assistance; presumably, seeing yourself as
                    the savior makes you feel like you have the power to help. The point is that what happens to you in
                    a V.R. world can ripple through the real world.</p>
                <p>During the next few hours, I sampled so many experiments aimed at turning me into an empathetic and
                    civic-minded person that I can’t believe I haven’t been honored yet by the United Nations. Assuming
                    the guise of a lumberjack, I wielded a chainsaw to cut down a sequoia after learning that similar
                    trees could be saved if I stopped using fluffy toilet paper. A study shows that someone who performs
                    this two-minute exercise is twenty per cent more likely to use less toilet paper compared with those
                    who, instead, merely watched a video about deforestation. Bailenson pulled me out of the experience
                    after a few seconds—time enough to make me feel guilty about the Charmin Ultra Soft in my bathroom
                    but not enough to make me throw it out.</p>
                <p>Then, there was the time I became a black man named Michael Sterling. The technique used to pull off
                    this deception is called body transfer, or body ownership, and it involves watching your body morph
                    into someone else’s. “Look at your reflection,” chirped a female narrator in “1000 Cut Journey,” an
                    immersive film created by a Columbia University professor named Courtney Cogburn, which premièred at
                    the Tribeca Film Festival last year. In front of me, in a full-length mirror, was a black boy, age
                    six, wearing a teal sweater and gray pants. “Take one step closer and examine your new body. Wave to
                    yourself. You have now become Michael Sterling,” she said, in the neutral tone you’d use to tell
                    someone he’s now Episcopalian. Yep, I’d been reincarnated: my hands, visible if I looked down, were
                    clones of his. In the body of Michael Sterling, I feel the sting of persistent racism, as manifested
                    in several scenes of “1000 Cut Journey.” I play with blocks alongside kids who tease me about my
                    skin color. At fifteen, I am stopped by the police in Brooklyn. At thirty, I am denied a job I
                    deserve. These would be disturbing stories to read about in the third person, but they are deeply
                    affecting and painful when they happen to you. Or even to “you.” Whether this will solve the race
                    problem in America remains to be seen.</p>
                <p>Body transfer can also allow you to switch genders; become older or younger or forty feet tall; have
                    an out-of-body experience in which a duplicate you levitates above your body and hovers angelically
                    aloft—thus, the theory goes, reducing your fear of death. Or you could turn into a cow. This last
                    transformation came out of a project by one of Bailenson’s former students, who wanted to find out
                    whether walking on all fours while being poked by a virtual electric prod and led to slaughter would
                    make a person feel more connected to animals (and, presumably, lower one’s subsequent meat
                    consumption).</p>
                <p>What happens when we can’t tell the difference between the synthetic and the actual? I got an inkling
                    of that future when Mark Miller, a graduate student in computer science at Stanford, appeared in the
                    lab, grinning widely. A few seconds later, an identical Mark Miller walked in and stood next to his
                    holographic twin. What I was seeing through my HoloLens (Microsoft’s smart glasses, $3,500) was the
                    product of augmented reality. Unlike V.R., which wholly immerses the viewer in a digital creation,
                    A.R. superimposes computer-generated visuals and audio over the physical landscape, and can be
                    viewed on either a handheld device or a head-mounted display. This technology allows you, for
                    instance, to superimpose directions over the road while you’re driving, receive data about an
                    enemy’s whereabouts on a battlefield, and imagine how pink-flowered wallpaper would look in your
                    powder room—or on a subway platform, if you’re into sprucing up the Fifty-ninth Street station.</p>
                <p>“You know,” Bailenson said, “if a few years from now we all have Apple glasses on, Alexa has a body,
                    and your mother who lives thousands of miles away is here, then the way we walk around a room is
                    going to be governed by ghosts no one else can see.” And you thought strangers talking on their
                    Bluetooth earbuds in public was annoying.</p></div>
            <div><p>Of all my out-of-this-world moments, the most sublime were those I spent in the Stanford swimming
                pool. The actual sun shone gloriously as I floated in the pool’s shallow end, a watertight headset
                strapped against my face, a snorkel permitting me to breathe, and a tether attached to the flotation
                belt around my waist to keep me from drifting into a wall and breaking another toe. Nonetheless, I felt
                as if I were scuba diving along the ocean floor. I passed coral reefs and a shipwreck and swam with
                manta rays and singing humpback whales. Later, with a seal as my guide, I explored the lost city of
                Atlantis and then, after a slight technical glitch, glided through outer space, beholding Earth from
                afar and inspecting the Hubble telescope up close.</p>
                <p>Stephen Greenwood, the C.E.O. and founder of Ballast Technology, the company that produces these
                    expeditions for water parks (consumers pay around ten dollars a pop), explained in the cafeteria
                    after my pretend dive that when<span data-page="page_final"></span> you are submerged in water you
                    are less likely to suffer from motion sickness than you are on land. Ballast is in the business of
                    location-based entertainment (L.B.E.), a thriving sector of the disappointing consumer V.R. market.
                    The term is used to describe any multiplayer game or amusement that takes place at a site outside
                    the home, such as an arcade, a cinema, an escape room, a theme park, or Washington, D.C. There are
                    estimated to be about fifteen thousand of these types of venues, not including Washington, D.C.</p>
            </div>
            <div><p>My Oculus Quest now sits on a bench at home in my foyer, making me feel guilty whenever I walk by.
                Keram Malicki-Sanchez, an actor and futurist and the founder and director of Canada’s longest-running
                V.R. conference, told me (by old-fashioned e-mail from Toronto) that my response was typical: “People
                are dismayed when they find their V.R. headsets collecting dust, having believed that they would use
                them all the time.” This, however, is the correct scenario; V.R., he said, is a tool—not a
                television—akin to a typewriter, a piano, or a toaster oven.</p>
                <p>I wondered, Was there anything in the here and now that could not be replaced virtually? Rosedale had
                    answered, “A hug.” Ken Perlin, the founding director of the Future Reality Lab, at N.Y.U., addressed
                    the question in a poem that he wrote on his blog in September, the entirety of which is:</p>
                <blockquote><p>when technology<br>shifts reality, will we<br>know the world has changed?</p>
                </blockquote>
                <p>In order to get a feel for the future, Jak Wilmot, the twenty-two-year-old co-founder of a V.R.
                    content studio called Disrupt, lived inside a headset for a week in February—and, of course,
                    live-streamed every second. Cocooned in his five-hundred-square-foot apartment in Atlanta, the
                    windows blacked out so that his circadian clock would not be affected by natural light, he slept,
                    ate, exercised, socialized, and worked in virtual reality. He did not take his headset off even to
                    shower, keeping the electronics dry under a homemade rig that looked like a plastic-wrapped stool
                    perched on top of his head. What he missed most, he told me, was “not seeing day or night cycles,”
                    adding that “to counteract this I ended up loading in simulations that would match the real-world
                    time—a sunrise field in the morning, nighttime sky at night.” At the end of hour one hundred and
                    sixty-eight, you can watch Wilmot ceremoniously lift his headset off his head, squint, and break
                    into a smile. The smile gives way to laughter as he goes outside and looks up at the sky. “Oh, my
                    gosh, the graphics,” he says. “They’re so good.”&nbsp;♦</p>
                <p>This article has been updated to include the new name of Ken Perlin’s lab at N.Y.U.</p></div>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}