@media only screen and (max-width: 600px) {
    .headerText {
        visibility: hidden;
        width: 0px;
    }

    #payMsg {
        white-space: nowrap;
        position: absolute;
        right: 10px;
        margin-left: 10px;
    }
}

body {
    margin-top: 100px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background: #021E72;
    color: white;
    width: 328px;
    height: 36px;
    border-radius: 4px;
    font-family: Roboto, "Segoe UI";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    vertical-align: center;
    margin-bottom: 30px;
}

.outlined {
    color: #021E72;
    background: white;
    border: 1px solid #021E72;
    border-radius: 4px;
    width: 328px;
    height: 36px;
}

.primary {
    font-family: Roboto, "Segoe UI";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 1.25px;

    color: #000000;
}

.secondary {
    font-family: Roboto, "Segoe UI";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1.25px;

    color: #7B7B7B;
}

.paytext {
    background-image: linear-gradient(#000, #c9c9c9, #fff);
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

a.btn {
    margin-top: -20px;
    margin-bottom: 30%;
    margin-left: 10px;
    margin-right: 10px;
}


.container {
    text-align: center;
}

.header {
    height: 60px;
    z-index: 10;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F4F4F4;
}

nav {
    width: 100%;
    height: 60px;
    z-index: 10;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

nav .headerFinnplus {
    margin-left: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: black;
}


#tillPayment {
    width: 100%;
    position: absolute;
    text-align: center;
    color: black;
    margin:-26px;

    font-family: Roboto, Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
}

#payMsg {
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
    color: black;
    vertical-align: middle;
    font-family: Roboto, Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
}

.progress-container {
    width: 100%;
    height: 4px;
    background: #BAC1D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progress-bar {
    height: 4px;
    background: #021E72;
    width: 0%;
}

.progress-divider-old {
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: #292f36;
    margin: auto 50% auto 50%;
}

.progress-divider {
    position: absolute;
    left: 49.44%;
    right: 49.44%;
    width: 16px;
    height: 16px;
    background: #F4F4F4;
    border: 4px solid #BAC1D5;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: -6px;
}

.headerText {
    padding-top: 10px;
    text-align: center;
    color: black;
    vertical-align: middle;
    font-family: Roboto, "Segoe UI";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
}