<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Not enough tokens</p>
    <p><a href=http://finnplus.eu.pythonanywhere.com/>Get more tokens</a></p>
  </div>

</div>
		<div class="header">
			<nav class="fixed-header">
		        <div class="headerFinnplus"><a href="{{ finnplus_domain }}">FINN+</a></div>
		        <ul >

                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                            <script>noTokensPopup();</script>
                            <li>{{ message }}</li>
                        {% endfor %}
                    {% endwith %}
                    {% if data %}
                        <li id="payType">Payment type: {{ data.method }}</li>
                        <li id="payMsg">{{ data.message}}</li>
                        <li id="userName">Logged in as: {{ data.name }}</li>
		                <li><a href="/logout">Logout</a></li>
                    {% endif %}
		        </ul>
	    	</nav>
            {% if pay %}
            <p id= "paid">&#10004 paid</p>
            <div class="progress-container">
                <div class="progress-divider" id="divider"></div>
                <div class="progress-bar" id="myBar"></div>
            </div>
            {%  endif %}
	    </div>

    {% block body %}
    {% endblock %}

</body>
</html>