<div class="container center">
    <p class="primary">Would you like to read the rest of the article?</p>
    <a href="{{ finnplus_domain }}/signup"  class="button">SUBSCRIBE </a>
    <p class="secondary">Already subscribed? Log in here.</p>
    <a href="" id="button" class="button outlined">LOG IN</a>
</div>

<script type="text/javascript">

    function receiveMessage(event) {
        if (event.origin == '{{ finnplus_domain }}') {
            if (event.data == 'ready') {
                event.source.close();
                location.reload()
            }
            else {
                console.log(event.data)
            }
        }
    }

    function newPopup() {
        var url = '{{ finnplus_domain }}/signin';
        popupWindow = window.open(
            url, 'popUpWindow', 'height=600,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }

    function main() {
        var button = document.getElementById('button');
        console.log(button);
        window.addEventListener("message", receiveMessage, false);
        button.addEventListener('click', newPopup)
    }

    main();

</script>