{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Infinity Ward will update 'Warzone' as new Call of Duty games arrive</h1>
        <h2>We could see a PS5 and Xbox Series X release as soon as later this year.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        <img alt="Call of Duty: Warzone" class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2Ffee62ce0-8e10-11ea-bdaf-8fcb82349b4e&amp;client=amp-blogside-v2&amp;signature=d0bb188db666fbe5c8fd2492d396bed76a5258cb"/>
        {% if paywall.show %}
        
            <p><a href="https://www.engadget.com/2020-03-11-call-of-duty-warzone-impressions.html"><em>Call of Duty: Warzone</em></a> has a long life ahead of it. In an interview with <a class="_e75a791d-denali-editor-page-rtfLink" href="https://gamergen.com/actualites/call-of-duty-warzone-avons-parle-avenir-saison-4-next-gen-et-triche-developpeurs-notre-interview-complete-311584-2" target="_blank"><em>GamerGen</em></a>, Infinity Ward’s narrative director, Taylor Kurosaki, said the <a href="https://www.engadget.com/warzone-50-million-battle-royale-000124796.html">popular battle royale game</a> will connect to future Call of Duty titles, serving as the series' "one constant."  </p>
        
            <p>"<em>Warzone </em>will be the throughline that connects all of the different various sub-franchises of Call of Duty," said Kurosaki. In the same interview, Amos Hodge, creative director at support studio Raven Software, said something along the same lines: "<em>Warzone</em> is like its own product, so we want to support it like a full product with new game modes and updates."</p>
        
            <p>As to how the <em>Warzone</em> will connect to future Call of Duty titles, we’ll likely see Infinity Ward release in-game cosmetics that will be available in both <em>Warzone </em>and whatever the new Call of Duty game is at the moment. We already saw that at play with <a href="https://www.engadget.com/call-of-duty-modern-warfare-2-campaign-remastered-xbox-one-pc-180645155.html"><em>Modern Warfare 2 Campaign Remastered</em></a>. Moreover, those two statements would suggest the game<em> </em>will have a dedicated team working on it well into the future. In fact, when asked about whether Infinity Ward plans to port <em>Warzone</em> to <a href="https://www.engadget.com/2020-03-18-playstation-5-teraflop-specs.html">PlayStation 5</a> and <a href="https://www.engadget.com/2019-12-12-xbox-series-x-project-scarlett-the-game-awards.html">Xbox Series X</a>, Kurosaki said, "...as soon as those new systems are out and available, I'm sure we'll support them." </p>
        
            <p>A couple of other interesting tidbits came out of the interview. At the moment, Kurosaki said Infinity Ward doesn't plan to port <em>Warzone</em> to Google Stadia. Hodge also spoke a bit about how quickly Warzone has <a href="https://www.engadget.com/call-of-duty-warzone-bounties-most-wanted-contracts-141416297.html">tried and dropped some features</a>. "... if you look [at] <em>Modern Warfare</em>, they're constantly rotating modes in and out [...] so we're just trying to find our footing on that, what are the core modes and what we can rotate in and out."  </p>
        
            <p>The decision to treat <em>Warzone</em> as its own separate thing is good news for fans of the franchise. When Call of Duty first dipped its toes in the battle royale scene, it did so through <em>Black Ops 4's</em> <a class="_e75a791d-denali-editor-page-rtfLink" href="https://www.engadget.com/2018-05-17-call-of-duty-black-ops-4-ditches-campaign-for-battle-royale.html">Blackout mode</a>. Ultimately, the connection to <em>Black Ops 4 </em>hurt the mode's longevity more than it helped. But moving forward, it sounds like you won't have to buy the latest Call of Duty game to continue playing the series' battle royale mode with your friends. </p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
