{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Fashion chain J Crew files for bankruptcy protection in US</h1>
        <h2>Chapter 11 filing is the first by a major US retailer during the coronavirus lockdown</h2>
        <p>The fashion chain <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/fashion/j-crew">J Crew</a> has became the first major US retailer to file for bankruptcy protection during the coronavirus shutdown.</p>
        <p>The New York-based brand’s parent company made the <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/business/chapter-11-corporate-bankruptcies">Chapter 11 bankruptcy</a> filing in a Virginian federal court to buy itself breathing space as it plans to hand control over to its lenders, in exchange for the cancellation of $1.65bn (£1.3bn) of its debts. J Crew Group’s chief executive described the move as a “financial restructuring” that would enable the business to thrive for years to come.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Known for its preppy style and being a favourite of Michelle Obama, J Crew had been under pressure for some time as it struggled with debt and had fallen out of fashion with US shoppers, who turned to cheaper European rivals such as <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/zara">Zara</a> and <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/h-and-m">H&amp;M</a>.</p>
        {% if paywall.show %}
        
            <p>In addition, its vast store network of more than 500 US outlets became a burden as consumers increasingly moved towards shopping online.</p>
        
            <p>The retailer’s creditors, which include the hedge fund Anchorage Capital Group, Blackstone-owned GSO Capital Partners, and Davidson Kempner Capital Management, hold significant amounts of its debt and will take control of the company.</p>
        
            <p>The lenders will provide J Crew with about $400m of new financing during the bankruptcy proceedings.</p>
        
            <p>The retailer, which also owns the J Crew Factory and Madewell brands, became a consumer phenomenon, known for <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/2017/jun/10/j-crew-retail-corporate-debt-fashion-wardrobe-basics-hipster">its aspirational look </a> and, unusually for a mid-range clothing retailer, showing its products at <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/2013/feb/12/j-crew-new-york-fashion-week-show">New York </a><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/2013/feb/12/j-crew-new-york-fashion-week-show">fashion </a><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/fashion/2013/feb/12/j-crew-new-york-fashion-week-show">week</a>.</p>
        
            <figure class="element element-embed" data-alt="Guardian business email sign-up">
<iframe class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article" data-form-description="Get the headlines and editors' picks every weekday morning." data-form-success-desc="Thanks for signing up" data-form-title="Sign up for Business Today" frameborder="0" height="52px" scrolling="no" seamless="" src="https://www.theguardian.com/email/form/plaintone/3887"></iframe>
<figcaption class="caption caption--img">
Sign up to the daily Business Today email or follow Guardian Business on Twitter at @BusinessDesk
</figcaption>
</figure>
        
            <p>As its reputation grew beyond its 500 US stores, it expanded internationally, opening branches in Canada and the UK, where it has six outlets.</p>
        
            <p>J Crew will retain its Madewell brand and will continue to trade online during the bankruptcy proceedings, although some of its stores are not expected to reopen after coronavirus restrictions are lifted.</p>
        
            <p>The group’s chief executive, Jan Singer, described the agreement with its lenders as “a critical milestone in the ongoing process to transform our business”. Singer added: “As we look to reopen our stores as quickly and safely as possible, this comprehensive financial restructuring should enable our business and brands to thrive for years to come.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
