{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>How we met: 'I spotted her reading – I knew straight away she was the one'</h1>
        <h2>Carol Natelson, 67, and Ray Bertoia, 63, met in 1995 while they were working in a cruise ship casino. They married months later and now live in Hollywood, Florida</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">C</span></span>arol Natelson and Ray Bertoia had been travelling the world for years working in casinos when they met on a cruise ship in 1995. “I was working on another ship and was moved to her ship by pure chance,” he says. “As I was boarding, I spotted her outside a cabin reading a magazine. I just knew straight away that she was the one for me.”</p>
        <p>Carol, who is American, had sworn off dating, but, despite her reservations, romance blossomed quickly. “I thought he was cute and then we ended up spending lots of time together,” she says. They shared their first kiss on the island of Mayreau in the Grenadines. “We pretty much became a couple within two weeks of meeting. We had so much fun; it was like being on a holiday.”</p>
        <p>They spent three months together onboard the ship, before Carol’s contract finished. “I still had six months left, but there was no way I was staying on the ship without her,” says Ray, who is originally from Scotland.</p>
        <figure class="element element-image img--landscape element--supporting fig--narrow-caption fig--has-shares" data-component="image" data-media-id="7ff5b132a84ede9e3beaab53a8e772a6420c2394" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6acc95f2a9cc5c9c31660dece38d38ba" itemprop="url"/>
<meta content="1021" itemprop="width"/>
<meta content="730" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="380px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=380&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=dc3f3e1b9a4fbe5a6ceba6db793511dd 760w"/>
<source media="(min-width: 1300px)" sizes="380px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=380&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4d383acc13d20de98a11cd11cb0d6e3a 380w"/>
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="300px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=300&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=5581e1e148d6db3f6c64b52161d7d4a0 600w"/>
<source media="(min-width: 980px)" sizes="300px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=182e8a17365f70b03e5ac83d5e1c03c1 300w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=47bc289b06577139a3c126158320d2ef 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=38005f7328f8486ac2da1648aa158dfe 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=d56a0263e4b668ffc2e8ab28e53744c9 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=765067f064515a0e2f16263ab0944e04 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=adfbb386c9723fcad450aaba51220f0c 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e04726100a28b09fb8192bb0b56a40b7 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Carol and Ray in Sint Maarten in May 1995." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/7ff5b132a84ede9e3beaab53a8e772a6420c2394/0_0_1021_730/master/1021.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=182e8a17365f70b03e5ac83d5e1c03c1"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Carol and Ray in Sint Maarten in May 1995. Photograph: provided by Carol Bertoia
</figcaption>
</figure>
        {% if paywall.show %}
        
            <p>Although he had been planning a career working in the cruise casino industry, Ray didn’t hesitate to leave for Carol. They disembarked in Los Angeles, before heading to Palm Springs, where she found work in a local casino. It was hard work and long hours, but they loved the lifestyle. “We were in the pool one day when I asked her to marry me,” says Ray. “We went to Las Vegas in June to get hitched. Our witnesses included Carol’s sister and a few people we’d met on the ship.” The marriage meant Ray could start working at the same casino in Palm Springs. “Our wedding happened so fast that I don’t think anyone thought we’d last,” laughs Carol. “But here we are, 25 years later.”</p>
        
            <p>The couple built a home for themselves in Palm Springs. They kept up their passion for travel with regular trips to Europe. “Ray learnt to sail, too,” says Carol. “One of the things that I love most about him is that he is always up for anything and he likes to do different things.”</p>
        
            <p>She also loves his honesty and caring nature: “He doesn’t just care about me, he cares about everyone.” Ray says they have always been on the same wavelength. “I just liked her from the first moment. She loves an adventure and she’s a fantastic cook. I think when you know, you just know.”</p>
        
            <p>In 2009, Ray became seriously ill due to complications from diverticulitis, a digestive condition, and ended up on life support in a coma. His mother died while he was in hospital and it took him a long time to recover. For the next three months, Carol nursed him back to health. “Without her, I don’t know what I would have done,” he says.</p>
        
            <p>The couple had always dreamed of moving to the beach. In 2017, they took the plunge and bought a new home in Hollywood, Florida. “We have lots of family here. We can look out of the window and see the cruise ships,” says Carol. Ray found a job at <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/artanddesign/2020/jan/21/strummer-holidays-guitar-shaped-hotel-party-never-stops-hard-rock-beyonce-suite">the Hard Rock </a><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/artanddesign/2020/jan/21/strummer-holidays-guitar-shaped-hotel-party-never-stops-hard-rock-beyonce-suite">guitar </a><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/artanddesign/2020/jan/21/strummer-holidays-guitar-shaped-hotel-party-never-stops-hard-rock-beyonce-suite">casino</a> when they moved.</p>
        
            <p>He is currently out of work due to the pandemic, but says they are “very lucky”. “We were meant to be going on a cruise to celebrate our 25th wedding anniversary this year,” says Carol. “But we’ll just have to wait a bit longer.”</p>
        
            <p>Although Ray was 39 and Carol was 42 when they married, it was the first wedding for both of them. “Before Ray, I was always choosing the wrong guy,” says Carol. “It’s been so great to be with someone who I can always count on to be there for me.”</p>
        
            <p><em>Want to share your story? Tell us a little about you, your partner and how you got together by <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/lifeandstyle/2019/feb/18/tell-us-how-did-you-meet-your-partner" title="">filling in the form here</a>.</em></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
