{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Inside the Bergamo hospital where Russia has planted a flag</h1>
        <h2>‘Russians, Cubans, Chinese doctors came. Germans and French didn’t’

Coronavirus – latest updates
See all our coronavirus coverage</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">T</span></span>he sprawling trade fair and exhibition centre on the outskirts of Bergamo, the Italian city hardest hit by coronavirus, is now a field hospital. Instead of pavilions and stands there are 142 beds, only 38 of them occupied.</p>
        <p>Inside the hospital’s red zone, where the sickest patients are treated, there are almost as many Russian medical staff as patients: 32 military doctors and nurses and eight interpreters, all sent by Moscow in a controversial aid gesture.</p>
        <p>Accessing intensive care here is a complex process: two layers of protective gear have to go on: first a white hospital gown and then a disposable surgical suit, plastic sandals, gloves, transparent glasses, a transparent welding mask, all sanitised several times with hydroalcoholic gel. . Even then, it’s hard to feel 100% shielded from the virus that tore through this city and the surrounding region, leaving thousands dead in the space of a few weeks.</p>
        <p>Volunteer medics from an Italian NGO, who worked on the Ebola epidemic in Sierra Leone and medical teams from <a class="u-underline" data-link-name="in body link" href="https://www.businessinsider.com/video-tour-coronavirus-icu-ward-bergamo-italy-worst-apocalyptic-2020-3?r=US&amp;IR=T">Bergamo’s Papa Giovanni XXIII hospital</a> which bore the brunt in the first devastating phase of this region’s outbreak, staff the field facility. But the Russians are instantly recognisable because they brought their own distinctive PPE; white hazmat suits with blue stripes. </p>
        <p>The Russians also brought their own logo: two hearts, one wrapped in the Russian flag, the other in the Italian flag, conjoined by the words: From <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/russia">Russia</a> with Love. A poster carrying the logo has been stuck on the wall of the field hospital.</p>
        <p>The controversy in Italy surrounding the Russian presence, which <a class="u-underline" data-link-name="in body link" href="https://www.lastampa.it/topnews/primo-piano/2020/04/01/news/gli-aiuti-russi-in-italia-sul-coronavirus-il-generale-che-li-guida-e-i-timori-sull-intelligence-militare-in-azione-1.38664749">La Stampa</a> newspaper suggested was cover for an intelligence-gathering operation and which <a class="u-underline" data-link-name="in body link" href="https://www.cnbc.com/2020/04/07/why-the-kremlins-coronavirus-aid-to-the-west-is-controversial.html">others have speculated </a>is either aimed at getting the EU to lift sanctions, or a PR exercise to <a class="u-underline" data-link-name="in body link" href="http://www.rfi.fr/en/europe/20200405-russia-and-china-exploit-covid-19-crisis-to-discredit-european-union%E2%80%93-analyst">exploit the EU’s lack of cohesion</a>, is not something the Russian doctors are keen to discuss.</p>
        <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="aa69ab5c45d39b28e845aad7971f9d775879e7ff" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=bdb37e3fe1e43687ae7b3a3942957e3d" itemprop="url"/>
<meta content="3294" itemprop="width"/>
<meta content="2266" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=a1339608b40376fe0ca9a042f57b0eb1 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3a2205cc151b22cf201da9bb8f0a2cee 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=f161f5f5a9f92a4e48306c2168344a4b 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=066bc865a64fa0d1f3e5358666425892 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9928ecfab8741a471dbd6622a9b175f9 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d1cd146da3250c67a2b1bcd7b7f4cee4 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Lieutenant Colonel Alexandr Yumanov." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/aa69ab5c45d39b28e845aad7971f9d775879e7ff/509_522_3294_2266/master/3294.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=73f5c0263bf1cf11e0379f21df337795"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Lt Col Alexandr Yumanov. Photograph: Anna Bonalume
</figcaption>
</figure>
        {% if paywall.show %}
        
            <p>Lt Col Alexander Yumanov, head of the Russian medical team, says: “We do not want to get involved in this political controversy, we are doctors who do their job. There is a tradition in Russia that if someone asks us for help, we have to give it to them.”</p>
        
            <p>“We arrived fully equipped, our medical and nursing teams were ready to work from day one, as we had our eight ventilators. We brought another 45 ventilators to <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/italy">Italy</a> as a gift, as well as protective suits, masks, personal protection systems and test kits”.</p>
        
            <p>Where were the tests sent? “We suggested that Italy give them to Bergamo, but we don’t know where they ended up”.</p>
        
            <p>When are they planning to return to Russia? “These terms have not been defined, for the moment we are trying to give the best of ourselves”, says Alexander Volosatov, the deputy head of media of the Russian defence ministry, who accompanies Yumanov throughout.</p>
        
            <p>Are they waiting for everyone to be cured? “We’re waiting for the epidemiological situation to stabilise” Volosatov says.</p>
        
            <p>It is still not clear how the Russian involvement came about. A politician from Matteo Salvini’s pro-Russia Lega party <a class="u-underline" data-link-name="in body link" href="https://www.politico.com/news/2020/04/21/russia-coronavirus-offensive-200199">claims he brokered</a> the intervention via the German far-right party the AfD. The colonel says it was a bilateral arrangement between Italy’s prime minister, Giuseppe Conte, and the Russian president, Vladmir Putin. “Relations with Italy have always been good” he says.</p>
        
            <p>Oliviero Valoti, health director of this temporary hospital acknowledges early concerns about the Russian presence, from a medical perspective. “We were worried about language barrier issues and also cultural issues. In reality I must say that they have proved very efficient. They have aligned themselves perfectly with our approach, both from the therapeutic standpoint and from the clinical management of patients.”</p>
        
            <p>Stepping across the wide corridor that separates the different sectors of the hospital, Valoti, an anaesthetist , talks admiringly about the ventilators flown in from Moscow on Russian cargo planes: “All the equipment in there consists of respirators donated by the Russian contingent. These are respirators that do not exist in the west. We have evaluated and used them, they are of the highest quality. They are extremely useful in intensive care.”</p>
        
            <p>Guido Marinoni, president of the order of Bergamo doctors, contrasts the Russian intervention with EU solidarity. “Russian military doctors work at the [field] hospital. Albanians, Cubans, Chinese doctors came too. But Germans didn’t come, the French and Americans didn’t come. This might make one think. It’s not as if there was no coronavirus in China and in Russia.”</p>
        
            <p>In fact 44 critically ill patients were airlifted by the Germany military from Bergamo to hospitals with spare capacity in North Rhine Westphalia and Saxony, although the patient transfer scheme began after the Russians’ arrival. Germany also supplied Italy with ventilators while at least eight other EU governments provided protective equipment.</p>
        
            <p>Within the wards at the field hospital the patients are mostly male, many elderly and a few under thirty. </p>
        
            <p>Mauro Poleni, a 27-year-old technician from Paladina, was transferred here on 11 April. “At the beginning it was a bit strange. I thought it would be difficult to communicate with [the Russians], but the interpreters are good. They intervened promptly when I had a fever of 40”.</p>
        
            <p>Infection rates and hospital admissions in Bergamo are now falling, and the city’s youth are eager to resume their lives and jobs when lockdown is eased on 4 May. But traumatised by the losses in the city and villages of the surrounding valleys – officially the province of a million people lost 2,700 people, but the real toll is estimated to be closer to 5,000 – many older people remain wary.</p>
        
            <p>Dr Marinoni expresses a similar concern about resuming as before: “If we do not make sure that a gradual return is accompanied by a control of the infectious capacity of people going back to work, we are in dramatic danger of this taking off again”.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
