{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Becoming review – tantalising tour of Michelle Obama's life</h1>
        <h2>This carefully authorised documentary offers glimpses of a dazzling presence on America’s political stage</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">M</span></span><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/michelleobama">ichelle Obama</a> is a class act – one of the classiest – and her intelligence and poise now look like something from a lost golden age. The publication of <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/books/2018/nov/14/michelle-obama-becoming-review-undoubtedly-political-book">her globally bestselling memoir Becoming</a> in 2018 brought her dazzlingly into the public sphere on her own terms. It gave her an international A-list status to rival her husband’s and provided Democrats and non-Trumpians around the world with a manifesto of decency and dignity to cling on to.</p>
        <p>Now we have this watchable, but carefully authorised, behind-the-scenes documentary for Netflix (from the Obamas’ company, Higher Ground Productions) about Obama’s American book tour (with a stopover at London’s O2 Arena). It shows her getting in and out of armoured sports utility vehicles, chatting easily and good-naturedly with her security detail, with colleagues and family members backstage, with beaming celebrity moderators onstage (starting with Oprah Winfrey) and with people getting their copies signed in bookstores who often dissolve in floods of tears just in coming face to face with her. (I was sorry, however, that we didn’t get to see again <a class="u-underline" data-link-name="in body link" href="https://www.youtube.com/watch?v=1jTs121jq0Y">her amusing cameo in the TV comedy Parks and Recreation</a>, which showed Amy Poehler’s earnest public official Leslie Knope reduced to a gibbering fangirl in her presence.)</p>
        <figure class="element element-video fig--has-shares fig--narrow-caption fig--no-caption" data-canonical-url="https://www.youtube.com/watch?v=zqVUafhQ4xc" data-component="video-inbody-embed">
<div class="u-responsive-aligner" style>
<div class="embed-video-wrapper u-responsive-ratio" style>
<iframe allowfullscreen="" frameborder="0" height="259" src="https://www.youtube-nocookie.com/embed/zqVUafhQ4xc?start=10&amp;wmode=opaque&amp;feature=oembed&amp;start=10" width="460"></iframe>
</div>
</div>

</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Obama goes back to the family home in Chicago and talks about her background, and particularly about her late father (who died of MS), about meeting and marrying <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/barack-obama">Barack</a>, about raising children in the White House and about the terrible blow of leaving for the last time: she says she sobbed on the official plane for 30 minutes, partly out of sheer relief that her official duties were over. And this is interspersed with her meetings with girls and women of colour, talking about how her experiences can help them. Malia Obama has a cameo, speaking in a cool, smart vocal-fry.</p>
        {% if paywall.show %}
        
            <p>This is Obama’s own film, so we can’t expect any tough scrutiny. The nearest we get to her losing her cool comes when her elder brother, Craig, starts mocking her outfit, with what looks a high belt – and she doesn’t like it one bit. I also wondered exactly how delighted she was when Barack made what appeared to be a genuine surprise onstage appearance during one of her events, which he cheerfully compared to Jay-Z coming on during a Beyoncé concert.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="a6c1567f215632c291f6b9f77b2c123ab8509db3" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c4e7fcce4a75f05547793ca72ad522e9" itemprop="url"/>
<meta content="4421" itemprop="width"/>
<meta content="2655" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9ec5ace2a0197c91b59e8ac2b3a8f224 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=52b8715a17bdd3401371a5e677ee4798 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b7b078ce0a6fe45834da253cda827430 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=cd7011afb0c16e3ad782831f95d45039 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=110a6cda2eca3c17af9d528c39b1e75a 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7da10c215765a056c0ce7ec595e8103a 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Michelle Obama in Becoming." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/a6c1567f215632c291f6b9f77b2c123ab8509db3/567_666_4421_2655/master/4421.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=dfc49be2204ba91f99e86daad877712d"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Michelle Obama in Becoming. Photograph: Nicholas Kamm/AFP via Getty Images
</figcaption>
</figure>
        
            <p>She is still upset with her high-school teacher who told her she wasn’t smart enough to go to Princeton (but she did) and she is still mad at the press and media, who before the 2008 presidential election tried to paint her as a shrewish extremist. We see the notorious cartoon magazine cover, depicting Michelle and Barack as jihadis exchanging a fist bump. The magazine intended all sorts of essentially supportive ironies, which were not appreciated.</p>
        
            <p>Inevitably, it’s the things that don’t get asked that stick out. Nobody ever asks Obama why she took her husband’s surname, or if she had any qualms about that. Could it be that from the very first, she knew that Barack might have political ambitions and she wanted to tailor her own personality to that? The film doesn’t raise the question of <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/hillary-clinton">Hillary Clinton</a>’s tilt at the White House and Michelle’s own speech supporting her at the Democratic National Convention. And she doesn’t go low enough to talk (much) about Voldemort himself, other than to speak to Native American people about how embattled they feel during his grisly reign.</p>
        
            <p>She continues to go high, though: an altitude of which so few politicians are capable.</p>
        
            <p><span class="bullet">•</span> Becoming is available on <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/media/netflix">Netflix</a> on 6 May.</p>
        
            <p><br/></p>
        
            <p><br/></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
