{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Trump cuts U.S. research on bat-human virus transmission over China ties</h1>
        <h2>The National Institutes of Health on Friday told EcoHealth Alliance, the study’s sponsor for the past five years, that all future funding was cut.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/6ad1a93/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/94b9abf/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/e953739/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/155fac9/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/76f1556/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/ed33123/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg"/>
<img alt="National Institutes of Health" src="https://static.politico.com/dims4/default/8cb20a4/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff0%2Ffa%2F46f352004e26b03815fb5dfd90de%2F200421-nih-ap-773.jpg" title="National Institutes of Health"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Trump administration abruptly cut off funding for a project studying how coronaviruses spread from bats to people after reports linked the work to a lab in Wuhan, China, at the center of conspiracy theories about the Covid-19 pandemic’s origins.</p>
        <p class="story-text__paragraph">The National Institutes of Health on Friday told EcoHealth Alliance, the study’s sponsor for the past five years, that all future funding was cut. The agency also demanded that the New York-based research nonprofit stop spending the $369,819 remaining from its 2020 grant, according to emails obtained by POLITICO.</p>
        <p class="story-text__paragraph">“At this time, NIH does not believe that the current project outcomes align with the program goals and agency priorities,” Michael Lauer, the agency’s deputy director for extramural research, wrote in a letter to EcoHealth Alliance officials.</p>
        <p class="story-text__paragraph">The group caught national attention a week ago after reports swirled that millions from <a href="https://taggs.hhs.gov/Detail/AwardDetail?arg_AwardNum=R01AI110964&amp;arg_ProgOfficeCode=104" target="_blank">its NIH grants </a>had been sent to the Wuhan Institute of Virology, a research facility in the city where the coronavirus pandemic originated. In an email last week to NIH officials, EcoHealth Alliance President Pete Daszak denied giving any money this year to the Wuhan lab, although researchers from the facility have collaborated with EcoHealth Alliance scientists on research supported by an earlier grant.</p>
        <p class="story-text__paragraph">The Wuhan lab is at the center of conspiracy theories alleging that the coronavirus outbreak began when the virus escaped the facility. U.S. intelligence agencies and scientists <a href="https://www.politico.com/news/2020/04/17/china-secrecy-coronavirus-193120" target="_blank">have not found any evidence</a> to support the rumors.</p>
        <p class="story-text__paragraph">Meanwhile, the NIH’s strategic plan for studying the novel coronavirus, <a href="https://www.nih.gov/news-events/news-releases/niaid-strategic-plan-details-covid-19-research-priorities" target="_blank">released Thursday</a>, lays out four key priorities — including understanding its origin and transmission, in line with the EcoHealth alliance’s broader investigation of bat coronaviruses. The agency did not respond to a request for comment on its decision to terminate the group’s funding.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">In a statement, the EcoHealth Alliance said it wanted to know more about the NIH's reasoning. “For the past 20 years our organization has been investigating the sources of emerging diseases such as COVID-19,” the group said. “We work in the United States and in over 25 countries with institutions that have been pre-approved by federal funding agencies to do scientific research critical to preventing pandemics. We are planning to talk with NIH to understand the rationale behind their decision.”</p>
        
            <p class="story-text__paragraph">Suddenly ending a grant early is an unusual move for the NIH, which typically takes such steps only when there is evidence of scientific misconduct or financial improprieties — neither of which it has alleged took place in this case.</p>
        
            <p class="story-text__paragraph">The EcoHealth Alliance has received more than $3.7 million since 2015 for its research on the risks of coronavirus spread through bats and the potential for spillover into humans. The effort has produced at least 20 scientific papers, including several published in prominent journals such as Nature.</p>
        
            <p class="story-text__paragraph">As recently as April 2018, the NIH issued a press release promoting a study linked to the research project, whose authors included a scientist at the Wuhan lab.</p>
        
            <p class="story-text__paragraph">But the project had turned into a political liability for the NIH by the time Lauer emailed Daszak<b> </b>on April 20 asking for a list of all Chinese participants.</p>
        
            <p class="story-text__paragraph">A Newsmax reporter asked President Donald Trump about the research project in an April 17 press briefing, suggesting that all $3.7 million had gone to the Wuhan lab.</p>
        
            <p class="story-text__paragraph">"We will end that grant very quickly,” Trump said. “It was granted quite awhile ago,” he added, referencing the Obama administration. “Who was president then, I wonder?"</p>
        
            <p class="story-text__paragraph">The NIH awarded the original grant for the project during the Obama administration, but renewed it in July 2019. The funding allotted this year, and cut last week, came from the Trump administration.</p>
        
            <p class="story-text__paragraph">Days after Trump’s briefing promise, Republican lawmakers wrote to leadership asking that no stimulus funding go to the Wuhan lab, citing State Department cables about safety concerns. The White House did not respond to a request for comment.</p>
        
            <p class="story-text__paragraph">By that time, NIH officials had contacted EcoHealth questioning the group about Chinese links to its bat-coronavirus research project.</p>
        
            <p class="story-text__paragraph">“We need to know all sites in China that have been in any way linked to this award,” Lauer wrote in one email to the researchers. In a separate April 20 message to the group he said “it would be helpful for us to know about all China-based participants in this work since the Type 1 grant started in 2014 — who they were and how much money they received. The sooner you can get us that information, the better.”</p>
        
            <p class="story-text__paragraph">Daszak told Lauer that EcoHealth would need time to go through its request for information but that “I can categorically state that no fund from [the grant] have been sent to the Wuhan Institute of Virology, nor has any contract been signed.”</p>
        
            <p class="story-text__paragraph">Within days, NIH told EcoHealth that all future funding was canceled and it would need to stop spending its remaining 2020 grant monies immediately.</p>
        
            <p class="story-text__paragraph">EcoHealth Alliance has secured dozens of contracts amounting to millions of dollars from multiple government sources, including health agencies, the Department of Defense and the Department of Homeland Security.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
