{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>FDA warns against hydroxychloroquine outside hospitals, citing heart risk</h1>
        <h2>The FDA allowed doctors to prescribe the drug to treat coronavirus in hospitals, but there's little evidence of its effectiveness.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/6927f5c/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/a013ffa/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/8f3fa4a/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/afd0008/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/6ec1319/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/6fb8b12/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg"/>
<img alt="Doctors treat patient" src="https://static.politico.com/dims4/default/d33838a/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fdf%2F24%2F08b7508a4a04b91875a80673f483%2F200424-hospital-gty-773.jpg" title="Doctors treat patient"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Food and Drug Administration Friday morning <a href="https://www.fda.gov/media/137250/download" target="_blank">warned that malaria medicines</a> touted by the president for coronavirus should only be used in hospitals or clinical trials because of dangerous side effects.</p>
        <p class="story-text__paragraph">Hydroxychloroquine and chloroquine have been linked with serious heart rhythm problems, especially when paired with the antibiotic azithromycin.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">There is scant evidence that the medicines, prescribed for years to treat lupus and arthritis, work against the coronavirus. But FDA in late March issued an emergency use authorization to let doctors prescribe the drugs to coronavirus patients in the hospital.</p>
        
            <p class="story-text__paragraph">Millions of hydroxychloroquine and chloroquine pills were donated to the strategic national stockpile after FDA greenlighted emergency use with sign-off from the Biomedical Advanced Research and Development Authority. Rick Bright, the BARDA chief ousted this week,<a href="https://www.politico.com/news/2020/04/22/hhs-ousts-vaccine-expert-as-covid-19-threat-grows-201642" target="_blank"> has argued his demotion was driven by clashes</a> over the administration's focus on the two drugs.</p>
        
            <p class="story-text__paragraph">In its statement Friday morning, FDA stressed that to decrease the risk of life-threatening heart problems, that patients should only use the medication in hospital settings.</p>
        
            <p class="story-text__paragraph">Prescriptions of the medications have soared since March when a French researcher published early data suggesting they might speed recovered from coronavirus, and the President Donald Trump began championing hydroxychloroquine from the press briefing stage. </p>
        
            <p class="story-text__paragraph">Trump said in early April that hydroxychloroquine is promising because “because it’s been used for a long time and <a href="https://www.politico.com/news/2020/04/06/malaria-drug-coronavirus-trump-hydroxychloroquine-169103" target="_blank">therefore it’s passed the safety test</a>.”</p>
        
            <p class="story-text__paragraph">But the French study led by microbiologist Didier Raoult has since been called into question for how patients were chosen and how data were assessed. Trump, meanwhile,<a href="https://www.politico.com/news/2020/04/20/trump-hydroxychloroquine-coronavirus-196191" target="_blank"> has decreased his mentions of hydroxychloroquine over the past week</a>.</p>
        
            <p class="story-text__paragraph">New York recently shared initial data from a large randomized clinical trial using hydroxychloroquine and azithromycin with the federal government. HHS officials say there are still assessing those results.</p>
        
            <p class="story-text__paragraph">“President Trump has repeatedly said that Americans should consult with medical doctors regarding coronavirus treatment, a point that he emphasized again during [Thursday's] briefing," said White House Press Secretary Kayleigh McEnany.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
