{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Carnival to resume cruises in August despite infections and deaths on ships</h1>
        <h2>Eight cruise ships to resume operations from 1 August, sailing from Texas and Florida 

Coronavirus – live US updates
Live global updates
See all our coronavirus coverage</h2>
        <p><a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/business/carnival">Carnival</a> Cruise Line has announced plans to resume operations at the beginning of August despite dozens of deaths on cruise ships during the Covid-19 pandemic and investigations into the industry’s possible role in spreading the disease around the planet.</p>
        <p>In a statement on Monday, the operator said eight cruise ships would resume operations from 1 August, sailing from Galveston, Texas, and Miami and Port Canaveral in <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/us-news/florida">Florida</a>, once a no-sail order from the Centers for Disease Control and Prevention (CDC) had expired.</p>
        <p>The CDC has issued repeated warnings that cruise travel has spread the coronavirus outbreak around the world and on Friday, the US Congress announced an investigation of Carnival Cruise Line’s parent company – Carnival Corporation – over why it did not act sooner to protect passengers and staff.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>In response to the announcement, the CDC said it had not discussed timelines for resuming cruise travel with any operators, adding “we do not have enough information to say when it will be safe for cruise ships to resume sailing”. </p>
        {% if paywall.show %}
        
            <p>Dozens of people have died and more than 1,500 confirmed Covid-19 infections have been recorded in connection with Carnival’s ships, which saw major outbreaks on the <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/global-development/2020/mar/06/inside-the-cruise-ship-that-became-a-coronavirus-breeding-ground-diamond-princess">Diamond Princess</a>, <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2020/mar/28/very-scary-pleas-for-safe-harbour-from-stranded-cruise-ship-near-panama">the Zaandam</a> and <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/australia-news/2020/apr/30/tasmania-coronavirus-outbreak-traced-to-two-ruby-princess-passengers">the Ruby Princess</a>.</p>
        
            <p>Carnival Cruise Line said it was “committed to supporting all public health efforts to manage the Covid-19 situation” in the statement to customers and travel agents announcing a limited resumption of its North America operations.</p>
        
            <p>“We are taking a measured approach, focusing our return to service on a select number of homeports where we have more significant operations that are easily accessible by car for the majority of our guests,” it continued.</p>
        
            <p>The <a class="u-underline" data-link-name="in body link" href="https://www.cdc.gov/quarantine/pdf/signed-manifest-order_031520.pdf">CDC no-sail order</a> was first issued on 14 March amid rising concerns about how “cruise ship travel may continue to introduce, transmit, or spread Covid-19”. The order was extended for 100 days on 15 April until 24 July, prohibiting travel until Covid-19 is no longer a public health emergency or the CDC modifies the order based on specific public health advice.</p>
        
            <p>Alongside the announcement to resume operations, Carnival Cruise Line said it had cancelled all of its trips in July and extended the “pause” operations in all other North American and Australian markets until the end of August.</p>
        
            <p>“We will use this additional time to continue to engage experts, government officials and stakeholders on additional protocols and procedures to protect the health and safety of our guests, crew and the communities we serve,” the statement continued.</p>
        
            <p>In a statement, the CDC said it “is closely monitoring the situation on cruise ships while we review the cruise lines’ plans to prevent, detect, contain and respond to Covid-19 during the no-sail period.</p>
        
            <p>“CDC will continue to work with cruise lines to ensure all necessary public health procedures are in place when cruise lines do begin regular sailing. CDC has not consulted with any of the cruise lines on timelines for resuming cruise travel for passengers.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
