{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Uganda megachurch criticised for choir tour as children stranded by Covid-19</h1>
        <h2>Watoto church investigated over decision not to pull out as 48 children are among those stuck abroad due to border closures

Coronavirus – latest updates
See all our coronavirus coverage</h2>
        <p>The Ugandan government has launched an investigation into the activities of a megachurch in Kampala after seven members of its internationally renowned children’s choir were diagnosed with Covid-19 following an overseas tour.</p>
        <p>The country’s child affairs minister, Florence Nakiwala Kiyingi, told the Guardian the Internal Security Organisation was investigating <a class="u-underline" data-link-name="in body link" href="https://watotochurch.com/">Watoto church</a> for allegedly breaching child labour laws, taking the children out of the country without permission and putting them at risk by not cancelling the tour as coronavirus cases escalated and countries closed their borders.</p>
        <p>The church has not responded to the Guardian’s requests for comment on the allegations.</p>
        <p>The children, aged between seven and 10,<strong> </strong>were diagnosed shortly after returning from a UK tour on 20 March. They, along with seven adults on the tour who also tested positive for the virus, <a class="u-underline" data-link-name="in body link" href="https://www.watoto.com/our-work/watoto-and-covid19-23-april">have all now fully recovered</a>, the church said.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>However, more than 80 members of the choir, including 48 children, <a class="u-underline" data-link-name="in body link" href="https://mbararacity.com/over-88-watoto-choir-members-stranded-abroad/">reportedly</a> remain stranded in the US, Malaysia, New Zealand and Brazil as they <a class="u-underline" data-link-name="in body link" href="https://www.watotochurch.com/PressRelease_Watoto&amp;COVID19.pdf"> were unable</a> to travel back to Uganda before the country closed its borders on the 23 March.</p>
        {% if paywall.show %}
        
            <p>As of Tuesday, Uganda had <a class="u-underline" data-link-name="in body link" href="https://covid19.gou.go.ug/">8</a><a class="u-underline" data-link-name="in body link" href="https://covid19.gou.go.ug/">3</a><a class="u-underline" data-link-name="in body link" href="https://covid19.gou.go.ug/"> confirmed</a> cases of the coronavirus.</p>
        
            <p>Watoto church was founded by Canadian missionaries in 1984. It has an average congregation of around <a class="u-underline" data-link-name="in body link" href="https://watotochurch.com/index.php?id=15">27,000 people</a>. As well as regular services, it supports women and children in Uganda through its sponsorship programmes. In 2018 it reported an <a class="u-underline" data-link-name="in body link" href="https://issuu.com/watotoministries/docs/watotoar2018">income</a> of £13.3m.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="6b34c61c65aa0f3127a530ac717dad735a5c6bba" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=299152c03076026bda37b51e3464998a" itemprop="url"/>
<meta content="2880" itemprop="width"/>
<meta content="2159" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=62b9db3170a2cfb7737ec696a7c4cd08 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=28842dee7d763e35668811a2409afc5f 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9330b620624d93e8528a772719ad3b85 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4049e8cb534019c157f5308bc2d8249e 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=57c03760c59af56c3ec840f5746736e8 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a8834173f849a535d1e5e248da96db09 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Children from Watoto church choir perform in Sacramento, California" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/6b34c61c65aa0f3127a530ac717dad735a5c6bba/0_0_2880_2159/master/2880.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9dd480a0a9b2cd3713eea68053b81c5b"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Money raised from Watoto’s choir tours goes directly to the church, including the orphanages it runs. Photograph: Zuma Press Inc/Alamy
</figcaption>
</figure>
        
            <p>The church launched the choir in 1994 to support “the millions of children across <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/africa">Africa</a> who have been orphaned as a result of HIV/Aids”.</p>
        
            <p>The church now has six choirs, each made up of children and adults. The choirs travel and perform all over the world, often for six months at a time. Members have performed in front of US President George W Bush at the White House and before the Queen at Buckingham Palace.</p>
        
            <p>Choir members are selected from the 3,000 orphans and vulnerable children who mostly live in three “<a class="u-underline" data-link-name="in body link" href="https://www.watoto.com/about/media/press-center/fast-facts/">Watoto villages</a>”. All the money raised from touring goes directly to the church, including the orphanages it runs. </p>
        
            <p>Nakiwala said Watoto did not receive authorisation to take the children out of the country for the recent tours, which she says is required under the 2016 <a class="u-underline" data-link-name="in body link" href="https://ulii.org/system/files/legislation/act/2015/2016/Children%20%28Amendment%29%20Act%202016.pdf">Children’s Act</a>. </p>
        
            <p>The minister said management “should have cut down the singing sessions because many activities were being cancelled worldwide”.</p>
        
            <p>“Children are not supposed to be so much into fundraising activities. They fall short of education, they fall short of their time to play,” she said.</p>
        
            <p>“I thank them [the church] for the work they’re doing for the country,” said the minister. “But I have noted that there are anomalies and I demand an answer.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
