{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Apple's updated 13-inch MacBook Pro has a new keyboard</h1>
        <h2>Farewell, butterfly keyboard.</h2>
        <img alt="Apple 13-inch MacBook Pro (2020)" class="stretch-img" src="https://o.aolcdn.com/images/dims?thumbnail=960%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F53c2c1a0-8e03-11ea-af7f-5b439337845b&amp;client=amp-blogside-v2&amp;signature=3357ee85e8b9f8013f5e9f57ccf0217fba080ca4"/>
        {% if paywall.show %}
        
            <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        
            <p>Yes, the rumors were true: Apple has banished the butterfly keyboard once and for all. The company has <a href="https://www.apple.com/newsroom/2020/05/apple-updates-13-inch-macbook-pro-with-magic-keyboard-double-the-storage-and-faster-performance/" target="_blank">introduced</a> a refreshed 13-inch MacBook Pro with the same basic Magic Keyboard and Touch Bar combo you’d find in its <a href="https://www.engadget.com/2019-11-21-macbook-pro-16-inch-review-ultimate-apple-laptop.html">16-inch counterpart</a>. You can also expect 10th-generation Intel Core processors with boost speeds up to 4.1GHz, a minimum 256GB SSD (with a max of 4TB) and 16GB of RAM on some stock configurations (upgradable to 32GB). It’s available today starting at $1,299, although that’s with an 8th-generation Intel chip — you’re looking at $1,799 for 10th-gen hardware, 16GB of RAM and a 512GB SSD.</p>
        
            <p>Don’t expect radical revisions, as the screen size implies. Most of the improvements come through baseline performance. The newer Intel processors tout Iris Plus Graphics that promise 80 percent faster visuals and support Apple’s Pro Display XDR at its native 6K resolution. You know, in case you’re willing to connect your laptop to a monitor that costs much, much more. The quad-core CPUs in the new MacBook Pro pack up to 2.8 times faster performance than earlier models with a dual-core 3.5GHz chip, although we suspect the gains won’t be nearly so high coming from a <a href="https://www.engadget.com/2019-07-17-apple-2019-macbook-pro-review.html">2019 quad-core model</a>.</p>
        
            <p>In many ways, this represents the end of a not-so-stellar chapter for Apple. The butterfly keyboard introduced with the <a href="https://www.engadget.com/2015-04-09-new-macbook-review.html">12-inch MacBook</a> in 2015 was supposed to usher in a new era of super-thin portables, but that along with other design choices (such as weak cooling that led to CPU throttling) frustrated many users. <a href="https://www.engadget.com/2019-03-27-apple-3rd-gen-butterfly-keyboard-problems.html">Reliability took a serious hit</a> with the keyboard, to the point where Apple added 2019 laptops to a free repair program as soon as they were introduced. It should be safe to choose any Mac laptop from now on, even if features like the Touch Bar and a lack of legacy ports won’t please everyone.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
