{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Supreme Court rules government must pay billions to Obamacare insurers</h1>
        <h2>The decision is a big win for health insurers who struggled in the health care law's early years.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/c010897/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/ee46711/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/c4e11be/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/1703f50/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/84032c2/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/a2b697c/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg"/>
<img alt="Supreme Court" src="https://static.politico.com/dims4/default/4f7d5d8/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F3c%2Fec%2Fa23b04f9454988106835df60a48b%2F200427-scotus1-gty-773.jpg" title="Supreme Court"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Supreme Court on Monday ruled the federal government owes health insurers massive payments from an Obamacare program shielding them from financial risks after the companies accused Washington of reneging on its funding promises.</p>
        <p class="story-text__paragraph">The 8-1 <a href="https://www.supremecourt.gov/opinions/19pdf/18-1023_m64o.pdf" target="_blank">decision could open the floodgates for federal cash to the insurance industry</a>. Insurers who accused the government of a “bait and switch” claimed they’re owed $12 billion from the Affordable Care Act program.</p>
        <p class="story-text__paragraph">The case concerned a temporary fund in the health care law intended as a buffer for health plans who had sicker customers than expected in the newly overhauled insurance marketplaces. Obamacare’s drafters hoped the program would be funded by industry, but health plans quickly racked up losses when the marketplaces opened in 2014. The next year, Republican lawmakers approved the first in a series of annual appropriations riders barring HHS from using taxpayer dollars to bankroll the program, known as risk corridors.</p>
        <p class="story-text__paragraph">The high court agreed with insurers that the congressional spending restrictions didn’t release the government from its original promise to fund the Obamacare program. The court said Congress had created "a rare money-mandating obligation" that later appropriations language couldn't repeal.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">"These holdings reflect a principle as old as the Nation itself: The Government should honor its obligations," wrote Justice Sonia Sotomayor in the majority opinion.</p>
        
            <p class="story-text__paragraph">Justice Samuel Alito, in a dissenting opinion, criticized the ruling as effectively providing a massive bailout for the insurance industry.</p>
        
            <p class="story-text__paragraph">"Under the court’s decision, billions of taxpayer dollars will be turned over to insurance companies that bet unsuccessfully on the success of the program in question," Alito wrote.</p>
        
            <p class="story-text__paragraph">The decision will have little impact on Obamacare. The law faces a legal threat in <a href="https://www.politico.com/news/2020/03/02/supreme-court-obamacare-case-118643" target="_blank">a separate case brought by Republican-led states challenging the law’s constitutionality</a>, which the Supreme Court has agreed to hear, likely later this year. But the ruling represents a loss for the Trump administration, which argued it wasn’t obligated to make the risk corridor payments and is supporting the red states’ lawsuit.</p>
        
            <p class="story-text__paragraph">The three-year risk corridors program closed in 2016. Insurance experts said the program’s $12 billion shortfall contributed to turbulence in Obamacare’s early years, as health plans jacked up premiums to cover their losses or abandoned the marketplaces.</p>
        
            <p class="story-text__paragraph">The Supreme Court case consolidated lawsuits brought by three small insurers, including one that blamed the risk corridors shortfall for its collapse in 2016. Today's decision will also benefit insurers who brought dozens of identical lawsuits in lower courts.</p>
        
            <p class="story-text__paragraph">The decision was a "resounding win" for health insurers, but it also raised new questions about what comes next, said Katie Keith, a Georgetown University law professor and expert on the health care law. Those questions include when the money will go out and how the federal government will distribute the funds.</p>
        
            <p class="story-text__paragraph">The justices tasked the lower courts with figuring out the nuts and bolts of the settlement, which will add to the delay in insurers receiving the money.</p>
        
            <p class="story-text__paragraph">There are also ongoing legal fights over federally funded nonprofit insurance start-ups. Many of these insurers, known as co-ops, shuttered in the law's early years partly because they didn't receive the risk corridor funds they expected. Some of those defunct health plans turned to hedge funds to help them finance their lawsuits in exchange for a piece of the damages if the Supreme Court ruled in their favor.</p>
        
            <p class="story-text__paragraph">Insurers hope the decision will also bolster the industry in another pipeline of litigation challenging President Donald Trump’s elimination of a separate Obamacare subsidy program in 2017.</p>
        
            <p class="story-text__paragraph">Insurers have filed numerous lawsuits, including a class action suit involving about 100 Obamacare plans, claiming that the federal government broke its promise to fund these so-called cost-sharing reductions, which helped insurers pay poor customers’ medical bills. Those lawsuits have so far been successful in lower courts, but appellate judges who heard arguments last year appeared skeptical of the insurers' case.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
