{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Looking to teach at a new school? Here’s how to find the one that’s right for you</h1>
        <h2>How do you get a feel for what a school is really like when you can’t walk through the playground or see what’s on the whiteboards? For teachers in the remote recruiting market, here’s how to make the most of the virtual experience</h2>
        <figure class="media-primary media-content ()" data-component="image" data-media-id="b64c0f636f3690d5155b3d549d130742b4b3be93" id="img-1" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="true" itemprop="representativeOfPage"/>
<meta content="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1287ef4995cf504db0ea0e3cea658ed6" itemprop="url"/>
<meta content="5760" itemprop="width"/>
<meta content="3456" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-1">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=94dad872810a3bae529452ecbefd5692 1240w"/>
<source media="(min-width: 980px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d50164f93cb2f968cf2f8c49cea81a27 620w"/>
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="700px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=700&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b277b231abed83fb2b515e3515e64215 1400w"/>
<source media="(min-width: 740px)" sizes="700px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1287ef4995cf504db0ea0e3cea658ed6 700w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=94dad872810a3bae529452ecbefd5692 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d50164f93cb2f968cf2f8c49cea81a27 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="645px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=645&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=0fc4910c48b4fd6d96c0f44e9e2b4aa4 1290w"/>
<source media="(min-width: 480px)" sizes="645px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=645&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=92e1a0a36c016213bcbf99d92c15678d 645w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="465px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=465&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1092e22515d6275a1df8d3bb15aba2fd 930w"/>
<source media="(min-width: 0px)" sizes="465px" srcset="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=465&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9b636c69f8f851a1c43b270bee4ea704 465w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Female executive at her desk working on laptop" class="maxed responsive-img" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/b64c0f636f3690d5155b3d549d130742b4b3be93/0_118_5760_3456/master/5760.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=394ad47086936a9adc8626e34cf28c74">
</img></picture>
</div>

</a>
<input class="mobile-only u-h reveal-caption__checkbox" id="show-caption" type="checkbox"/>
<label class="mobile-only reveal-caption reveal-caption--img" for="show-caption">

</label>
<figcaption class="caption caption--main caption--img" itemprop="description">

Be prepared for an online interview, and if using unfamiliar software, practice with a friend first.
<br/>
Photograph: Luis Alvarez/Getty Images
</figcaption>
</figure>
        <p>Whether it’s your first job after teacher training or you’re an experienced hand, evaluating a potential school is a crucial part of the interview process. But how do you do that remotely? Here are top tips for teachers applying to work at a new school under lockdown.</p>
        <p><strong>Prepare for remote interviews</strong><br/>Although the coronavirus pandemic presents us with many challenges, it’s worth remembering that schools and supply agencies have been recruiting teachers online for almost 20 years. Independent and English language international schools are increasingly recruiting teachers via video to work with them overseas. The current lockdown has forced all schools across the UK to reconsider how they recruit teachers.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}><strong>Be tech-ready<br/></strong>On both sides of the camera it is critical to check the video technology, the microphone and your background environment when conducting an interview via video. What apps will they be using? Have you used them before? If not, rehearse with a friend.</p>
        {% if paywall.show %}
        
            <p><strong>Think the process through<br/></strong>It is crucial to find a school which best meets your needs. Find as many schools as possible before you begin any application process. This will give you motivation, as well as building up a network for future job opportunities.</p>
        
            <p><strong>Visit the school – virtually<br/></strong>In order to determine which type of environment you feel most comfortable with, one important planning aspect to consider is your journey to and from the school, should you be successfully appointed. Under normal circumstances it’s worth considering a trial journey during peak commuter hours to see if the journey is manageable. Under the current conditions, it’s worth trying to arrange for a virtual tour of the school site – just as you would for a position that involves relocating to the other side of the country, or an international job. A conscientious school leader should be more than happy to take candidates on a video tour. This is even more critical during lockdown when all schools are struggling with recruitment.</p>
        
            <p><strong>Prepare your application<br/></strong>Look at the key facts listed on the job advert, and evaluate how they match up with the person specification – not the job description. Think carefully about what you can offer the school. Initial research on examination performance, pupil demographics and inspection reports will help you identify key priorities in the application. It would also be wise to consider why you want to work at the school. For more on this, see the <a class="u-underline" data-link-name="in body link" href="https://www.teachertoolkit.co.uk/2018/03/25/the-5-minute-interview-plan-2/" rel="nofollow">five-minute interview plan</a>. Regarding referees and references, it is always worth asking permission and giving those key people a “heads-up”. References are frequently requested with limited time for the referee to respond, putting them under pressure. You don’t want to put your job application in jeopardy!</p>
        
            <p><strong>Submitting your application <br/></strong>Spellcheck, spellcheck, spellcheck!<strong> </strong>Whatever you do, do not copy and paste bog-standard educational cliches and fire off application after application without due diligence. I’ve seen thousands of applications thrown in the bin because they accidentally mention another school’s name, have grammatical errors or include inappropriate information (no one needs to know your astrological birth sign!). Ask a friend to proofread your application. Show the reader that you have conducted some research, posing questions and thoughts, as well as some solutions with evidence of things that you have contributed towards in your current role. Remember, you can discuss finer details during the interview, so keep the facts concise.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="e878c1d4c404b4cb10389db895182a8f2f30f50a" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2cfb40498fa3a9d894e5bd3e8580d783" itemprop="url"/>
<meta content="6000" itemprop="width"/>
<meta content="3600" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=af5f485d6b26bee7168a0074bd3ff2a6 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6e782c2757012026ece291de6933323a 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=8942399a00a173c1d60bd75f8ca70412 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3acea367160f162c820c177eca3d5849 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=71e27270734b5fa125f09d6f74713976 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0ef5567556fce902dcf9dcb13d25d388 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Young woman sitting at table at home using cell phone and laptop taking notes" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/e878c1d4c404b4cb10389db895182a8f2f30f50a/0_132_6000_3600/master/6000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1de48c50dbf6ad9597445d77740dacad"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Ask direct questions to make sure the school’s right for you. Photograph: Westend61/Getty Images
</figcaption>
</figure>
        
            <p><strong>Plan your questions </strong><br/>The easiest way to discover if a school leadership team is on track is to ask direct questions at the interview. For example: “How many teachers left your school last year?” “How much of the overall budget does the school protect for professional development?’’ “Why should I work at your school?” “Is the school budget in deficit, if so by how much?” If these questions are avoided, it’s a good indication that this might not be the school for you.</p>
        
            <p><strong>Nail that interview!<br/></strong>Be prepared, rehearse potential questions and answers, pick out what you will wear on the day – even for an online interview. Show interest and be conscientious by keeping your questions and answers concise. Whatever you do, do not be late: in an online interview, there really are no traffic excuses.</p>
        
            <p><strong>Have your answers ready<br/></strong>Be prepared to answer a range of challenging questions, and rehearse a variety of scenarios where you can provide concise answers. What would colleagues say about you? What area of the teaching standards do you most need to work on? What has been the greatest challenge in your career to date? Where do you want to be in three years’ time? Why do you want to work in this school? When it comes to “awkward” questions, they can often be a test of how professional and measured you will be in your response, rather than the answer itself.<br/><br/><strong>Final questions</strong><br/>Finally, asking questions at the end of an interview, always have two or three questions prepared. Whatever you do, make sure you ask them. It shows the interview panel that you are prepared, interested and it is your one opportunity to put them on the spot and turn the tables in the process.</p>
        
            <p><em>If you are currently recruiting for your schools please contact us by going to <a class="u-underline" data-link-name="in body link" href="https://recruiters.theguardian.com/coronavirus-education-offer?utm_source=odpy&amp;utm_medium=dispad&amp;utm_campaign=we_support_schools&amp;CMP_TU=jbsr&amp;CMP_BUNIT=jobs">recruiters.theguardian.com</a> and if you are seeking a new role at a school please visit <a class="u-underline" data-link-name="in body link" href="https://jobs.theguardian.com/jobs/schools/?INTCMP=gdnwb_editorial_editorial_jobs_teachers_content_">our jobsite</a></em></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
