{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>FDA reverses policy that let over 100 antibody tests on market without review</h1>
        <h2>The agency says it is aware that some firms are promoting faulty tests.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/46b2a0a/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/2f64a72/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/b8bdbf6/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/3604ed9/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/db54cda/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/8f22c7b/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg"/>
<img alt="Steven Hahn" src="https://static.politico.com/dims4/default/c65a5eb/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fda%2Fc5%2Fb7440e8e45d6bf84999c945b52a7%2F200302-hahn-gty-773.jpg" title="Steven Hahn"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Food and Drug Administration is walking back <a href="https://www.politico.com/news/2020/04/27/reliable-antibody-tests-coronavirus-207589" target="_blank">a widely criticized policy</a> that allowed more than 100 coronavirus antibody tests on the market without agency review.</p>
        <p class="story-text__paragraph">Manufacturers of antibody tests must now apply for emergency use authorization within 10 business days after their products hit the market, under a policy announced Monday. If a test does not meet the FDA's specificity and sensitivity criteria, its manufacturer must suspend distribution.</p>
        <p class="story-text__paragraph">Antibody tests can reveal whether a person has ever been infected by the coronavirus — identifying previously undetected cases and improving estimates of the overall size of the U.S. outbreak. The specificity of a test measures how often it correctly produces positive results, while sensitivity measures how often a test correctly produces negative results.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">The FDA's decision to put into place stricter rules for antibody tests follows a congressional investigation launched by Rep. Raja Krishnamoorthi (D-Ill.), chairman of the House Oversight Economic and Consumer Policy Subcommittee. The FDA’s former policy allowed companies to validate their own tests and bring them to market without an agency review, if they included a disclaimer with test results.</p>
        
            <p class="story-text__paragraph">A senior FDA official told POLITICO the policy change was not<b> </b>a direct result of pressure from Congress. Instead, the official said that having a dozen authorized tests on the market was a natural inflection point to reevaluate the agency’s approach to oversight. FDA Deputy Commissioner Anand Shah and device center chief Jeffrey Shuren wrote in a blog post Monday that the agency is aware of several commercial tests that are “being promoted inappropriately, including for diagnostic use.”</p>
        
            <p class="story-text__paragraph">“Some test developers have falsely claimed their [antibody]<b> </b>tests are FDA approved or authorized,” Shah and Shuren wrote. “Others have falsely claimed that their tests can diagnose COVID-19 or that they are for at-home testing, which would fall outside of the policies outlined in our March 16 guidance, as well as the updated guidance.”</p>
        
            <p class="story-text__paragraph">The FDA will generally give emergency use authorization to tests that can detect 90 percent of people with antibodies to the coronavirus and produce false positives in less than 5 percent of cases, the senior agency official said.</p>
        
            <p class="story-text__paragraph">“We’ve long been concerned that allowing tests on the market that have not been approved and authorized for use is a recipe for disaster," said Scott Becker, CEO of the Association of Public Health Laboratories. "This revised policy makes a lot of sense and should have been in place over the last six weeks."</p>
        
            <p class="story-text__paragraph">FDA Commissioner Stephen Hahn said the manufacturers of nearly half of the antibody tests on the market under the older, more lenient policy are working with the agency to gain authorization. The FDA recently launched a program with the National Cancer Institute and other agencies that allows manufacturers to voluntarily have their tests assessed for accuracy.</p>
        
            <p class="story-text__paragraph">Data from the program can be used by the FDA to decide whether a test should be authorized or prevented from being sold. The agency plans to publish test performance data from the NCI evaluations.</p>
        
            <p class="story-text__paragraph">Last week, the American Medical Association called on HHS to restrict use of antibody tests to health providers trained to interpret their results and in epidemiological studies due to “growing concern” about the performance of several tests on the market. Until more is known about whether survivors of coronavirus infection emerge with any degree of immunity, people should not use the antibody tests to guide their decisions on physical distancing, the physician group cautioned.</p>
        
            <p class="story-text__paragraph">The senior FDA official said the agency has had discussions with the AMA and hinted that government guidelines on the appropriate usage of antibody tests are forthcoming. Several members of the White House coronavirus task force have said it might be necessary for people to receive two antibody tests to cut down on the potential for unreliable results.</p>
        
            <p class="story-text__paragraph">“Even a high-performing antibody test when used on individuals in a population that does not have many cases of COVID-19 infection — a population with low prevalence — may produce as many or more false results as true results because the likelihood of finding someone who has been infected is very small,” Shah and Shuren wrote. “This doesn’t mean the test is bad, but rather recognizes the inherent limitations of these kinds of tests.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
