{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Roger Robinson's poems of Trinidad and London win Ondaatje prize</h1>
        <h2>A Portable Paradise is the second poetry collection to win £10,000 award for a book that conjures ‘the spirit of a place’

Interview: ‘I want these poems to help people to practise empathy’</h2>
        <p>Roger Robinson’s vision of Trinidad as a “portable paradise” of “white sands, green hills and fresh fish”, has won the British-Trinidadian poet the Royal Society of Literature’s £10,000 <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/books/ondaatjeprize">Ondaatje prize</a>, which goes to a work that best evokes “the spirit of a place”.</p>
        <p>Robinson’s collection, A Portable Paradise, which has already <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/books/2020/jan/13/roger-robinson-dub-poet-ts-eliot-prize">won him the TS Eliot prize</a>, moves from the Grenfell Tower fire to the Windrush generation and the legacy of slavery. In its title poem, he writes how “if I speak of Paradise, / then I’m speaking of my grandmother / who told me to carry it always on my person, concealed, so / no one else would know but me”.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>In particularly timely words for today, the poet, musician and political activist urges that “if your stresses are sustained and daily, / get yourself to an empty room – be it hotel, / hostel or hovel – find a lamp / and empty your paradise onto a desk: / your white sands, green hills and fresh fish.”</p>
        {% if paywall.show %}
        
            <p>Robinson’s collection beat titles including Elif Shafak’s Booker-shortlisted novel 10 Minutes 38 Seconds in This Strange World, and Robert Macfarlane’s exploration of the world beneath our feet, Underland.</p>
        
            <p>Prize judge and poet Pascale Petit, who is the only other writer to win the Ondaatje for a poetry collection, called A Portable Paradise a “healing” and “profoundly moving book [that] manages to balance anger and love, rage and craft”.</p>
        
            <p>Petit, who conducted meetings with her fellow judges Evie Wyld and Peter Frankopan on Zoom, added: “Every poem surprises with its imagery, emotional intensity and lyric power, whether dealing with Grenfell, Windrush or a son’s difficult birth, which is also a tribute to a Jamaican nurse,” said Petit, referring to Robinson’s poem Grace, named after the nurse who cradled his son in neonatal intensive care.</p>
        
            <p>Robinson, who was chosen by Decibel as one of 50 writers who have influenced the black British writing canon, said that winning was “great on many levels”.</p>
        
            <p>“Gaining wider recognition for the political issues that are raised in A Portable Paradise is one of the most important things for me, alongside more people reading about the struggles of black communities in Britain which hopefully creates some deeper resonating empathy,” he added.</p>
        
            <p>Robinson’s is only the second poetry book in 16 years to win the Ondaatje, which can go to a work of fiction, non-fiction or poetry. <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/books/2018/may/14/ondaatje-prize-mythic-poems-mother-mental-illness-pascale-petit-mama-amazonica">Petit’s own Mama Amazonica was the first, in 2018</a>. Frankopan called A Portable Paradise “a fabulous and ingenious work that seethes in its condemnation of injustices but sparkles in its tenderness and subtlety and revels in celebration at the things that make us all unique”, while Wyld said that “the tiny details, the complexity and horror of what he writes about and the clarity he manages to come out the other side with is quite astounding”.</p>
        
            <p>The announcement of the winner on Monday night was marked with a specially commissioned animated video by <a class="u-underline" data-link-name="in body link" href="https://www.lianghsinhuang.com/">Liang-Hsin Huang</a>, a recent Royal College of Art graduate, rather than the usual black-tie dinner, due to the coronavirus pandemic.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
