{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>First brown bear for 150 years seen in national park in northern Spain</h1>
        <h2>Images captured on cameras being used for film shoot in thinly populated area of Galicia</h2>
        <p>A brown bear has been spotted traversing a rugged and sparsely populated area of north-west <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/spain">Spain</a> for the first time in 150 years thanks to a set of camera traps and a bit of luck.</p>
        <p>Images of the animal were captured on cameras set up by a crew shooting the film Montaña ou Morte (Mountain or Death) in the <a class="u-underline" data-link-name="in body link" href="https://www.turismo.gal/que-visitar/espazos-naturais/parques-naturais/o-invernadeiro?langId=en_US">Invernadeiro </a><a class="u-underline" data-link-name="in body link" href="https://www.turismo.gal/que-visitar/espazos-naturais/parques-naturais/o-invernadeiro?langId=en_US">national park</a> in Galicia’s Ourense province.</p>
        <p>Although the area is home to wolves, deer and wild boars, this is believed to be the first time a brown bear has been seen in more than a century.</p>
        <figure class="element element-video fig--has-shares fig--narrow-caption fig--no-caption" data-canonical-url="https://www.youtube.com/watch?v=UB3MYgKA-C8" data-component="video-inbody-embed">
<div class="u-responsive-aligner" style>
<div class="embed-video-wrapper u-responsive-ratio" style>
<iframe allowfullscreen="" frameborder="0" height="259" src="https://www.youtube-nocookie.com/embed/UB3MYgKA-C8?wmode=opaque&amp;feature=oembed" width="460"></iframe>
</div>
</div>

</figure>
        {% if paywall.show %}
        
            <p>“The bear, a male aged between three and five, is the first to be filmed in the area and probably the first to have crossed through the region in the past 150 years,” the production company Zeitun Films said in a statement.</p>
        
            <p>According to two local wildlife rangers who are serving as advisers on the film, the bear spent the entire winter in the park – probably after making its way south from the Sierra del Caurel mountains.</p>
        
            <p>Ricardo Prieto Rochas and Tomás Pérez Hernández said the animal’s time in the park showed the region could play home to others of its species.</p>
        
            <p>“Years of conservation work in the Invernadeiro national park have allowed it to become a suitable habitat for the brown bear,” the statement added.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="6f75750948820ce0671924a18ee7291702ca25fa" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a6e6220b013ed0ea6ae0a5b64852ea3d" itemprop="url"/>
<meta content="673" itemprop="width"/>
<meta content="404" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=2e9d84fec79713fdbffa88a56ac0cbf1 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=859c7c8da3047b6e5e5d29ce951dbc6f 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=03a2abdf62495476b5f34e4c489352df 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d29b955062751fb73b4572f7471d17f0 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=0e3a59be1f98bb00f84ab946d05cdb74 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a11fcfd78b7b1c2111f4ccb03d6646de 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="The brown bear is a male and thought to be between the age of three and five." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/6f75750948820ce0671924a18ee7291702ca25fa/153_274_673_404/master/673.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=187c7b2011bed2c074c2449c9ca765ac"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 The brown bear is a male and thought to be between the age of three and five. Photograph: Montaña ou Morte/Zeitun Films
</figcaption>
</figure>
        
            <p>Brown bears have been a protected species in Spain since 1973. In an effort to consolidate the bear population in the Pyrenees between France and Spain, brown bears from Slovenia have been introduced over the past two decades.</p>
        
            <p>One of the bears – <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2018/jul/22/goiat-the-bear-may-be-expelled-from-pyrenees-over-horse-killings">known as Goiat, which means “lad” in the local dialect</a> – has enraged farmers in north-west Catalonia by preying on their horses, sheep and goats, and demolishing beehives.</p>
        
            <p>Goiat is also thought to be responsible for <a class="u-underline" data-link-name="in body link" href="https://www.heraldo.es/noticias/aragon/huesca/2020/04/29/el-oso-goiat-suma-dos-nuevos-ataques-al-ganado-y-mata-a-cuatro-ovejas-en-gistain-1372310.html">a string of recent </a><a class="u-underline" data-link-name="in body link" href="https://www.heraldo.es/noticias/aragon/huesca/2020/04/29/el-oso-goiat-suma-dos-nuevos-ataques-al-ganado-y-mata-a-cuatro-ovejas-en-gistain-1372310.html">attacks on sheep in the neighbouring region of Aragón</a>, bolstering calls for him to be removed from the area.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
