{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Senate rejects Joe Biden's request to search for records on Tara Reade</h1>
        <h2>Senate secretary said legal counsel advised that ‘the secretary has no discretion to disclose any such information’

Who is Tara Reade and what are her allegations against Biden?</h2>
        <p>The US Senate has rejected a request from Joe Biden, the Democratic presidential nominee, to search for and release any records of a 1993 complaint against him from an aide <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2020/may/03/gretchen-whitmer-backs-joe-biden-sexual-assault">who has accused him of sexual assault</a>.</p>
        <p>The former vice-president <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2020/may/01/joe-biden-denies-sexual-assault-allegation-tara-reade-statement">gave his first TV interview on the matter </a>on Friday, flatly denying former aide Tara Reade’s allegation that when he was a senator from Delaware, he pushed her against a wall and assaulted her.</p>
        <p>Biden also wrote to Julie Adams, the secretary of the Senate, requesting that she locate and make public any paper trail relating to a complaint Reade says she made to the Senate personnel office.</p>
        <p>But on Monday the secretary said the Senate legal counsel had reviewed relevant laws and, based on strict confidentiality requirements, advised that “the secretary has no discretion to disclose any such information as requested in Vice-President Biden’s letter of 1 May”.</p>
        <p>The Biden campaign responded with three questions: can the Senate disclose whether the records exist, is there anyone to whom the records could be lawfully disclosed, and can the Senate release any procedures used by the office that would have overseen a sexual harassment complaint in the 1990s.</p>
        <p>The decision left more questions than answers and was seized on by Republicans. Steve Guest, rapid response director for the Republican National Committee, wrote in an email: “Joe Biden’s attempt to offer faux transparency ground to a screeching halt this morning.”</p>
        <p>Guest accused Biden of sending the media on “a wild goose chase” to look for records in the National Archives, which said it does not hold them, and then to the Senate.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>The existence or otherwise of records at the Senate, National Archives and University of Delaware has become a vital piece of the jigsaw in the allegation against Biden, who said on Friday that he was not aware of any complaint on file.</p>
        {% if paywall.show %}
        
            <p>Biden told MSNBC: “This is an open book. There’s nothing for me to hide.”</p>
        
            <p>Reade has said she filed a complaint at the time of the alleged incident and was subsequently fired. But she said last week that the complaint did not explicitly accuse Biden of sexual assault.</p>
        
            <p>“I remember talking about him wanting me to serve drinks because he liked my legs and thought I was pretty and it made me uncomfortable,” she told the Associated Press. “I know that I was too scared to write about the sexual assault.”</p>
        
            <p>Reade subsequently <a class="u-underline" data-link-name="in body link" href="https://twitter.com/ReadeAlexandra/status/1256672559396864001">tweeted</a> that the AP report was “false”. She also said she had been threatened.</p>
        
            <p>Reade was among <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2019/apr/04/joe-biden-allegations-physical-behavior-women">eight women who alleged last year</a> that Biden made them feel uncomfortable with unwanted touching or displays of affection. He <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2019/apr/03/joe-biden-women-personal-space-new-allegations">apologised</a>, then <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2019/apr/05/joe-biden-touching-complaints-jokes-public-appearance">appeared to make light of the matter</a>.</p>
        
            <p>After Biden effectively secured the Democratic nomination to face Donald Trump in November, Reade, who worked as a staff assistant in his Senate office from December 1992 to August 1993, alleged Biden pinned her against a wall in the basement of a Capitol Hill office, reached under her skirt and pushed his fingers inside her.</p>
        
            <p>Reade, 56, said she was reluctant to share details of the assault during initial conversations with reporters more than a year ago because she was still coming to terms with the incident and feared a backlash. Two of her associates said last week she had conversations with them that corroborated aspects of her allegation.</p>
        
            <p>Numerous Democratic leaders and figures in the #MeToo movement have shown solidarity with Biden. Republicans have accused them of hypocrisy, arguing they have been zealous in believing women who have accused Trump and other conservatives of assault.</p>
        
            <p>The president has faced multiple accusations of assault and harassment, all of which he denies.</p>
        
            <p>Maureen Dowd, a columnist at the New York Times, <a class="u-underline" data-link-name="in body link" href="https://www.nytimes.com/2020/05/02/opinion/sunday/joe-says-it-aint-so.html">observed</a>: “Democrats always set standards that come back and bite them. They have created a cage of their own making.”</p>
        
            <p>But Trump himself, trailing Biden in numerous polls, has been uncharacteristically hesitant to weigh in. In an interview with the conservative radio host Dan Bongino, he said if the accusations were false, Biden should deny them.</p>
        
            <p>“Just go out and fight it, it’s one of those things,” Trump advised. “I’ve been a total victim of this nonsense, false accusations.”</p>
        
            <p>Biden has, however, drawn criticism from the left of the Democratic party. Nina Turner, who was national co-campaign chair for Bernie Sanders, who dropped out of the Democratic race and endorsed Biden, told Reuters: “It can’t appear that [Reade] is being ignored just because it’s an inconvenient truth for certain people in the Democratic party.”</p>
        
            <p>Biden wrote the Violence Against Women Act as a senator but came under fire for his handling of Anita Hill’s 1991 Senate testimony against now supreme court justice Clarence Thomas.</p>
        
            <p>He said last Friday on MSNBC: “Believing women means taking the woman’s claim seriously when she steps forward, and then vet it, look into it. That’s true in this case as well …</p>
        
            <p>“But in the end, the truth is what matters, and in this case, the truth is the claims are false.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
