{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>How to conduct a remote interview: seven tips for schools hiring teachers</h1>
        <h2>A former deputy headteacher reveals how to ace the remote recruitment process during lockdown and hire a teacher perfect for your school</h2>
        <figure class="media-primary media-content ()" data-component="image" data-media-id="0e9a811a74a67e0907386d3fff3c4aad4dd29b87" id="img-1" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="true" itemprop="representativeOfPage"/>
<meta content="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=528f87a1ad7383c368fcd2dc74836ac0" itemprop="url"/>
<meta content="6000" itemprop="width"/>
<meta content="4000" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-1">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1e9de1631c61e279c8c426e249763f54 1240w"/>
<source media="(min-width: 980px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c662abd93361c11c7b2eeb4c75859f5b 620w"/>
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="700px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=700&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=290d0597eea646872fe3d41d7b6e5b83 1400w"/>
<source media="(min-width: 740px)" sizes="700px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=528f87a1ad7383c368fcd2dc74836ac0 700w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1e9de1631c61e279c8c426e249763f54 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c662abd93361c11c7b2eeb4c75859f5b 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="645px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=645&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3838699a93ce88b6ec3e60cb46d00a37 1290w"/>
<source media="(min-width: 480px)" sizes="645px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=645&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=cb6d467b64cc5b64fc7a45db1890df77 645w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="465px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=465&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e3fad7227078e2948191fc6491fd03ac 930w"/>
<source media="(min-width: 0px)" sizes="465px" srcset="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=465&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0fcecfe12e967a1be1123b475835e5a0 465w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Businessman having Video Conference at home" class="maxed responsive-img" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/0e9a811a74a67e0907386d3fff3c4aad4dd29b87/0_0_6000_4000/master/6000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=65260842a30c8c80fea406b2f95984dd">
</img></picture>
</div>

</a>
<input class="mobile-only u-h reveal-caption__checkbox" id="show-caption" type="checkbox"/>
<label class="mobile-only reveal-caption reveal-caption--img" for="show-caption">

</label>
<figcaption class="caption caption--main caption--img" itemprop="description">

Make sure you choose a quiet space to conduct an online interview.
Photograph: filadendron/Getty Images
</figcaption>
</figure>
        <p>As a result of the Covid-19 pandemic, more schools than ever are recruiting new teachers online. How can you prepare effectively to make the most of the remote interview process? This handy seven-point guide will help you keep in mind the questions you should be asking any potential new members of your staffroom. The teachers on your candidate shortlist might know their ABCs from their hypotenuses – but what do you need to do to get the best out of them in a remote interview?</p>
        <p><strong>1. Prepare your questions – and answers<br/></strong>An online interview is like any other – make sure you’ve set your interview agenda. If you’re interviewing with another member of staff make sure you’ve decided who will ask what questions – and also, who will answer any questions from your candidates. Key questions you should be prepared to answer would include: What makes the school unique? What does the school need to improve? Does the school provide personalised, professional development? How would pupils, parents and other teachers describe your school? And be prepared to include a range of pupils and teachers in the recruitment process. Those who do this now should find themselves ahead of the recruitment process.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}><strong>2. Find a quiet space</strong> <br/>When you’re conducting the interview make sure you’re in a quiet space, with a background that is tidy and clear. It’s also worth considering how you position your microphone and camera lens so that you can present yourself from the waist upwards. Simple stuff I know, but you’d be surprised how many do not consider camera angle and lighting positioning. It could make the difference in a successful appointment!</p>
        {% if paywall.show %}
        
            <p><strong>3. Ensure your technology is up to date <br/></strong>It’s worth making sure your browser is running the latest updates and that you’ve got a reliable broadband connection. Check both camera and microphone are working with your fellow teachers before you are on an interview video call. It’s worth giving candidates details of the technology you use in advance of your interview, so they have time to familiarise themselves with the differences between Zoom, Skype, Google Hangouts or Microsoft Teams.</p>
        
            <p><strong>4. Prepare to multitask<br/></strong>Learn how to speak to the camera lens, make notes as well as use the video technology to navigate between your camera, the screen and the microphone. When you are not speaking, for example, you may wish to mute your microphone so that the interviewee does not hear any distracting background noises. If you take time to rehearse, this will also help schools make better appointments today rather than after discovering where and how the technology lets you down.</p>
        
            <p><strong>5. Offer to let candidates speak to colleagues <br/></strong>Once you have set the interview agenda it can be helpful to arrange for an informal meeting with colleagues already working at the school. Select a range of teachers who best represent your school, to show your potential as a good employer. For example, a member of the support staff, the school receptionist, a member of staff who has just joined the school and a member of staff who is leaving the school. You’re looking to give an indication of the school’s culture. This may be difficult to achieve remotely, but it’s not impossible. Plan to have this in place, now.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="20e0bc67de86c82508cf3fe353434fa15b6833f3" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b2a0d2d4d4e502a5909385b3fdba70c0" itemprop="url"/>
<meta content="5224" itemprop="width"/>
<meta content="3135" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e9af43146fe92c4e6231c934c68c2f69 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=733791301ffe3c6af6437eaf1116d542 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=ee7d637dc5c3e06b34194e447dd3bce3 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c62decebe6e446463918d735dd1253fd 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=f7e359bdb9fed4af81d5ad7ff5e5bb8a 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c3928a06db1bf8cc32d77dd5b6076df0 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Teenage boy in his bedroom using laptop" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/20e0bc67de86c82508cf3fe353434fa15b6833f3/0_342_5224_3135/master/5224.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=432ac08ea5d0a752dd8390df022c294b"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Try and involve pupils, either with a pupil interview or an online lesson. Photograph: Richard Drury/Getty Images
</figcaption>
</figure>
        
            <p><strong>6. Offer a pupil interview if possible<br/></strong>Technology may also be able to offer the capacity for a pupil interview experience, or perhaps even an online lesson for the candidates to teach with the panel observing as part of the application process. If you are able to provide the opportunity for candidates to teach a lesson online, it’s critical to offer as much information about the lesson and the children for it to be an effective exercise. Of course, during a pandemic, going about teaching online will be immensely different from teaching face-to-face: watch to see how teachers engage the pupils in a virtual classroom. How do candidates communicate effectively through a camera lens? Can they question, hold to account, and provide feedback to pupils online?</p>
        
            <p><strong>7. Can you offer a virtual tour?<br/></strong>One of the key opportunities at interview is a tour of the school. Doing this remotely presents a significant challenge, but again, those innovative school leaders will already be working ahead of the bell curve. Beyond the school website, most schools will have a range of images of events taking place on site, with photo galleries and online videos. It’s worth making sure your school’s social media strategy shares positive news stories with the general public, as well as pupils and parents, and prospective teachers. With most schools open during Covid-19 in a limited capacity, there will be an option for school leadership teams who are currently on-site to provide applicants with a virtual tour of the school facilities, classrooms and office spaces. This will allow potential candidates to ask questions or gain a perception of potential employment opportunities.</p>
        
            <p>Appointing teachers during a pandemic is difficult, but it’s not impossible. To ensure your school isn’t missing key appointments when all schools resume full service, it is critical that your school considers remote recruitment ideas now.</p>
        
            <p><em>If you are currently recruiting for your schools please contact us by going to <a class="u-underline" data-link-name="in body link" href="https://recruiters.theguardian.com/coronavirus-education-offer?utm_source=odpy&amp;utm_medium=dispad&amp;utm_campaign=we_support_schools&amp;CMP_TU=jbsr&amp;CMP_BUNIT=jobs">recruiters.theguardian.com</a> and if you are seeking a new role at a school please visit <a class="u-underline" data-link-name="in body link" href="https://jobs.theguardian.com/jobs/schools/?INTCMP=gdnwb_editorial_editorial_jobs_teachers_content_">our jobsite</a></em></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
