{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>DHS report accuses China of hiding coronavirus info so it could hoard supplies</h1>
        <h2>The report says that in January of this year, Beijing dramatically increased its imports and decreased its exports of medical supplies.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/9a1ba60/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/2713007/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/663583b/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/45a1795/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/6f8e854/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/c98f323/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg"/>
<img alt="China medical supplies" src="https://static.politico.com/dims4/default/63f50e6/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F32%2F0a%2Fd4ae7ee3464c9247e5c96d8c24d7%2F20200503-supplies-china-ap-773.jpg" title="China medical supplies"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Chinese government likely withheld information about the severity of the novel coronavirus outbreak so it would have time to hoard medical supplies, according to an intelligence report from the U.S. Department of Homeland Security. POLITICO viewed the report, and its overall findings were <a href="https://apnews.com/bf685dcf52125be54e030834ab7062a8" target="_blank">first reported by the AP</a>. The report reached its conclusion with moderate confidence, it said.</p>
        <p class="story-text__paragraph">“We further assess the Chinese Government attempted to hide its actions by denying there were export restrictions and obfuscating and delaying provision of its trade data,” the report added. </p>
        <p class="story-text__paragraph">The report says that in January of this year, before sharing full details on the novel coronavirus outbreak with the World Health Organization, Beijing dramatically increased its imports and decreased its exports of medical supplies.</p>
        <p class="story-text__paragraph">In January, according to the report, China increased its imports of surgical facemasks by 278 percent, surgical gowns by 72 percent, and surgical gloves by 32 percent. Meanwhile, it slashed its global exports of a host of medical products: surgical gloves by 48 percent, surgical gowns by 71 percent, face masks by 48 percent, medical ventilators by 45 percent, intubator kits by 56 percent, thermometers by 53 percent, and cotton balls and swabs by 58 percent. </p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">The Chinese government obscured the magnitude of those efforts by merging its trade figures for January and February, the report says, while also delaying the release of trade data. </p>
        
            <p class="story-text__paragraph">DHS spokespersons did not immediately respond to a request for comment. </p>
        
            <p class="story-text__paragraph">The Trump administration has been increasingly critical of the Chinese government’s handling of the early stages of what became a global pandemic, faulting Beijing for what U.S. officials say is a lack of transparency about key aspects of the coronavirus outbreak.</p>
        
            <p class="story-text__paragraph">The WHO <a href="https://www.who.int/news-room/detail/30-01-2020-statement-on-the-second-meeting-of-the-international-health-regulations-(2005)-emergency-committee-regarding-the-outbreak-of-novel-coronavirus-(2019-ncov)" target="_blank">declared</a> the outbreak a “public health emergency of international concern” on Jan. 30, and the United States banned some travel from China a day later.</p>
        
            <p class="story-text__paragraph">According to a WHO <a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200121-sitrep-1-2019-ncov.pdf" target="_blank">timeline</a>, China first notified the global health body of an unknown pneumonia-like disease on Dec. 31, 2019, and provided incremental updates on the mysterious outbreak throughout the month of January 2020.</p>
        
            <p class="story-text__paragraph">Secretary of State Mike Pompeo appeared to confirm the report in an interview with ABC News on Sunday, in response to a question by host Martha Raddatz.</p>
        
            <p class="story-text__paragraph">Raddatz alluded to unspecified "intelligence officials ... saying that the Chinese government intentionally concealed the severity of Covid-19 from the international community in early January while it stockpiled medical supplies.</p>
        
            <p class="story-text__paragraph">"In terms of international concealing," she said, "I assume you think they did that intentionally to keep as many masks for themselves as possible."</p>
        
            <p class="story-text__paragraph">"Martha, you’ve got the facts just about right," Pompeo replied. "We can confirm that the Chinese Communist Party did all that it could to make sure that the world didn’t learn in a timely fashion about what was taking place. There’s lots of evidence of that. Some of it you can see in public, right? We’ve seen announcements. We’ve seen the fact that they kicked journalists out. We saw the fact that those who were trying to report on this – medical professionals inside of China – were silenced. They shut down reporting. All the kind of things that authoritarian regimes do."</p>
        
            <p class="story-text__paragraph">The Office of the Director of National Intelligence on Friday said that the intelligence community was investigating the possibility that the virus had escaped somehow from a research facility in Wuhan, China, where the disease was first identified.</p>
        
            <p class="story-text__paragraph">Pompeo said there was a "significant amount of evidence that this came from that laboratory in Wuhan," though he appeared to stumble over whether he believed the virus was manmade or natural in origin.</p>
        
            <p class="story-text__paragraph">In Friday's statement, intelligence officials <a href="https://www.politico.com/news/2020/04/30/intel-agency-rules-out-coronavirus-man-made-origin-theory-226269" target="_blank">ruled out</a> the possibility that the virus was engineered to be a bioweapon.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
