{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Shaun of the Dead: Edgar Wright and Simon Pegg on their zombie classic</h1>
        <h2>‘An extra came up to me one day and said: “Straight to video, this one”’</h2>
        <p>Simon Pegg was the first person I’d ever met who was as obsessed with George Romero’s <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/film/2004/mar/26/dvdreviews.shopping7">Dawn of the Dead</a> as I was. One evening, I was round at Simon and his pal <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/global/2019/mar/10/nick-frost-interview-i-have-a-beautiful-life-at-the-moment-fighting-with-my-family">Nick Frost</a>’s flat for drinks when I said we should make our own zombie movie, a horror comedy. It would be from the point of view of two bit-players, two idiots who were the last to know what was going on, after waking up hungover on a Sunday morning.</p>
        <p>A flash point came when I ventured out once to buy milk at five in the morning, after staying up playing Resident Evil. I was taken with how deserted and eerie the streets were. What would a British person do if zombies appeared now? In American zombie movies, everyone had high-powered weapons. What would someone do without all that? This turned into the first scene I filmed, where Shaun walks to the shop completely oblivious to the zombie attack.</p>
        <p>We wouldn’t have been able to make the film without fans of <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/tv-and-radio/2020/jan/11/the-stars-of-spaced-reunited-21st-anniversary-simon-pegg-jessica-hynes-edgar-wright-nick-frost">Spaced</a>, the sitcom I’d worked on with Simon. We put a call out, asking them to be our zombie extras, and the response was overwhelming. We had no money to pay them, though, and I’m keenly aware that after the long hours they put in, some of them weren’t Spaced fans afterwards. </p>
        <figure class="element element-video fig--has-shares fig--narrow-caption" data-canonical-url="https://www.youtube.com/watch?v=LIfcaZ4pC-4" data-component="video-inbody-embed">
<div class="u-responsive-aligner" style>
<div class="embed-video-wrapper u-responsive-ratio" style>
<iframe allowfullscreen="" frameborder="0" height="259" src="https://www.youtube-nocookie.com/embed/LIfcaZ4pC-4?wmode=opaque&amp;feature=oembed" width="460"></iframe>
</div>
</div>

<figcaption class="caption caption--img">
<a class="u-underline" data-link-name="in body link" href="https://www.youtube.com/watch?v=LIfcaZ4pC-4">Watch a trailer for Shaun of the Dead</a>
</figcaption>
</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Our zombies spent a week cooped up on set. They had to stand outside The Winchester, the pub where our heroes take refuge, banging on the windows and not doing much else really. When we eventually involved them properly, they had this electric energy: a pure, crazed hysteria. I needed to record some zombie sounds so one lunchtime I stood in the middle of the pub and asked them all to attack me. One came straight at me and bit my leg. They’d gone feral.</p>
        {% if paywall.show %}
        
            <p>We wrote to people asking if would be OK for us to trash their records. Simon sent a nice letter to Mark Knopfler of Dire Straits asking if we could use <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/music/2011/jun/12/brothers-in-arms-cd">Brothers in Arms</a>, but it came to nothing. <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/music/2015/feb/25/sade-profile-interview-1984-archive">Sade</a> was the coolest. She said we could trash Diamond Life without hesitation. We were going to have a David Bowie joke in the part where they’re deciding which records to throw at the zombies. “Hunky Dory? Ziggy Stardust? <em>The Labyrinth Soundtrack!</em>” In the end, we went with Prince because we thought it was funnier: “Purple Rain? Sign O’ the Times?<em> The Batman Soundtrack!</em> Throw it!”</p>
        
            <p><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/culture/helen-mirren">Helen Mirren</a> turned down the part of Barbara, Shaun’s mother. She sent us a note saying she wanted to be Nick, because he had funnier lines. <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/film/2017/apr/12/bill-nighy-im-not-in-any-trouble-everybody-can-relax">Bill Nighy</a> said yes immediately but, being a dapper dresser, wasn’t too impressed by his character’s beige, suburban wardrobe. He still managed to look dashing.</p>
        
            <p>A bunch of kids were unhappy about us filming on their estate. They threw stones and eggs. The only way we could stop them was by giving them parts. They went through full makeup and eventually became teenage zombies. It was a case of keep your friends close but your zombie enemies closer.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="93f3d10027c0b56eba93fda7b893a012ffb4b7a0" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b69e4c6db70f999a32671479e1c14bed" itemprop="url"/>
<meta content="3000" itemprop="width"/>
<meta content="1973" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=59e628f43500a45b1221a1146ab258e8 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=610353d5369059e5944b80f54fd3ed43 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=32e25263575d16d06148970d8ba45590 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=5a824ff21a790c16fe9fda6cfa3e3646 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=7b9b6e69105339e2d446612e11b629b5 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e3da0cbd900044d4ccbdf955df5e51a7 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="‘They’ve gone feral’ … the extras move in." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/93f3d10027c0b56eba93fda7b893a012ffb4b7a0/0_0_3000_1973/master/3000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d5569805942ec834b3b77e621fb72bf9"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 ‘They’ve gone feral’ … the extras move in. Photograph: Universal/Sportsphoto Ltd/Allstar
</figcaption>
</figure>
        
            <p>An extra came up to me one day and, thinking I was a crew member, said: “Straight to video, this one.” The success rate for British films was still quite low and one of the biggest jobs was convincing everyone the effort was going to be worthwhile. Later, we sent all the people who said nice things about the film a name tag, like Shaun’s but with their name on it. I got an email from <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/books/stephenking">Stephen King</a> telling me he was wearing his. And when Simon and I eventually met <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/film/2017/jul/17/george-a-romero-obituary">George Romero</a>, he had his on.</p>
        
            <p>Romero saw the film before its release, but Universal had a security guard watch it with him. I love the fact they thought he was going to pirate a movie that was a tribute to him. It was an amazing year, probably the best year of my life.</p>
        
            <p>I wrote an episode of Spaced where my character fights zombies in his flat. We had such a fun time shooting it, we thought we ought to make a zombie movie – like it was <em>that</em> easy. We really were so naive. We thought we could do anything.</p>
        
            <p>Edgar loved Queen and had the idea of playing <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/sport/video/2012/aug/12/olympics-team-gb-sing-queen-video">Don’t Stop Me Now</a> – one of the most positive, exciting, happy tunes ever – over a scene of extreme violence in The Winchester. We choreographed the entire fight to that song, which was a real worry because it hadn’t been cleared for use and could have ended up being way too expensive. So we wrote a begging letter to Queen guitarist <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/music/brian-may">Brian May</a> and he was lovely about it.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="24e0b3d6d97958c9aa420e55f39863a505c39c35" id="img-3" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ffaa80e75852416c65744a58920cd80b" itemprop="url"/>
<meta content="3000" itemprop="width"/>
<meta content="1965" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-3">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=bd427b4d7d777e17a573804513a3cb3e 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=decb2e73c2d4d93cfc6c5700a78253b9 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=47ea0f94e9724b91750ccbd1b2dd898d 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d8bd31a558bd086b52894fb70a1a4f3f 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=147c8059a09f2f7804b988b733c9177a 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4117682745b6b4d3f5da2bffc57bdf64 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="‘We spent ages in the pub’ … Kate Ashfield and Simon Pegg." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/24e0b3d6d97958c9aa420e55f39863a505c39c35/0_0_3000_1965/master/3000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4ca6f96611c0d549f48a3c756d63432c"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 ‘We spent ages in the pub’ … Kate Ashfield and Simon Pegg. Photograph: Photos 12/Alamy
</figcaption>
</figure>
        
            <p>We spent ages in the pub set. It was a really hot summer and one of the zombies fainted. Fortunately, there was a working tap and the cast would have a much-needed beer after filming. Steve Emerson played John the zombie landlord. He’d been a stuntman on <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/lifeandstyle/2017/may/07/the-day-i-met-john-wayne-on-an-industrial-estate-in-middlesex">Brannigan</a>, we discovered, and had been thrown into a jukebox by John Wayne. Despite being well into his 70s, he encouraged us to really<em> </em>hit him during the fight scene. So we did.</p>
        
            <p>The reaction to the film was extraordinary. George Romero loved it and I saw a picture of Stephen King wearing a <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/film/shaun-of-the-dead">Shaun of the Dead</a> T-shirt. I’d made it on to the chest of a horror master.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
