{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>The drugs and treatments that could stop Covid-19</h1>
        <h2>Positive data from the NIAID trial would be a landmark in the race to find a coronavirus treatment.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/cf4faba/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/dab8cdb/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/5ef6de1/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/857b563/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/cd4fa6a/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/447e1ec/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg"/>
<img alt="Drug test vials" src="https://static.politico.com/dims4/default/52ad6db/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F10%2F50%2F4f86f43c4a1e880d24abcb47ad94%2F200417-drug-ap-773.jpg" title="Drug test vials"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">Gilead's experimental drug remdesivir may be the first effective coronavirus treatment, the nation's top infectious disease expert said Wednesday.</p>
        <p class="story-text__paragraph">New results from a clinical trial conducted by the National Institute of Allergy and Infectious Diseases establish the drug as the standard of care for Covid-19, which has killed 50,000 people in the U.S. so far, said agency Director Anthony Fauci. He likened the good news about remdesivir to the discovery of the<b> </b>first medication found to help treat HIV more than three decades ago.</p>
        <p class="story-text__paragraph">"The data shows that remdesivir has a clear-cut, significant positive effect in diminishing the time to recover," Fauci told reporters hours after Gilead said promising data was incoming from NIAID's sweeping trial, which involved 1,063 patients.</p>
        <p class="story-text__paragraph">The vaccine expert cautioned that the drug was not a complete "knockout" in the study — the first randomized clinical trial to deliver results on a potential coronavirus drug. But he said the findings are significant because "what it has proven is that a drug can block this virus."</p>
        <p class="story-text__paragraph">President Donald Trump, who has repeatedly touted unproven coronavirus drugs at White House briefings, was more upbeat about the trial results. "It's a very positive event," he said.</p>
        <p class="story-text__paragraph">Trial participants who received remdesivir recovered in an average of 11 days compared with 15 days for patients in the control group, who received a placebo. Eight percent of remdesivir patients died during the trial versus 11 percent in the placebo group.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">The death rate is just slightly lower in the remdesivir group, but more data remains to be analyzed, Fauci said. But the scientist, who has led NIAID since 1984, said the news reminded him of the day 34 years ago when modest results for the drug AZT signaled the first potential weapon against HIV.</p>
        
            <p class="story-text__paragraph">"That was not the end game, because building on that every year after we did better and better, we had better drugs of the same type, and we had drugs against different targets," Fauci said.</p>
        
            <p class="story-text__paragraph">AZT, or azidothymidine, was originally developed as a cancer drug. In March 1987, it won FDA approval — in record time — for use against HIV, at a time when infection often led to a quick and painful death.</p>
        
            <p class="story-text__paragraph">The medicine came with rough side effects, and questions about whether it actually extended life. It took another decade before scientists developed the combination antiretroviral drugs that transformed HIV into a chronic disease.</p>
        
            <p class="story-text__paragraph">Scientists around the world have been racing to find coronavirus treatments, but no drug has been definitively proven effective.</p>
        
            <p class="story-text__paragraph">Other early data for remdesivir have been mixed, including a pair of studies whose results were released hours ahead of the NIAID findings.</p>
        
            <p class="story-text__paragraph">Gilead released its own study results this morning suggesting that severely ill patients receiving five days of remdesivir fared just as well as patients receiving a 10-day dosing regimen. More than half of both dosing groups were discharged from the hospital within two weeks of beginning their medication.</p>
        
            <p class="story-text__paragraph">Eight percent of people in the five-day group died while 11 percent in the 10-day group died.<b> </b>But another 10 percent in the longer dosing arm had to discontinue treatment because of serious side effects, and the study lacked a control group.</p>
        
            <p class="story-text__paragraph">Gilead said the data also suggests that people who received remdesivir early in their infection seemed to fare better than those that received it later. The study is not a traditional trial with a placebo arm to compare against remdesivir for effectiveness, earning Gilead some criticism from policy experts over sharing the news alongside the NIAID results.</p>
        
            <p class="story-text__paragraph">"Piggybacking the severe trial release on [the NIAID study] is the part which is unjustifiable," said Peter Bach, director of Memorial Sloan-Kettering's Center for Health Policy and Outcomes. Calling Gilead's results positive even though they came from a trial without a control group "has no basis in scientific inquiry," he added.</p>
        
            <p class="story-text__paragraph">The Lancet medical journal responded to Gilead's news this morning by <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)31022-9/fulltext?utm_campaign=tlpr&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=87146813&amp;_hsenc=p2ANqtz-8ZgigmmMqebccAtwi_pKj91_QjrcDd_ybkHGeKEabjurf8Y1i--iwkp8osglWCTKfgbro242Ru5IIHO1fwnOTEW9B3dQ&amp;_hsmi=87146813" target="_blank">rushing to publish the inconclusive results</a> from <a href="https://www.politico.com/news/2020/04/23/who-gilead-coronavirus-drug-204749" target="_blank">a Chinese trial accidentally leaked last week</a> by the World Health Organization.</p>
        
            <p class="story-text__paragraph">Gilead defended itself in a news statement. “Unlike traditional drug development, we are attempting to evaluate an investigational agent alongside an evolving global pandemic," said Merdad Parsey, Gilead's chief medical officer. "Multiple concurrent studies are helping inform whether remdesivir is a safe and effective treatment for COVID-19 and how to best utilize the drug."</p>
        
            <p class="story-text__paragraph">Former FDA Commissioner Scott Gottlieb said Gilead’s data looked strong enough for remdesivir to receive an emergency use authorization from the agency so that critically ill patients could get the drug quickly. “Remdesivir would appear to meet or exceed standard for authorization under EUA, especially relative to other EUAs issued,” <a href="https://twitter.com/ScottGottliebMD/status/1255486045413662720?s=20" target="_blank">Gottlieb tweeted</a>.</p>
        
            <p class="story-text__paragraph">Besides emergency authorizations for a range of tests, FDA last month made the move to hand the authorization to chloroquine and hydroxychloroquine as well, despite sparse evidence suggesting they work against the coronavirus.</p>
        
            <p class="story-text__paragraph"><i>Zachary Brennan contributed to this report.</i></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
