{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>‘It bothers me that this is still in the news cycle,’ Birx says of Trump’s disinfectant and light comments</h1>
        <h2>The White House coronavirus response coordinator says the discussion is a distraction.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/613adcd/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/260928a/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/5ca5471/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/d1c6063/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/0ae97f9/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/a369306/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg"/>
<img alt="Deborah Birx" src="https://static.politico.com/dims4/default/0e62591/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbf%2Fa5%2F2472bb404d59b307218f938a8e1f%2Fgettyimages-brix.jpg" title="Deborah Birx"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">Dr. Deborah Birx, the White House coronavirus response coordinator, downplayed President Donald Trump’s suggestion last week that injected disinfectants and light could work as treatments for coronavirus, arguing the news media should move on from the incident.</p>
        <p class="story-text__paragraph">In an interview on CNN’s “State of the Union,” host Jake Tapper pressed Birx on whether Trump’s comments at a White House briefing Thursday alarmed her as a medical professional.</p>
        <p class="story-text__paragraph">“The CDC had to issue a statement. Lysol had to issue a statement. I understand that you’re taking a generous approach to this when it comes to President Trump musing aloud, but this is potentially dangerous,” Tapper said. “As a doctor, doesn’t that bother you that you even have to spend any time discussing this?”</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">Birx replied that the focus on Trump’s comments crowded out a broader discussion about how to respond to the virus.</p>
        
            <p class="story-text__paragraph">“It bothers me that this is still in the news cycle, because I think we’re missing the bigger pieces of what we need to be doing as an American people to continue to protect one another,” Birx said. “As a scientist and a public health official and a researcher, sometimes I worry that we don’t get the information to the American people that they need when we continue to bring up something that was from Thursday night.”</p>
        
            <p class="story-text__paragraph">During a White House briefing Thursday, Trump floated the dangerous possibility that Americans could ingest disinfectants as a remedy for the virus — a possibility that was <a href="https://www.politico.com/news/2020/04/24/lysol-maker-warns-against-injecting-disinfectants-trump-coronavirus-theory-206268" target="_blank">roundly criticized and prompted warnings</a> from health officials and manufacturers of household cleaning products.</p>
        
            <p class="story-text__paragraph">“I think I made it very clear in how I interpreted that. I also made it very clear, and so has Dr. [Anthony] Fauci and everyone associated with the task force, in their clarity around this is not a treatment,“ she said on NBC’s “Meet the Press.”</p>
        
            <p class="story-text__paragraph">Trump also <a href="https://www.politico.com/news/2020/04/23/trump-coronavirus-sunlight-205969" target="_blank">promoted the use of light as an internal treatment</a>, touting research by the Department of Homeland Security on how heat, humidity and sunlight affect the virus on surfaces.</p>
        
            <p class="story-text__paragraph">Birx said the focus on Trump’s comments caused the public to miss some vital information coming from scientific studies about sunlight and the coronavirus.</p>
        
            <p class="story-text__paragraph">“I think it's really important to see that sunlight, direct sunlight, may actually be able to kill the virus,“ she said on “Meet the Press.”</p>
        
            <p class="story-text__paragraph">The president later attempted to walk back his disinfectant comments amid the backlash. He falsely claimed Friday that he was “asking a question sarcastically to reporters” about disinfectants.</p>
        
            <p class="story-text__paragraph">Tapper capped off the CNN interview adding that “the source of the misinformation is not the news media on this.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
