{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Can Intel's 10th-gen desktop CPUs compete?</h1>
        <h2>Breaking down Intel's new chip lineup.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        <p {% if not paywall.show %} class="paytext" {% endif %}>With <a href="https://www.engadget.com/2019-11-28-amd-beating-intel-threadripper-ryzen.html">AMD now a viable alternative</a> to Intel chips from laptops all the way through workstations and servers, Intel is trying to make its chips more attractive to buyers. The hope had always been that its advanced 10nm manufacturing process would bring big improvements in speed and power usage, but as that technology has been continually delayed, Intel has had to look for others ways to offer more value, and what we’ve seen is chips with more and more cores.</p>
        {% if paywall.show %}
        
            <p>Just three years ago, if you were buying an Intel desktop CPU, you were still stuck with a 4-core chip as your most powerful option. Now, with its 10th-gen “Comet Lake” desktop chips, Intel is offering up to 10 cores on top-line chips. The i9-10900K is a 10-core, 20-thread chip with a max boost speed of 5.3GHz on a single core, and up to 4.9GHz on all cores. We fully expect this will be the fastest gaming chip around, and it should also be seriously speedy in content creation. The 10900K should sell for about $500, the same as Intel’s previous <a href="https://www.engadget.com/2018-10-31-intel-i9-9900k-explained-the-road-to-5ghz.html">8-core flagship i9-9900K</a> when it launched at the end of 2018.</p>
        
            <p>Things actually get a bit more interesting as you move down the line, though. The i7-10700K is essentially the same chip as that 9900K, an 8-core, 16-thread 5Ghz processor that should retail for about $100 less. In fact, all the core chips down to i3 now feature hyperthreading, which can boost performance in certain programs by 20-30%. This actually makes the i3 potentially appealing. The i3-10300 looks suspiciously similar to Intel’s last 4-core flagship, the i7-7700K, but should cost $150. That might not cut it for super heavy workloads like rendering or data processing, but for most games and daily tasks, the i7-7700K still holds up.</p>
        
            <p>Of course, there are downsides. These CPUs all require a new motherboard and chipset, called Z490, and they don’t enable PCIe 4.0, the new interface standard that allows for super fast storage. There are <a href="https://www.gamersnexus.net/news-pc/3576-intel-gen-10-cpu-specs-10900k-delid-oc-support" target="_blank">rumors</a> that Intel’s <em>next</em> CPUs might keep compatibility with Z490 and that those chips will add PCIe 4.0, but for now you’re stuck with PCIe 3. It should be noted that AMD’s high-end chips all support PCIe 4.0, and AMD has managed to keep motherboard compatibility for the past three years. (Although PCIe 4.0 does require a motherboard with one of its latest chipsets.) These Intel 10th-gen chips are also still based on Intel’s aging 14nm manufacturing process and Skylake architecture, so aside from more cores, don’t expect huge performance gains here.</p>
        
            <p>Do these Intel 10th-gen chips bring the competition back to AMD? Well, it’s a step in the right direction. They do offer more cores for the same price, and unlock features up and down the product line. Intel’s chips do also tend to be a little faster per-core in certain programs, but AMD is catching up, and they do offer some compelling alternatives, like the 12 core 3900X, which can be found for around $430. After years of CPU stagnation, any competition is good, and as price-per-core has plummeted over the past three years, we consumers get to reap the benefits.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
