{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Was wünschen Sie sich von der europäischen Berichterstattung des Guardians?</h1>
        <h2>Wir vertiefen unsere Berichterstattung aus und für Europa. Sagen Sie uns, welche Themen wir näher beleuchten sollen</h2>
        <p>Auch wenn Großbritannien sich von Europa abwendet, der Guardian tut es nicht. Wir widmen uns im Gegensatz noch stärker europäischen Themen und Angelegenheiten. Wir stehen an einem historischen Wendepunkt, geprägt von mehr nationalistischem Denken und Politikverdrossenheit.</p>
        <p>Der Guardian sieht diese als große Risiken für unsere Gesellschaft und wir brauchen Ihre Hilfe, um diesen Strömungen entgegenzusteuern.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Ist es jetzt mehr oder weniger wichtig, der EU auf die Finger zu schauen? Was sind die wichtigsten Themen, die uns alle betreffen und auf die wir uns konzentrieren sollten? Sollten wir weiterhin die komplizierten anglo-europäischen Beziehungen debattieren oder uns mehr auf die geteilten Probleme Europas fokussieren?</p>
        {% if paywall.show %}
        
            <p>Wünschen Sie sich mehr Hoffnung? Wollen Sie mehr Artikel, die konstant aufzeigen, wo es in der EU schief läuft, oder möchten Sie, dass wir optimistische Akzente setzen und die Geschichten finden, die zeigen, was Europa - oder einzelnen Ländern - gut gelingt; wo Beispiele gesetzt werden, von denen wir alle lernen können?</p>
        
            <p>Sie werden von uns in Zukunft mehr Journalismus aus und über Europa lesen, unter anderem in einem speziellen Bereich unserer internationalen Online-Ausgabe. Dies ist Ihre Chance, uns zu sagen, was Sie gerne lesen möchten.</p>
        
            <figure class="element element-embed" data-alt="Germany">
<iframe class="fenced" srcdoc='&lt;html&gt;&lt;head&gt;&lt;/head&gt;&lt;body&gt;&lt;script type="text/javascript" src="https://guardiannewsandmedia.formstack.com/forms/js.php/your_views_germany"&gt;&lt;/script&gt;&lt;noscript&gt;&lt;/body&gt;&lt;/html&gt;'></iframe>
</figure>
        
            <figure class="element element-embed" data-alt="Germany">
<iframe class="fenced" srcdoc='&lt;html&gt;&lt;head&gt;&lt;/head&gt;&lt;body&gt;&lt;script type="text/javascript" src="https://guardiannewsandmedia.formstack.com/forms/js.php/your_views_germany"&gt;&lt;/script&gt;&lt;noscript&gt;&lt;/body&gt;&lt;/html&gt;'></iframe>
</figure>
        
            <p><em><strong>If you’re having trouble using the form, <a class="u-underline" data-link-name="in body link" href="https://guardiannewsandmedia.formstack.com/forms/your_views_germany">click here</a>. Read terms of service <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/help/terms-of-service">here</a>.</strong></em></p>
        
            <p><br/></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
