{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>'A second sense of grief': coronavirus hits cultural travel boom for black Americans</h1>
        <h2>Losses threaten Caribbean and African nations where travel had become a growing industry, spurred by cultural and heritage links

Coronavirus – latest US updates
Coronavirus – latest global updates
See all our coronavirus coverage</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">A</span></span>s Sarah Greaves-Gabbadon sat on a private island off the coast of Belize for her next travel story, she found it odd that more and more passengers wore masks at the airport. When trips were suddenly cancelled, the <a class="u-underline" data-link-name="in body link" href="https://www.jetsetsarah.com/">Jet Set Sarah blog</a> owner accepted a new reality for travel had been created by coronavirus.</p>
        <p>“It was a shock, the old normal is completely gone and will never return,” she said, doubtful about being “back on a plane before October”.</p>
        <p>A global shutdown can hurt not just governments, hotels and tour vendors, but the writers and entrepreneurs whose blogs, businesses, and livelihoods are supported by trips to far-away destinations.</p>
        <p>“When the reality and permanence hits everyone, it’s almost a second sense of grief,” Greaves-Gabbadon said.</p>
        <p>As with many other parts of the virus’s impact, it has especially been a body blow to African Americans and a nascent boom in the black travel industry. Staying home are now the nearly 17% of African Americans who <a class="u-underline" data-link-name="in body link" href="who%20take%20one%20or%20more%20international%20trips">take one or more international trips</a> a year. According to <a class="u-underline" data-link-name="in body link" href="https://www.globenewswire.com/news-release/2018/12/20/1670310/0/en/African-American-Travel-Represents-63-Billion-Opportunity.html">a study by Mandala</a>, a marketing research group, the economic value of African American travelers increased from $48bn to $63bn between 2010 and 2018.</p>
        <p>Losses especially threaten Caribbean and African nations where black American travel had become a vital and growing industry, largely spurred by cultural and heritage links. The African Development Bank estimates some countries could see their economies <a class="u-underline" data-link-name="in body link" href="https://www.france24.com/en/20200405-study-finds-about-20-million-jobs-in-africa-at-risk-from-coronavirus-pandemic">shrink by an average of 3.3%</a> this year. Popular tourist spots such as Seychelles, Cape Verde, Mauritius and Gambia could shrink by as much as 7%.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Meanwhile in the Caribbean, Barbados’ <a class="u-underline" data-link-name="in body link" href="https://www.loopnewsbarbados.com/content/ncf-announces-cancellation-2020-crop-over-festival">cancelled Crop Over festival</a> could be <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2020/mar/23/if-the-hotels-go-down-everything-does-tourism-hotspots-from-costa-rica-to-caribbean-hit-by-travel-slowdown">the final blow</a> for a region already devastated by the outbreak. Many had hoped the Caribbean would be spared as the virus emerged at the end of peak season, but most destinations have since <a class="u-underline" data-link-name="in body link" href="http://jamaica-gleaner.com/article/entertainment/20200313/carnival-jamaica-postponed-october?fbclid=IwAR2THlAUaUcn-y7p2foTiBDxuTM7tF4W8aFs7rr9Wa6JThKbnz3w8Jdj6MQ">cancelled their summer carnivals</a>.</p>
        {% if paywall.show %}
        
            <p>“It’s not just a matter of ‘I can’t go to Barbados for Crop Over and see Rihanna’,” Greaves-Gabbadon said. “These journeys mean so much to us on a cultural level, that when you take them away, it’s rough.”</p>
        
            <p>Cultural and genealogical travelers are the biggest spenders. The average traveller in that group shells out $2,078 per trip versus $1,345 for all African American tourists.</p>
        
            <p>Barbados also postponed its genealogical tourism promotion encouraging descendants to visit in 2020, <a class="u-underline" data-link-name="in body link" href="https://www.ghanaweb.com/GhanaHomePage/NewsArchive/Barbados-seeks-help-from-Ghana-to-organise-their-version-of-Year-of-Return-GTA-CEO-804812">modeled after that of Ghana</a>.</p>
        
            <p>Considered the ancestral home of many black Americans, Ghana <a class="u-underline" data-link-name="in body link" href="https://www.forbes.com/sites/meghanmccormick/2019/12/10/how-to-spark-a-global-movement-ghanas-year-of-return-welcomes-1m-visitors/#2e778c1a6d5f">hit a record 1 million foreign visitors</a> in 2019 from its marketed “Year of the Return”. The campaign enticed people of African descent to visit in the 400th year since the Atlantic slave trade began.</p>
        
            <p>“It’s hard to put into words what happens to us when we visit but it activates something in our DNA” said Diallo Sumbry, Ghana’s first African American tourism ambassador. “It helps to reconnect an identity, the freedom of being able to express that unexplainable feeling that’s beneath all of our skin.”</p>
        
            <p>This year’s <a class="u-underline" data-link-name="in body link" href="https://www.birthrightjourney.com/back-2-africa-2020-info">Back to Africa festival</a>, promoted as a “birthright trip” for African Americans, narrowly missed the US’s travel ban. But cultural expeditions across the continent remain at risk as the world <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/coronavirus-outbreak">confirms more than 2.5m </a><a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/coronavirus-outbreak"> cases of coronavirus</a>.</p>
        
            <p>Where some see revenue lost, Sumbry sees opportunity. He implored black nations to “understand the power and resilience” of black travelers.</p>
        
            <p>“African Americans are a big missing part of the redevelopment of Africa,” he said. “Every African country ought to be taking this time to analyze their data on African American travelers and shape that into policy.”</p>
        
            <p>Thousands of independent operators, entrepreneurs and bloggers who thrived amid the black travel industry’s growth now need to start planning a way through the crisis.</p>
        
            <p>Zim Ugochukwu sold the popular blog Travel Noire in 2017, but said it is vital for budding entrepreneurs to stay engaged during the crisis.</p>
        
            <p>“This can be just a setback,” she said. “There’s an opportunity to build a loyal market from showing you’re still committed to them and not just the revenue.”</p>
        
            <p>Campaigns are already underway to bring back visitors.</p>
        
            <p>Tourism ministers from throughout the African Union <a class="u-underline" data-link-name="in body link" href="https://www.traveldailynews.com/post/ministers-of-the-african-union-discuss-actions-to-mitigate-the-impacts-of-covid-19">met via video conference</a> to debate action plans to mitigate the pandemic’s impact, while<strong> </strong>the Caribbean Tourism Organization launched a “<a class="u-underline" data-link-name="in body link" href="https://www.travelpulse.com/news/destinations/caribbean-tourism-launches-caribbean-dreaming-campaign.html">Caribbean Dreaming</a>” campaign to encourage travelers to postpone their vacations instead.</p>
        
            <p>“People will travel again. What the industry can do now is say ‘here’s what we’re doing to protect you when you do’,” Greaves-Gabbadon said. She now posts <a class="u-underline" data-link-name="in body link" href="https://www.jetsetsarah.com/thelatest/2020/4/7/masks">where tourists can purchase masks</a> throughout the Caribbean.</p>
        
            <p>Ugochukwu said the key to sustaining the industry is creating avenues for the public to be inspired, not anxious.</p>
        
            <p>“Remind people that we’ll be here whenever they’re ready to travel again because we’re resilient, just like they are,” she said.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
