{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Ex-pope Benedict XVI accuses opponents of wanting to silence him</h1>
        <h2>Comments in authorised biography also associate gay marriage with the Antichrist</h2>
        <p>The former pope Benedict XVI has accused opponents of wanting to silence him, while associating gay marriage with the Antichrist and attacking humanist ideologies in an authorised biography published in <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/germany">Germany</a>.</p>
        <p>The 93-year-old, whose original name is Joseph Ratzinger, said in Benedict XVI – A Life he had fallen victim to a “malignant distortion of reality” in reactions to his interventions in theological debates.</p>
        <p>He said: “The spectacle of reactions coming from German theology is so misguided and ill-willed that I would prefer not to speak of it.”</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>The former pope, who dramatically resigned in 2013, was especially criticised for a 2018 text that was considered critical of the Jewish faith. “I would rather not analyse the actual reasons why people want to silence my voice,” Benedict said in the book.</p>
        {% if paywall.show %}
        
            <p>The German branch of the Catholic church has for years been led by clergy more disposed to change than the stringent traditionalism associated with Ratzinger.</p>
        
            <p>In office from 2005-13, Benedict has frequently been criticised for his attitudes to Islam and social issues. He has also been accused of attempting to undermine the modernisation drive of his successor, Pope Francis.</p>
        
            <p>Benedict attempted to counter such claims in the biography, saying his “personal friendship with Pope Francis has not only endured, but grown”.</p>
        
            <p>In February, Benedict was drawn into a Vatican intrigue when his private secretary was removed from Francis’ entourage.</p>
        
            <p>Some observers had accused the former pope of backseat driving in January when a book defending priestly celibacy appeared, bearing his name alongside that of the arch-conservative Guinean cardinal Robert Sarah.</p>
        
            <p>After 48 hours of controversy, Benedict asked that <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2020/jan/14/cardinal-denies-manipulating-pope-benedict-over-priestly-celibacy">his name be removed from the book’s cover</a>, introduction and jointly signed conclusion. But he has not given up intervening in social debates, offering a fresh attack on gay marriage in the new biography.</p>
        
            <p>“A century ago, anyone would have thought it absurd to talk about homosexual marriage. Today those who oppose it are excommunicated from society,” Benedict said in the book.</p>
        
            <p>“It’s the same thing with abortion and creating human life in the laboratory,” he said. It was only natural for people to fear the spiritual power of the Antichrist, he added.</p>
        
            <p>“The real threat to the church ... is in the global dictatorship of purportedly humanist ideologies,” he said.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
