{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>How the Kent State massacre marked the start of America's polarization</h1>
        <h2>The killing of four white students 50 years ago brought the anti-Vietnam protests global attention. The killing of black students at the same time went unnoticed</h2>
        <p>To Lou Capecci, the crack of the national guard’s guns sounded like more of the same.</p>
        <p>“It was pretty common to have demonstrations every day. The national guard had been on campus for a few days. They would shoot tear gas into the middle of the crowd and people would throw it back at them. Then we heard the shots and at first everybody kind of shrugged their shoulders and thought more tear gas,” he said.</p>
        <p>But the young student at Kent State University in <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/us-news/ohio">Ohio</a> was mistaken.</p>
        <p>Fifty years ago today, 28 soldiers opened fire on anti-Vietnam war demonstrators, letting loose 67 bullets in just 13 seconds. Four students were killed, nine wounded, and a fissure exposed in American society that shaped politics into the Trump era.</p>
        <p>To large parts of the country, the Kent State massacre was a shocking and seminal event – American soldiers gunning down white students was unthinkable until it happened.</p>
        <p>Part of the shock for Capecci, who walked away from the demonstration minutes before the national guard fired, was that he thought the soldiers’ weapons were just for show.</p>
        <p>“No one knew the national guard had real bullets. We were completely shocked. It just never occurred to anyone that they would actually have bullets to shoot people. It may sound naive but we talked about that for years afterwards,” he said.</p>
        <p>It was naive. In other parts of the country, the police were killing African Americans protesting for equal rights, including on college campuses before and immediately after Kent State with little attention from the television cameras that gave saturation coverage to the deaths of the white students.</p>
        <p>There was a second shock to come for Capecci and other anti-war protesters. A majority of Americans sided with the national guard because, whatever the country’s feelings about an increasingly unpopular war, the protesters had come to represent something much more objectionable.</p>
        <p>Fairly or not, the students were increasingly seen as allied with violence in an age of riots and revolutionary groups including The Weathermen and a faction led by Sam Melville that, between January 1969 and the Kent State massacre, committed 4,330 bombings against federal buildings and corporations in the US, killing 43 people.</p>
        <p>That division was made all too clear as hundreds of anti-war protesters marched through New York City four days after Kent State. A large group of construction workers taunted them as anti-American and then attacked with crowbars in what became known as “The Hardhat Riot”. Dozens were injured but President Richard Nixon understood the political advantage of siding with blue collar workers against students he called “bums”.</p>
        <figure class="element element-image img--landscape element--showcase fig--narrow-caption fig--has-shares" data-component="image" data-media-id="5a1173dc20c4ddca67e1a0a35dbb2455471d15fc" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=bf7922b5823f146185879f0011065174" itemprop="url"/>
<meta content="3000" itemprop="width"/>
<meta content="2238" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="860px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=860&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=247a422c4a580b142ed7fa89e83847b9 1720w"/>
<source media="(min-width: 1300px)" sizes="860px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=860&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=fd860040148c1ac91c2d54a0168a7113 860w"/>
<source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)" sizes="780px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=780&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=f77002b67a41b8fd88424fd227bc4584 1560w"/>
<source media="(min-width: 1140px)" sizes="780px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=780&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9086d7b46807584d316b6f5bee8416f4 780w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e0ccbb8d5815af9a67bb94f843a33114 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9552f18013a939a19e7cea2b5174133b 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=2aa5df1e6318dc715b0ade1e6d132006 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6590b618ba60d8f20c77e54da4756974 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=575098bbae76f69ab65ef42aed2c6fa2 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7cbd5e75c99cc6b809e88bc092f677e5 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Members of the national guard killed four students at Kent State University and injured nine during the campus protest against the Vietnam war on 4 May 1970." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/5a1173dc20c4ddca67e1a0a35dbb2455471d15fc/0_0_3000_2238/master/3000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=5d49d8826e24c97ceaf0f183ea4a0b97"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Members of the national guard killed four students at Kent State University and injured nine during the campus protest against the Vietnam war on 4 May 1970. Photograph: Douglas Moore/AP
</figcaption>
</figure>
        <p>David Paul Kuhn, author of The Hardhat Riot: Nixon, New York City and the Dawn of the White Working-Class Revolution, said America is still living with the divisions laid bare in that first week of May 1970.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>“If there’s an era when the tribalisation of the Trump era began, it’s this time,” he said. “Between Kent State and the hardhat riot you have the best microcosm that there is of the beginning of the polarisation that haunts America today.”</p>
        {% if paywall.show %}
        
            <p>Eva Paterson was an African American anti-war and civil rights student leader at Northwestern University in Illinois who rapidly emerged as a national figure for fostering non-violent protest in the aftermath of Kent State.</p>
        
            <p>“The way it was framed, it was the students’ fault. I was on a plane reading that and my eyes were just bugging out of my head going, wait, the kids are dead and you’re blaming them? But the country was similarly polarised as today, although Nixon seems like a saint compared to Trump,” she said.</p>
        
            <p>“After Dr King was assassinated in April of ’68 the cities were burning. There was a lot of violence. I know people who are now distinguished law professors who burned down a building at Northwestern. They burned it down to the ground and they were trying to burn out another building. Students with rifles at Cornell were protesting. We did feel like a revolution was clearly needed. We thought it was happening.”</p>
        
            <p>The confrontation was frequently cast as a generational divide at the time. But Kuhn sees it as driven by a division many Americans are even more reluctant to talk about than race – class.</p>
        
            <p>Kuhn said blue collar workers often shared the students’ opposition to the Vietnam war but had little time for young men who talked about social justice while using their privilege to avoid the draft. </p>
        
            <p>“Blue collar Americans didn’t like this war, but they didn’t like the anti-war movement more,” said Kuhn. “There was a frustration with the anti-war movement, of the indignity of moral certitude without sacrifice. A lot of Americans didn’t feel like there was an honesty about that fact.”</p>
        
            <p>Kuhn said anger at the anti-war movement was also steeped in years of frustration at what was regarded as its rejection of American values.</p>
        
            <figure class="element element-image img--landscape element--showcase fig--narrow-caption fig--has-shares" data-component="image" data-media-id="2b0a545c8eda08b4fe212831c7198611313d9f42" id="img-3" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=157fc8eadf9b893b73fd7725d26c8d81" itemprop="url"/>
<meta content="5202" itemprop="width"/>
<meta content="3647" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-3">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="860px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=860&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=26c1d58eb27f949eeab1b2c897d76630 1720w"/>
<source media="(min-width: 1300px)" sizes="860px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=860&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=403aef853a55721fe0d26a588a640bbe 860w"/>
<source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)" sizes="780px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=780&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3a5e703f69ce723744a2a072b9e0df51 1560w"/>
<source media="(min-width: 1140px)" sizes="780px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=780&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2d8daf7863953d4247c714b3b02a7b1c 780w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=dc3471d377f4425001d53419f86db9ac 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d6edac29114a6839223bd3fa99a75b44 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=46850606f3e17ed7979a3ad0eddfe3b9 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e97a4822c1b82786a5be1d3ec6049662 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=60cfe32eded381d679357a2afb0604a5 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b2b9e920d60d6a8a58cc92f0c1b67b66 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Kent State University student reacts to the death of a protester killed by national guardsmen during the anti-war protest." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/2b0a545c8eda08b4fe212831c7198611313d9f42/0_0_5202_3647/master/5202.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9fd7ffb541af36fab3bc82573c16b0a7"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 A Kent State University student reacts to the death of a protester killed by national guardsmen during the anti-war protest. Photograph: Bettmann/Bettmann Archive
</figcaption>
</figure>
        
            <p>“The sense back then was not only of condescension toward middle Americans themselves but also their values. That resonates tremendously with sentiment at the dawn of Donald Trump and that will be with us after him.”</p>
        
            <p>Capecci was one of those students who dodged the draft – along with Bill Clinton, George W Bush, Dick Cheney and others in a future generation of political leaders on the left and right – by joining a part-time reserve army unit even though he was sympathetic to the anti-war effort.</p>
        
            <p>“I managed to serve out my commitment for six years in Akron rather than in Vietnam. We knew the last thing you wanted was to be drafted because then you’d be sent out for cannon fodder,” he said.</p>
        
            <p>In Paterson’s view, the construction workers may have been agitated about the students’ failure to serve but she sees political manipulation by the Nixon administration as it implemented its “Southern strategy” to win over disillusioned Democratic voters, a drive rooted in racism that gave birth to the Reagan revolution and paved the road to Trump.</p>
        
            <p>Paterson gained national recognition when she testified before Congress and then appeared in a television debate with Nixon’s vice president, Spiro Agnew, who three years later was convicted of corruption and resigned. Paterson explained to Congress what might motivate students to burn down buildings although she strongly opposed violence. But her testimony was characterised in the press as justifying the attacks. Not long after, she debated Agnew.</p>
        
            <p>“I think they thought they hit the jackpot with me. I’m a brown-skinned black woman with an afro who they thought was a crazy radical person. I was not. Agnew kept pulling out these clippings and saying, ‘Miss Paterson you said you think buildings should be burned down’. And I kept saying, that’s not what I said. I said I explained why people could do that,” she said.</p>
        
            <p>“That fall they unveiled the Southern strategy. I think that debate was supposed to be kind of a kick-off to that to show here are these crazy people and this one’s black. You can’t trust the Democrats so come to the Republican party.”</p>
        
            <p>Race shaped the legacy of Kent State in other ways too. The massacre was not the first mass shooting on campus by men in uniform.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="ca7609c224ad7bd8f8f4334a251290546247425b" id="img-4" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=35248ea49451335c67f12bfd67581235" itemprop="url"/>
<meta content="2048" itemprop="width"/>
<meta content="1326" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-4">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=0bef06b022e5deed128346eab31ae4ce 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=bc5d9648c3304e41f7aab033fe91e190 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=832e68c9499c083d671d53d8a421c191 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f111e7e899b3d8f2b33dff083aa00e94 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=84b9fb61fff5b3f7ef57d09d1f1e9e34 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e9e137c5a12757990924a159537f96c8 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="A plaque marks the spot where Kent State University student, Allison Krause, was felled by a bullet from the Ohio national guard on 4 May 1970 during a demonstration protesting the war in Vietnam." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/ca7609c224ad7bd8f8f4334a251290546247425b/0_0_2048_1326/master/2048.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ece235bd45d4f0bf1e874398bcdd6326"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 A plaque marks the spot where Kent State University student, Allison Krause, was felled by a bullet from the Ohio national guard on 4 May 1970 during a demonstration protesting the war in Vietnam. Photograph: Ron Kuntz/REUTERS
</figcaption>
</figure>
        
            <p>Two years earlier, police in South Carolina opened fire on African American students at the state university in Orangeburg protesting against racial segregation in the town. The police arrived well armed, including some who brought shotguns from home loaded with buckshot for killing deer. They left three African Americans in their teens dead and 27 other people wounded.</p>
        
            <p>In contrast to Kent State, the killings received little national press coverage. Federal prosecutors charged nine of the police officers with using excessive force but they were acquitted after claiming students shot even though there was no evidence.<br/>The only person to go to prison over what became known as The Orangeburg massacre was Cleveland Sellers, a student rights leader who was shot in the shoulder and later convicted of rioting.</p>
        
            <p>His son, Bakari Sellers, a lawyer who served in the South Carolina state legislature, said the Orangeburg killings could have been taken as a warning that pulling guns on unarmed demonstrators “never ends with good results”.</p>
        
            <p>“The Orangeburg massacre was a true tragedy,” he said. “If the lessons had been learned from Orangeburg and it wasn’t hidden, both by the state of South Carolina and the FBI, we could have avoided Kent State.”</p>
        
            <p>Kent State wasn’t the end of such killings either.</p>
        
            <p>Eleven days later, Mississippi police fired hundreds of shots at students at Jackson State College, killing two and wounding 12. Again, the police claimed to have come under fire but federal investigators found no evidence of it.</p>
        
            <p>A presidential commission investigating campus unrest concluded that the police fusillade at Jackson State “was an unreasonable, unjustified overreaction”. But Sellers, author of My Vanishing Country, said those killings are largely forgotten because of who died.</p>
        
            <p>“Kent State is a story that people know, people can learn from, whereas Orangeburg and Jackson, because they happened on black college campuses, are stories that go untold,” he said.</p>
        
            <p>Paterson, who trained as a lawyer and went on to a life of civil rights activism, said the legacy of Kent State and the anti-war movement radicalised members of a generation, the baby boomers, who are often maligned these days as only out for themselves.</p>
        
            <p>“It was a time for us to be militant and we were militant. Once you have done something like that, you are changed forever and you feel like you can take on state power and protest against the government. So I think for some of us, it changed us irrevocably. For others, it was just a blip,” she said.</p>
        
            <p>“There’s also a more abstract general lesson that I took away from the whole movement. When I entered Northwestern, I supported the war fully. Over time, I listened to people and heard stories and thought about statistics and changed my mind, which is why I’m hopeful that we can get people who might have voted for Obama and then Trump to change their mind. That whole experience led me to understand people can change deeply held views with enough information.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
