{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Hospitals’ health is key driver of push to lift lockdowns</h1>
        <h2>It's not clear whether hospitals can handle a surge in cases if lockdown restrictions are eased.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/c59af5a/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/48a2217/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/a289a5e/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/4095683/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/b697e6a/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/d759120/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg"/>
<img alt="Health care workers at a New York field hospital" src="https://static.politico.com/dims4/default/1c16695/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F68%2F6b%2F712b5d4144458347a39beef1311c%2F200424-hospital-gty-773.jpg" title="Health care workers at a New York field hospital"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">Governors eager to lift pandemic lockdowns are zeroing in on the health of their hospitals<b>.</b></p>
        <p class="story-text__paragraph">If emergency rooms are overwhelmed with coronavirus cases, a state can’t move ahead. But if they’re coping, it may be enough<b> </b>for some<b> </b>states to reopen economies and let businesses start to stagger back.</p>
        <p class="story-text__paragraph">Much of the public discussion about easing restrictions is dominated by talk of the virus peaking. But that doesn’t just mean people showing up in distress. It’s also a question of whether hospitals can handle it. And you can’t begin to repair a state without that.</p>
        <p class="story-text__paragraph">Nebraska Republican Gov. Pete Ricketts says government should not restrict people's freedoms once the immediate concern over flooding the health system has passed. “Primarily, all this is focused around the health care system,“ Ricketts said Friday. “If we are not overwhelming the health care system, we are winning.“</p>
        <p class="story-text__paragraph">Colorado Democratic Gov. Jared Polis expressed comfort loosening restrictions on social distancing<b> </b>this week<b> </b>because the health system is capable of handling a potential surge in patients.<b> </b></p>
        <p class="story-text__paragraph">“We can’t be frozen for months,” he said. “Our role in this is to figure out how to wed the public health goals with the social, psychological and economic needs of the people of Colorado, and that everyone who contracts this has a fighting chance and that we don’t overwhelm our health care system.”</p>
        <p class="story-text__paragraph">The overriding focus on hospitals extends to Congress, which included an additional $75 billion in emergency relief for the industry in the just-passed <a href="https://www.politico.com/news/2020/04/23/house-vote-pass-coronavirus-aid-package-203965" target="_blank">nearly $500 billion rescue package</a> that was originally aimed at small businesses.</p>
        <p class="story-text__paragraph">Hospitals in most states have plenty of capacity, aside from those in hardest-hit areas like New York and Louisiana<b>, </b>according to an analysis from <a href="https://raymondjames.bluematrix.com/sellside/EmailDocViewer?encrypt=47e9b382-cb77-424f-970a-6a31d2f5b9e5&amp;mime=pdf&amp;co=raymondjames&amp;id=abettelheim@politico.com&amp;source=mail" target="_blank">Raymond James</a>. But it's unclear whether states can regularly test front-line health workers for the virus. And there are major questions about the <a href="https://www.politico.com/news/2020/04/13/the-next-coronavirus-testing-debacle-184655" target="_blank">accuracy and availability</a> of antibody tests to gauge past exposure that are an essential part of the <a href="https://www.whitehouse.gov/openingamerica/" target="_blank">Trump administration’s plan</a> for states to emerge.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">Ali Mokdad, a health metrics expert at the University of Washington whose modeling has informed the thinking of the White House and governors, said the focus on hospital capacity is misguided, particularly if a state allows retail businesses such as hair salons and tattoo parlors to reopen.</p>
        
            <p class="story-text__paragraph">“If we allow this virus to circulate, then you have to face the same wave again and shut down,” he said. “How can you have social distancing with someone cutting my hair? If you want to open something, fine, but do it strategically.”</p>
        
            <p class="story-text__paragraph">States like Illinois, New Jersey and Alabama aren't using excess hospital capacity as a green light to start returning to normal. Governors in those places want to keep restrictions in place long enough to amass enough testing to track the virus if a second wave occurs in the fall.</p>
        
            <p class="story-text__paragraph">“What you want to do is make sure that the number of people who get sick is kept down,” said Illinois Democratic Gov. J.B. Pritzker. “And so that’s really the purpose of a stay-at-home order.”</p>
        
            <p class="story-text__paragraph">Tom Frieden, a former head of the Centers for Disease Control and Prevention, said that if he were a governor, he would want to be sure his state had enough testing available to know if cases started to spike again. No state can now say it does.</p>
        
            <p class="story-text__paragraph">“If I don’t have all the testing that I’d like to have, which I’m sure I don’t, I [would want to] have enough testing to quickly investigate any clusters that could explode,” he said. “And I’d really like to have a public health workforce that is able to track cases.”</p>
        
            <p class="story-text__paragraph">The debate over when it's safe to reopen a state flared up this week when President Donald Trump criticized Georgia GOP Gov. Brian Kemp for moving too fast with a plan that had businesses such as bowling alleys, gyms, hair salons and tattoo parlors opening Friday if owners adhere to stringent social distancing and hygiene requirements. Movie theaters and restaurants are supposed to follow next week.</p>
        
            <p class="story-text__paragraph">Kemp, before Trump’s rebuke, said his decision was, in part, based on his feeling that hospitals could handle a potential surge in cases that might occur.</p>
        
            <p class="story-text__paragraph">“We’ve just got to be comfortable we can handle that demand,” <a href="https://www.ajc.com/news/kemp-devising-plan-reopen-georgia-for-business/cYYR4L8YrLrJ9CZrTunKbO/" target="_blank">he said</a>.</p>
        
            <p class="story-text__paragraph">Sen. Kelly Loeffler (R-Ga.) told POLITICO that hospital capacity had to be one of the primary signals for opening her state’s economy, where 20 percent of people are now out of work.</p>
        
            <p class="story-text__paragraph">“Keeping our economy on lockdown for an indefinite period of time is not a sustainable option,” she said.</p>
        
            <p class="story-text__paragraph">The point of flattening the curve, she told the Chattanooga <a href="https://www.timesfreepress.com/news/local/story/2020/apr/22/sen-loeffler-said-kemps-plreopen-state-right/521283/" target="_blank">Times Free Press</a> earlier this week, is to ensure hospitals have enough protective equipment and beds to treat those who became ill, not to eliminate the virus.</p>
        
            <p class="story-text__paragraph">But in neighboring Alabama, Republican Gov. Kay Ivey, who was mocked for moving too slowly to issue a stay-at-home order, said hospital capacity can’t be the final word.</p>
        
            <p class="story-text__paragraph">“Nobody wants to open up businesses more than I do,” Ivey said. “But until we get enough testing done, we can’t fully reopen the economy.”</p>
        
            <p class="story-text__paragraph">Alabama has tested roughly 1 percent of its population — about the same percentage as Georgia. But while Georgia is open for business, Ivey said Tuesday her state “needs to do a whole lot more to get up to speed.”</p>
        
            <p class="story-text__paragraph">Frieden said opening before a sufficient level of testing is in place is a “risky experiment.”</p>
        
            <p class="story-text__paragraph">It may work out, he said, before adding “there’s nothing we’ve seen that suggests we aren’t going to see a lot more spread of this disease.”</p>
        
            <p class="story-text__paragraph"><i>Shia Kapos contributed to this report. </i></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
