{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>A snip of normality: German hairdressers reopen under strict rules</h1>
        <h2>As seven-week lockdown eases, salons and clients are coming to terms with strict new measures 

Coronavirus – latest updates
See all our coronavirus coverage</h2>
        <p>When Marion Garz opened the doors of her hair salon to greet her first customer in seven weeks on Monday morning, she was almost tempted to turn him away.</p>
        <p>“A lot of men used to come here every three weeks because they wanted to keep their hair short and under control,” said the 47-year-old owner of Your Loving Nature salon on Ackerstrasse, in central Berlin.</p>
        <p>“But during the lockdown this guy’s hair had grown out curly and it looked great. ‘But your hair looks super,’ my colleague and I told him.” In the end, they managed to persuade the regular to go for something a bit more free-flowing than his usual short back and sides.</p>
        <p>Hair salons across Germany became the latest establishments to reopen their doors on Monday, answering a suppressed demand under lockdown for haircuts, as <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/commentisfree/2020/apr/18/germany-ease-lockdown-harder">the country begins to gradually ease restrictions</a> introduced in mid-March to curb the spread of Covid-19.</p>
        <p>Within hours of seating their first customers for a tint or a trim, many hairdressers and clients were starting to experience that reopening for trade did not necessarily mean business as usual.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>For one, salons have to abide by a series of new hygiene rules that will pose a challenge in particular to smaller businesses.</p>
        {% if paywall.show %}
        
            <p>Styling chairs have to be kept at a minimum distance of 1.5 metres from each other; washing hair before a cut is compulsory to help kill off possible viruses; magazines are not allowed in the waiting area, and customers can no longer expect a free coffee as they settle in.</p>
        
            <p>Face-to-face coiffeuring, such as beard trimming or eyebrow tinting, is banned. Hairdressers have to wear single-use aprons and disinfect their scissors and brushes between cuts.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="aeb41700dc31a4e6c7fbd72557ba856b9d207b5d" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4eff36f5075d2c5b982324d4388c83cc" itemprop="url"/>
<meta content="6151" itemprop="width"/>
<meta content="3691" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=a4c0a033afec72ba65662027cebb2ce4 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1b08ec8d79d5dd5fd1f6842f5d08b15d 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=631b6c5529f42b01273d0ee94da83926 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=54b967db2abdcefe5e850b1950413613 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=6ef884839c4d83bbf1dda5afb7cf82be 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=5e484a87121e626a17d7d4ccde2389b8 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="A clients at the Your Loving Nature hair salon in Berlin, Germany, on 4 May." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/aeb41700dc31a4e6c7fbd72557ba856b9d207b5d/0_0_6151_3691/master/6151.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2df4b31332613c93bc39518bb35b4a0c"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Clients at the Your Loving Nature hair salon in Berlin, Germany, on 4 May. Photograph: Christian Jungeblodt/The Guardian
</figcaption>
</figure>
        
            <p>“That’s a lot of work on top of the actual work,” said Nuray Tanyel, who runs the small Mutter &amp; Tochter (Mother and Daughter) salon in the Bergmannkiez neighbourhood in Berlin.</p>
        
            <p>In the past, she said, she managed to serve around seven people a day, perhaps giving one customer a trim while another was waiting for a dye to set. In her small premises Tanyel can now only serve one customer at a time. “If it had been up to me, they might as well have kept us shut.”</p>
        
            <p>Compulsory face masks for customers and stylists means visiting the hairdresser will become a less intimate ritual than it used to be.</p>
        
            <p>Jan Wellge booked a slot at Your Loving Nature for himself and his five-year-old daughter Sophie as soon as the government announced plans to reopen salons, in order to beat the rush: as of Monday there were no free slots at the salon until July.</p>
        
            <p>He conceded the masks, the lack of a friendly hug upon arrival and the hand-disinfecting rituals made it a more clinical experience than in the past.</p>
        
            <p>Nonetheless, Wellge, 39, said he was relieved to have his hair short again. Usually commuting between Berlin and the Wolfsburg headquarters of Volkswagen, he had been working from home during the lockdown but said it was still important to look smart.</p>
        
            <p>“It helps to put on a shirt in the morning,” he said. “It reminds your family you are working, and you know you have signed off for the day when you can take it off.”</p>
        
            <p>Garz said she had noticed how many of her regular customers had emerged from almost seven weeks of lockdown with a changed self-image, sometimes for the better.</p>
        
            <p>As well as men becoming more accepting of their longer locks, she said many women in her friendship circle had allowed themselves to let their hair grow out grey.</p>
        
            <p>“A lot of women obsess about their hair colour way in which some men obsess about cars or football teams,” Garz said. “If you suddenly take that away from them, that can be really the toughest blow.</p>
        
            <p>“But during lockdown a lot of my customers have also learned to look at themselves in a new light. It’s almost as if for some people, a loss of control can be a really healing thing.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
