{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Former FDA commissioner warns of new fall epidemic amid 'persistent spread'</h1>
        <h2>If "you have this slow burn of infection, it can ignite at any time," Former FDA Commissioner Scott Gottlieb warned.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/5980d69/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/f8dc7de/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/8b915ad/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/c3b4488/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/b16b4bc/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/f1d752c/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg"/>
<img alt="Scott Gottlieb" src="https://static.politico.com/dims4/default/41e426a/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F07%2Fd0%2F2d19cfd041f2af1ec2bf4687351f%2F190305-gottlieb-gty-773.jpg" title="Scott Gottlieb"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">Former FDA Commissioner Scott Gottlieb warned on Sunday that if states allow schools, workplaces and other public areas to “let their guard down," an explosion of new coronavirus cases could bubble up into a “new epidemic” or “large outbreak.” </p>
        <p class="story-text__paragraph">“The concerning thing here is that we’re looking at the prospect that this may be a persistent spread,” Gottlieb said on CBS’s “Face the Nation.” </p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">“While mitigation didn’t fail, I think it’s fair to say that it didn’t work as well as we expected. We expected that we would start seeing more significant declines in new cases and deaths around the nation at this point, and we’re just not seeing that,” Gottlieb said, in response to a question about the pandemic’s future course. </p>
        
            <p class="story-text__paragraph">Gottlieb, who served early in the Trump administration, said the “doubling time has come down dramatically,” — the number of days it takes for the epidemic to double in size. But he warned, “We may be facing the prospect that 20,000, 30,000 new cases a day diagnosed becomes a new normal and a thousand or more deaths becomes a new normal as well.” </p>
        
            <p class="story-text__paragraph">That type of scenario may continue “through the summer,” he said, when people start to “[let] their guard down a little more, and people are back at work after an August recess, and then you can see this slow simmer explode into a new epidemic, or a large outbreak."</p>
        
            <p class="story-text__paragraph">"That’s the concern," he added, "that if we don’t snuff this out more, that you have this slow burn of infection, it can ignite at any time.” </p>
        
            <p class="story-text__paragraph">Gottlieb noted that new cases are still creeping up in about 20 states, like Illinois, Texas, Maryland, Virginia, North Carolina, Tennessee, among others. Meanwhile, states across the country are slowly starting to reopen, in sort of a patchwork approach. </p>
        
            <p class="story-text__paragraph">Looking ahead to the fall, Gottlieb agreed the new drug remdesivir could be a tool to curb the rate of infections, and as well as other antibody drugs and the availability of a vaccine. </p>
        
            <p class="story-text__paragraph">Still, he stressed, “The more that the government accepts the fact that there’s just going to be persistent spread and they want to open the economy against that backdrop, the more they better be doubling down on the technology and make sure that we’re doing everything we can to get those drugs in time for the fall.” </p>
        
            <p class="story-text__paragraph">In order to do that, Gottlieb also said, more than one manufacturer must be successful. “We need multiple manufacturers — U.S. based manufacturers — to have vaccines ready in time to deploy in the fall.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
