{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Samsung's Galaxy Book lineup is now available to buy</h1>
        <h2>They're the first QLED-panel laptops and start at $850.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        {% if paywall.show %}
        
            <img alt="Samsung Galaxy Flex QLED laptop" class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F3f4655b0-8de6-11ea-be7d-cace0ec8b801&amp;client=amp-blogside-v2&amp;signature=50fe711c1fafac2e2421dc9fd7a8099ec3472f41"/>
        
            <p>Samsung’s Galaxy Book lineup, which heralds the arrival of QLED display tech in laptops, are available to buy starting today. As we described in our <a href="https://www.engadget.com/preview-samsung-galaxy-book-flex-review-qled-screen-s-pen-161947598.html">review</a> today, the flagship of the lineup is the convertible, pen-equipped Galaxy Book Flex. It’s available with a Intel Core i7 processor, optional NVIDIA GPU and QLED display tech, which offers deep blacks and accurate colors much like OLED panels. The only drawbacks we found were the lack of configuration options and the price — the 13-inch Book Flex costs $1,349, while the 15-inch model is $1,399.</p>
        
            <p>If that’s too much, you’ve got other options. The equally stylish <a href="https://www.engadget.com/2020-01-05-samsung-galaxy-book-flex-alpha-hands-on-qled.html">Galaxy Book Flex Alpha</a> also packs 1080p QLED tech and the flexibility of a convertible display, but has a smaller battery and less powerful CPU and GPU options. However, it starts at $850, or $500 less than the top-end model. Meanwhile, the <a href="https://www.engadget.com/2019-10-29-galaxy-book-flex-and-ion-hands-on-gorgeous-qled-laptops.html">Galaxy Book Ion</a> has the same power as the Book Flex, but has a simpler clamshell design and a magnesium, rather than aluminum body. All three laptops are available starting today at Samsung.com and retailers nationwide.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
