{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Nigel Slater’s recipes for couscous with asparagus, and apricot-ricotta tart</h1>
        <h2>Whether adding a handful of buttery, toasted nuts to a salad, or eating pudding for breakfast, it’s easy to add a touch of quiet luxury to spring meals</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">I</span></span> took the jar of couscous down from the top shelf this week, steamed the contents, tossed the soft grains of dough with young broad beans and short lengths of asparagus, then stirred in a generous handful of chopped parsley, chives and mint. But then, just before I brought it to the table, I melted a generous slice of butter in a small pan and threw in a few flaked almonds with which to toss the hot couscous. The warm golden fat trickled through the grains and along with the crackling nuts turned a humble supper into a quietly luxurious one.</p>
        <p>I have been keeping my shopping lists short. While the stores are mercifully uncrowded at the moment, shopping has turned briefly from a pleasure into something I no longer wish to take my time over. I’m in and out in a heartbeat. With flour, butter, eggs and jam already in the cupboard, I had only to pick up a couple of tubs of ricotta to assemble the ingredients for a glorious tart to eat after dinner, finishing it the next day for breakfast. There were never any rules anyway, but with the world currently turned upside down, if I want to eat pudding for breakfast, then I shall…</p>
        <p>Stirring steaming grains of couscous into a few spring vegetables is a neat way of making a meagre amount of broad beans and asparagus go further. <br/><em>Serves 4</em></p>
        <p><strong>asparagus</strong> 8 thick stalks<br/><strong>couscous</strong> 150g<br/><strong>broad beans</strong> 250g (shelled weight)<br/><strong>parsley</strong> 50g (weight with stalks)<br/><strong>mint sprigs</strong> 15g<br/><strong>chives</strong> 12</p>
        <p>For the dressing:<br/><strong>olive oil</strong> 3 tbsp<br/><strong>lemon juice</strong> 2 tbsp<br/><strong>garlic</strong> one small clove<br/><strong>butter</strong> 40g<br/><strong>flaked almonds</strong> 3 tbsp</p>
        <p>Put two deep pans of water on to boil. Cut the asparagus into pieces the length of a wine cork. Salt the water in one pan lightly, then add the asparagus and cook for 4-6 minutes, depending on the thickness of their stalks.</p>
        <p>In the other pan, place a fine mesh colander over the water and pour in the couscous. Cover and steam until the grains are soft and fluffy, about 20 minutes.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Make the dressing by whisking together the olive oil and lemon juice. Squash the garlic flat and add it to the dressing, then season with salt and black pepper.</p>
        {% if paywall.show %}
        
            <p>When the asparagus is tender, remove with a slotted spoon and drain, then add to the dressing and set aside.</p>
        
            <p>Cook the broad beans in the boiling asparagus water for 6-8 minutes, then drain. While the beans are cooking, remove the herb leaves from their stalks (you need about 25g in total) and chop them, then add to the dressing.</p>
        
            <p>Pop the broad beans out of their skins by pressing them between finger and thumb (if your beans are very small and young, you probably don’t need to do this). Add the beans to the other ingredients.</p>
        
            <p>Remove the couscous from the heat and break the grains up with a fork. Tip the couscous into the other ingredients and toss everything together. Transfer to a serving dish. In a small pan, melt the butter, add the almonds and lightly brown them, then pour the nuts and hot butter over the couscous.</p>
        
            <figure class="element element-image img--portrait fig--narrow-caption fig--has-shares" data-component="image" data-media-id="74dc48bd437c815597747392e76fdf666b099f5b" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=581dabd50c5ab853a4aae9c4b0a2a7a7" itemprop="url"/>
<meta content="4318" itemprop="width"/>
<meta content="4677" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=90463d00fdd02993f243da4ed43b5db4 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=5c269c496e74e579b14bbd5169a7c81b 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c3b26bfd9ac456995f3cf886e3fb2bc5 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=aba8d072d3190b2334986a82d27c2d2f 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3040081a2bec091871f9c9325f0368e0 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=42495056a853e0feabb3091cd76eb3f2 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Apricot and ricotta tart." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/74dc48bd437c815597747392e76fdf666b099f5b/0_0_4318_4677/master/4318.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9df67b652d686591a409138c4d4364c9"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Sweet dream: apricot and ricotta tart. Photograph: Jonathan Lovekin/The Observer
</figcaption>
</figure>
        
            <p>Keep a close eye on the filling’s progress in the oven, removing it once the outer edge is lightly firm and the inner part still quivers when the tart is gently shaken. The vanilla extract plays a crucial part, go for the very best. You will also need a 20cm loose-bottomed tart tin.<br/><em>Serves 6</em></p>
        
            <p>For the pastry:<br/><strong>butter</strong> 90g<br/><strong>plain flour</strong> 150g<br/><strong>egg yolk</strong> 1<br/><strong>water</strong> 1-2 tbsp</p>
        
            <p>For the filling:<br/><strong>lemon</strong> 1, large<br/><strong>orange</strong> 1, small<br/><strong>ricotta </strong>500g<br/><strong>caster sugar</strong> 150g<br/><strong>vanilla extract</strong> 1 tsp, to taste<br/><strong>eggs </strong>3<br/><strong>egg yolk</strong> 1<br/><strong>cornflour</strong> 1 tbsp</p>
        
            <p>For the top:<br/><strong>apricot jam</strong> 370g<br/><strong>pine kernels</strong> 2 tbsp</p>
        
            <p>Make the pastry by reducing the butter and flour to fine crumbs in a food processor. Add the egg yolk and enough of the water to produce a firm but tender dough. Form a ball, wrap it in greaseproof paper and set aside in the fridge to rest for about 30 minutes.</p>
        
            <p>Roll the pastry out thinly, then use it to line the tart tin. Place a piece of baking parchment or foil on top of the pastry and fill to the brim with baking beans. Set aside in the fridge for 30 minutes.</p>
        
            <p>Set the oven at 200C/gas mark 6. Heat a baking sheet, then bake the tart on it for 25 minutes. Remove the paper and beans then return the tart case to the oven for a few minutes until the pastry is dry to the touch. Remove the case from the oven and lower the heat to 180C/gas mark 4.</p>
        
            <p>Grate the zest of the lemon and orange on a fine-toothed grater.</p>
        
            <p>Mix together the ricotta, sugar and vanilla. Beat the eggs and egg yolk together with a fork, then add to the ricotta with the lemon zest and vanilla extract. Stir in the cornflour then pour into the tart case and return to the oven for 40 minutes. When the filling appears to be almost set (it should wobble when gently shaken), remove and allow to cool.</p>
        
            <p>Melt the apricot jam in a small saucepan, then spoon over the tart. Toast the pine kernels in a shallow pan until golden, then scatter over the jam. </p>
        
            <p><em>Follow Nigel on Twitter <a class="u-underline" data-link-name="in body link" href="https://twitter.com/NigelSlater?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@NigelSlater</a></em></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
