{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Governors say Trump needs to watch what he says</h1>
        <h2>Maryland’s Larry Hogan and Michigan’s Gretchen Whitmer decried his comments on disinfectants.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/6c12108/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/e7c8f2a/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/e06a19e/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/0715272/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/0625e65/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/983652a/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg"/>
<img alt="Disinfectant" src="https://static.politico.com/dims4/default/1f1a7a5/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F23%2F91%2Fb427764b40a0befa6fa6af62d8ec%2F20200426-disnfectant-ap-773.jpg" title="Disinfectant"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">Michigan's and Maryland's governors said the president should watch what he says, especially about injecting disinfectants. People are listening to his direction.</p>
        <p class="story-text__paragraph">President Donald Trump suggested at his Thursday briefing that disinfectants could work as a coronavirus treatment if taken internally, drawing immediate criticism from medical professionals and cleaning product manufacturers, <a href="https://twitter.com/Lysol/status/1253754559752802304" target="_blank"><u>like Lysol</u></a>. A day later, Trump said he never meant his remarks to be taken seriously: “That was done in the form of a sarcastic question to the reporters.”</p>
        <p class="story-text__paragraph">On Sunday, Michigan Gov. Gretchen Whitmer, a Democrat, and Maryland Gov. Larry Hogan, a Republican, said on ABC’s “This Week” that whether or not Trump was being serious, his suggestion had an impact. </p>
        <p class="story-text__paragraph">Whitmer said she saw an increase in numbers of people calling poison control and issued yet another warning: “Please don’t do it. Just don’t do it.”</p>
        <p class="story-text__paragraph">Hogan, whose emergency management agency sent an alert after Trump’s comments, said “hundreds of calls” had been made to the state’s hotline asking if ingesting Clorox or alcohol cleaning products would help fight coronavirus. </p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">“People listen to these press conferences,” Hogan said. “They certainly pay attention when the president of the United States is standing there giving a press conference … when misinformation comes out or you just say something that pops in your head, it does send a wrong message.</p>
        
            <p class="story-text__paragraph">He added, “We had to put out that warning to make sure that people were not doing something like that, which would kill people.”</p>
        
            <p class="story-text__paragraph">Whitmer, in a separate interview, said basically the same thing: “When the person with the most powerful position on the planet is encouraging people to think about disinfectants, whether it was serious or not, people listen.” </p>
        
            <p class="story-text__paragraph">The president’s disinfectant comments came on the heels of his tamping down promotion of hydroxychloroquine, an-anti malaria drug Trump had repeatedly said could help cure coronavirus. However, over the past week, several studies revealed that the drug isn’t helping Covid-19 patients and can have deadly side effects.</p>
        
            <p class="story-text__paragraph">Trump has now decided to <a href="https://www.politico.com/news/2020/04/25/trump-skips-coronavirus-briefing-208029" target="_blank"><u>pare back his appearances</u></a> at coronavirus briefings, which aides and allies have been trying to make happen for weeks. On Friday, the president spoke for less than 30 minutes and took no questions. On Saturday, he went dark. </p>
        
            <p class="story-text__paragraph">“The president's got to focus on the message, stick to the message and make sure that these press conferences are fact-based,” Hogan said. “We saw a different kind of a press conference yesterday, which I think may be showing that there's going to be a different trend in the future.” </p>
        
            <p class="story-text__paragraph">House Speaker Nancy Pelosi, while not beset with the same problems as the governors, also mocked Trump’s comments about disinfectants. “You know what they call that? They call that embalming. That's the medical term,” she said on CNN’s “State of the Union.”</p>
        
            <p class="story-text__paragraph">The governors on Sunday also rejected Senate Majority Leader Mitch McConnell’s suggestion that states should be <a href="https://www.politico.com/news/2020/04/22/mitch-mcconnell-bankruptcy-route-201008" target="_blank"><u>able to declare bankruptcy</u></a> during the pandemic, rather than having the federal government provide more money. </p>
        
            <p class="story-text__paragraph">Whitmer called McConnell’s comments “dangerous,” and said default wasn’t an option for Michigan, where officials have been “incredibly smart stewards.” </p>
        
            <p class="story-text__paragraph">“For Senator McConnell to suggest that is incredibly dangerous and I don’t think that the vast majority of governors in this country, Republican and Democratic, would agree with him,” she said. “He’s wrong and we need Congress to step up and help states.”</p>
        
            <p class="story-text__paragraph">Lawmakers have so far passed several bipartisan relief packages, with the latest one allocating nearly half a trillion dollars for hospitals, small businesses and testing. But it didn't include funding for state and local governments, which made state and local officials anxious. On Sunday, Pelosi said that money was coming in the next bill: "Just calm down, we will have state and local, and we will have it in a very significant way."</p>
        
            <p class="story-text__paragraph">"The state and local have done their jobs magnificently," she said on CNN. "Their impatience will help us get an even bigger number." </p>
        
            <p class="story-text__paragraph">Hogan, the chairman of the National Governors Association, said governors have been pushing to get $500 billion to states for over a month.</p>
        
            <p class="story-text__paragraph">“I thought Mitch McConnell probably would regret making those — that comment the other day. I think it just slipped out,” he said. “But I'm hopeful that we will be able to convince Senator McConnell to go along with the bipartisan bill in the Senate and the administration's commitment to help the states.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
