{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Theragun’s new massage devices have Bluetooth and run quieter</h1>
        <h2>There's also a new cheaper model, called the mini.</h2>
        <img alt="Theragun fitness line" class="stretch-img" src="https://o.aolcdn.com/images/dims?thumbnail=960%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F22adf5d0-8e08-11ea-bfe7-bc915b7800da&amp;client=amp-blogside-v2&amp;signature=54164f28bc18ea1e47e30b3ca1d79c7eda6ad3ca"/>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        <p>Percussive therapy guns are all over Instagram and the rest of the internet, but Theragun was one of the first to break out. For a while, it’s offered a range of devices that covered several price points -- even if none of them were exactly cheap. The company, now known as Therabody, is launching its fourth-generation family of massage tools, including an entirely new, smaller, cheaper Theragun mini that’s less than $200. Therabody is also expanding into <a href="https://www.engadget.com/2019-04-20-mood-specific-cannabis-vapes.html">CBD products </a>to complement its new hardware, in both topical and ingestible forms. But let’s focus on the massage gadgets and break down the major improvements.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Perhaps the biggest upgrade is Theragun’s “QuietForce” technology, which claims to keep its massage guns powerful but sounding less like a power tool. If you haven’t heard of these devices before, they’re aimed at reducing muscle soreness, improving mobility and generally making you feel better after a workout. They typically pack a punch and the unusual triangular build (yes, there’s a reason for it), can reach 90 percent of muscles and joints when used alone, according to the company,</p>
        {% if paywall.show %}
        
            <p>We’ll wait to try the new series out first before agreeing that they <em>actually</em> run quiet, though the company says the new gadgets sound closer to an electric toothbrush than something from Black and Decker. The new quieter motor tech will be built into Theragun Pro, Elite, Prime, and the new mini, which is a single-handed device that looks entirely different from the rest of the family.</p>
        
            <img alt="Theragun 4th-generation series" credit="Therabody" crediturl="" data-ops="" src="https://o.aolcdn.com/images/dims?image_uri=https%3A%2F%2Fmedia-mbst-pub-ue1.s3.amazonaws.com%2Fcreatr-uploaded-images%2F2020-05%2Fd1a2e4d0-8dfc-11ea-aff6-482c29223e33&amp;thumbnail=640%2C&amp;client=49kdj93ncb8s938hkdo&amp;signature=b622f2d809511c9bce462b6c9298f235e9517a7c"> <div class="photo-credit">Therabody</div> </img>
        
            <p>The Theragun mini (<a href="https://www.theragun.com/us/en-us/mini-us.html" target="_blank">$200</a>), which the company is calling ‘pocket-sized’, offers 20 pounds of force and three different speed settings. On a charge, it should last for 150 minutes of massage.  LED lights at the top of the device will let you know which mode you’re using.</p>
        
            <p>Step up to the Prime (<a href="https://www.theragun.com/us/en-us/prime-us.html" target="_blank">$299</a>) and things look more familiar, with that triangular Theragun frame, 30 pounds of oomph and five speed settings. The Prime, alongside the other more expensive models, the Elite and the Pro, now have Bluetooth, connecting to a new TheraBody app that can sync with Apple Health, Google Fit and Samsung Health. I’m not entirely clear on what benefits that will offer just yet, but the company says it will deliver massage treatments “uniquely suited” to how you exercise and your preferences. The Prime replaces the entry-level Theragun Liv.</p>
        
            <p>Replacing the original Theragun G3, the Elite (<a href="https://www.theragun.com/us/en-us/elite-us.html" target="_blank">$399</a>) comes in black and white options, with 40 pounds of force, an entirely customizable speed range up to 2,400 pulses per minute, and five attachments including a dampener, cone, wedge and, huh, thumb shapes. There are three built-in app-guided routines, and an OLED screen to show intensity and battery level. Expect a charge to last for two hours.</p>
        
            <img alt="Theragun 4th-generation series" credit="Therabody" crediturl="" data-ops="" src="https://o.aolcdn.com/images/dims?image_uri=https%3A%2F%2Fmedia-mbst-pub-ue1.s3.amazonaws.com%2Fcreatr-uploaded-images%2F2020-05%2Fd1985d80-8dfc-11ea-a7af-3c8c9362040e&amp;thumbnail=640%2C&amp;client=49kdj93ncb8s938hkdo&amp;signature=d5ce09e1ebbabc93880354155838dd29ef49cfe3"> <div class="photo-credit">Therabody</div> </img>
        
            <p>Rounding out the series, the high-end Pro (<a href="https://www.theragun.com/us/en-us/pro-us-1.html" target="_blank">$599</a>), seen above, is a “commercial-grade” massage gun that has a rotating arm and swappable batteries, so it can be used continuously. Understandably, it’s aimed at therapists and trainers, or high-level athletes. It comes with additional “super soft” attachment for more sensitive areas and can get up to 60 pounds of force. It sounds mean.</p>
        
            <p>Each swappable battery should be good for 150 minutes of massage. It’s priced the same as the model it replaced, the G3Pro, and comes with a two-year warranty.</p>
        
            <p>The series goes on sale today at Theragun.com, alongside new wireless charging docks for the top-end Theraguns. The mini seems like the most intriguing of the new class, with a more portable form-factor and a price that will make part-time gym regulars balk a little less. I’m planning to try out the new devices as soon as they land for testing.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
