{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>FDA pushed through scores of inaccurate antibody tests without agency review</h1>
        <h2>Some are giving too many false positive results, which could mislead some people into thinking they have already been infected.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/4efd29a/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/67229bb/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/611b41c/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/a9b89f5/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/ba320c8/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/a73702a/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg"/>
<img alt="FDA logo" src="https://static.politico.com/dims4/default/efd899a/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fb6%2Fc3%2Fc204ebd24609a7ce7c58e5194877%2F200424-fda-ap-773.jpg" title="FDA logo"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Food and Drug Administration is dealing with a flood of inaccurate coronavirus antibody tests after it allowed more than 120 manufacturers and labs<b> </b>to bring the tests to market without an agency review.</p>
        <p class="story-text__paragraph">The tests, which look for antibodies that indicate whether a person has been exposed to the virus, have been eyed as a tool to help reopen the country by identifying people who may have immunity. Antibody data could also help determine the true extent of the U.S. outbreak by finding cases that were never formally diagnosed.</p>
        <p class="story-text__paragraph">Normally, the FDA does its own quality check before allowing tests on the market. Agency leaders have said they tried to create more flexibility for makers of antibody tests to help inform discussions about when people can safely return to work and school, and to identify survivors whose antibody-rich blood could help treat the sick.</p>
        <p class="story-text__paragraph">But many of the tests available now aren’t accurate enough for such purposes. Some are giving too many false positive results, which could mislead people into thinking they have already been infected.</p>
        <p class="story-text__paragraph">The problem has gotten so bad that the New York City Health Department warned health providers last week against using the tests to determine whether someone is infected with the coronavirus or has developed immunity through exposure.</p>
        <p class="story-text__paragraph">Public health experts say the FDA shouldn’t have waived its reviews of antibody tests and are calling on it to crack down. To date, the FDA has granted a formal emergency use authorization, in which it reviews data from manufacturers, to just seven of the tests.</p>
        <p class="story-text__paragraph">"We're facing a public health epidemic," David Kessler, who led the FDA under Presidents George H.W. Bush and Bill Clinton and is now advising former Vice President Joe Biden on the coronavirus, told POLITICO. "If FDA is not looking at validation studies, then FDA is not doing its job."</p>
        <p class="story-text__paragraph">On Friday, the House Oversight Committee released a report on antibody testing that said “numerous companies appear to be marketing fraudulent tests” — and that the FDA had “failed to police the coronavirus serological antibody test market.”</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">Current FDA Commissioner Stephen Hahn, told POLITICO that the agency has discussed changing the current policy, which allows manufacturers to validate the quality of their own products as long as they include a disclaimer with test results. The FDA is trying to balance concerns about quality with its desire to allow innovative tests to reach the market quickly during a pandemic, he said.</p>
        
            <p class="story-text__paragraph">It is not clear how any changes to the agency’s existing policy would affect more than 155 antibody tests now available.</p>
        
            <p class="story-text__paragraph">The FDA formally warned health care providers on April 17 of the concerns surrounding the bulk of the antibody tests available for sale, explaining that it “does not review the validation, or accuracy, data for these tests unless an EUA is submitted.”</p>
        
            <p class="story-text__paragraph">Hahn told POLITICO that an emergency-use authorization “is the process that gives us confidence in a test.” It is still faster and less rigorous than securing FDA approval for a new diagnostic test. That process typically takes more than a year, from the initial test development to the agency’s final decision, and involves significantly more data.</p>
        
            <p class="story-text__paragraph">FDA observers say the weak standards for antibody tests appear to be a response to critics who said the agency was too slow to approve coronavirus diagnostic tests in the early months of the outbreak.</p>
        
            <p class="story-text__paragraph">Former FDA lawyer Coleen Klasmeier said the agency swung too far the other way. She said FDA needs to set tougher quality standards for specificity — which measures how often a test correctly produces positive results — and sensitivity, which measures how often a test correctly produces negative results.</p>
        
            <p class="story-text__paragraph">Another approach would be to require companies to regularly submit data to prove their tests are accurate, said Klasmeier, now a partner at the law firm Sidley Austin.</p>
        
            <p class="story-text__paragraph">Scott Becker, the CEO of the Association of Public Health Laboratories, has criticized the FDA for allowing “crappy” antibody tests onto the market without adequate review. "Ideally they would scrap the current policy and start over, but I don't think that's practical given this crisis,” he said. “The best we can hope for is a rigorous and expansive evaluation."</p>
        
            <p class="story-text__paragraph">And that might be coming. The FDA recently launched a program with the Centers for Disease Control and Prevention, the National Cancer Institute and National Institutes of Health that allows test manufacturers to have their products independently assessed for accuracy.</p>
        
            <p class="story-text__paragraph">FDA diagnostics chief Tim Stenzel said several companies are already participating. “We will make results known as soon as we find a way to do that,” Stenzel said on a webinar Wednesday. “We will just say that some of this information is proprietary.”</p>
        
            <p class="story-text__paragraph">Stenzel also said the FDA has “nearly completed” a template to make it easier for antibody test developers to apply for an emergency use authorization. The template will set out some minimum standards for sensitivity and specificity, he added.</p>
        
            <p class="story-text__paragraph">Efforts to improve antibody tests also got a boost from <a href="https://subscriber.politicopro.com/legislative-compass/bill/US_116_HR_266" target="_blank">the coronavirus aid package signed into law Friday</a>, which provides the NCI with $306 million to help develop, assess and improve the tests.</p>
        
            <p class="story-text__paragraph">The Trump administration is also considering ways to more immediately address the accuracy concerns. Hahn and Stenzel have floated the idea of using two antibody tests per patient to increase the accuracy of results. “The development of antibodies takes time after an infection,” Hahn told POLITICO. “It may require us to do more than one test.”</p>
        
            <p class="story-text__paragraph">But not everyone thinks the FDA’s approach has been wrong-footed. Liise-anne Pirofski, chief of the infectious-diseases division at Albert Einstein College of Medicine and Montefiore Medical Center and a spokeswoman for the Infectious Disease Society of America, said she saw no reason for the agency to change how it handles antibody tests. Pirofski also said scientists and health experts could learn a lot from comparing the wide array of tests on the market.</p>
        
            <p class="story-text__paragraph">And lawmakers in Congress seem divided over how the FDA should move forward.</p>
        
            <p class="story-text__paragraph">House Energy and Commerce ranking member Greg Walden (R-Ore.) told POLITICO that Hahn briefed his committee last week on FDA’s efforts to validate antibody tests. “FDA is aggressively pursuing companies that do not follow the labeling guidelines,” Walden said.</p>
        
            <p class="story-text__paragraph">Sen. Patty Murray (D-Wash.), ranking member of the Senate health committee, said she’s watching the FDA’s next steps closely. “We need to make sure we don’t get into a situation where people are making critical health decisions based on unreliable antibody tests,” she said.</p>
        
            <p class="story-text__paragraph">In the meantime, several companies are working to expand the reach of antibody testing. Quest Diagnostics is rolling out its own antibody testing service, using tests from Abbott and Euroimmun — both of which are seeking emergency authorization from the FDA. Quest expects to scale up to 150,000 tests per day by early May.</p>
        
            <p class="story-text__paragraph">But making tests available quickly, while important, should not be the top priority, said Deepak Nath, president of laboratory diagnostics at Siemens Healthineers.</p>
        
            <p class="story-text__paragraph">"What’s most important from our standpoint,” he said, “is quality tests that can produce reliable results to aid clinical decisions — decisions that will be used to aid in reopening our economy.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
