{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>‘It’s being built on our blood’: the true cost of Saudi Arabia’s $500bn megacity</h1>
        <h2>With an artificial moon and flying taxis, Neom has been billed as humanity’s next chapter. But beneath the glitzy veneer lies a story of threats, forced eviction and bloodshed</h2>
        <p>“The future has a new home,” proclaims the website.</p>
        <p>“It’s a virgin area that has a lot of beauty,” says the voice over a string section soundtrack as the <a class="u-underline" data-link-name="in body link" href="https://www.neom.com/en-us/about/#vision-2030">promotional video</a> tracks colour-tinted panoramic shots of picturesque desert expanses, and deep azure lagoons.</p>
        <p>“Better humans, better society,” it boasts extravagantly.</p>
        <p>The brainchild of Crown Prince <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/mohammed-bin-salman">Mohammed bin Salman</a>, the new city state of Neom, named from a combination of the Greek word for “new” and the Arabic term for “future”, is intended to cover an area the size of Belgium at the far north of Saudi Arabia’s Red Sea coastline.</p>
        <figure class="element element-image img--landscape element--supporting fig--narrow-caption fig--has-shares" data-component="image" data-media-id="99131a7953c365591cec56f76f2dcb06f7027da6" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=5f354de545d0fcd18ca26b602c017060" itemprop="url"/>
<meta content="1806" itemprop="width"/>
<meta content="1084" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="380px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=380&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=54c258679095b945de5bf399fcd00d6e 760w"/>
<source media="(min-width: 1300px)" sizes="380px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=380&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=88f13e5724f4138990a46331bc754c2f 380w"/>
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="300px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=300&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3859aeee36e7c570729bedb7f2b634e1 600w"/>
<source media="(min-width: 980px)" sizes="300px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1b67ea8c347fa93fc270aa58086dc23c 300w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=255bd6f513fa97d84cbf8475895f9bcf 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=84e0b19ffa7ba1b04fde8505a05cab42 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=fd474910dd7725507503afc5950ac80f 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ec1c7c31e8006ee525818931aabde1d9 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=8503025cfe07e601f3b03f9dd2284dfe 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a97d4da2cd3aaaf130151904e1e615e4 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Crown Prince Mohammed bin Salman" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/99131a7953c365591cec56f76f2dcb06f7027da6/0_17_1806_1084/master/1806.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1b67ea8c347fa93fc270aa58086dc23c"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Crown Prince Mohammed bin Salman. Photograph: Bandar Al-Jaloud/AFP/Getty Images
</figcaption>
</figure>
        <p>There has been no shortage of outlandish promises for the $500bn (£400bn) city-state. According to <a class="u-underline" data-link-name="in body link" href="https://www.wsj.com/articles/a-princes-500-billion-desert-dream-flying-cars-robot-dinosaurs-and-a-giant-artificial-moon-11564097568">strategy documents leaked last year</a>, the project may include a huge artificial moon, glow-in-the-dark beaches, flying drone-powered taxis, robotic butlers to clean the homes of residents and a Jurassic Park-style attraction featuring animatronic lizards.</p>
        <p>Advertising materials stressed Neom will be built on “virgin” land, ready to be conquered with futuristic technology. “In 10 years from now we will be looking back and we will say we were the first ones to come here,” declares a Neom staff member featured in the video.</p>
        <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="9f04dfcef869199a847f8e9e836845554757498a" id="img-3" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9f9762dd5bc23e72604cddf0f4d83c8c" itemprop="url"/>
<meta content="4000" itemprop="width"/>
<meta content="2401" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-3">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=aa1210baef7420d9d14740efc1a0d099 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7d27244d01bc57f4cd96c9711e484e4f 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b6183420032fc76d3bc86c35f67f718c 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d7f9689c6c68fafae89aba5cb92df939 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e95946771e2c24c84634bc6bb410dd4f 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9a9d924c4421ef168b58e06761407961 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="A road sign by a desert highway indicates the distance to the bay at Ras Hameed, Saudi Arabia" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/9f04dfcef869199a847f8e9e836845554757498a/0_269_4000_2401/master/4000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a63efa7df2a9c7db1f55e3297c9dc072"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 A road sign by a desert highway indicates the distance to the bay at Ras Hameed, Saudi Arabia, where Neom will be partly located. Photograph: Bloomberg/Getty Images
</figcaption>
</figure>
        <p>Yet part of the site is the home of the Huwaitat tribe, who have spanned <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/saudiarabia">Saudi Arabia</a>, Jordan and the Sinai peninsula for generations, tracing their lineage back before the founding of the Saudi state. At least 20,000 members of the tribe now face eviction due to the project, with no information about where they will live in the future.</p>
        <p>“For the Huwaitat tribe, Neom is being built on our blood, on our bones,” says Alia Hayel Aboutiyah al-Huwaiti, an outspoken activist and member of the tribe living in London. “It’s definitely not for the people already living there! It’s for tourists, people with money. But not for the original people living there.”</p>
        <p>For some Saudis, the Huwaiti tribe among them, Neom, with its parallel legal system reporting directly to the king, represents an elite version of Saudi society, one designed simply to shut them out. Residents and visitors to the site will probably be allowed to drink alcohol and enjoy fine dining in a futuristic version of paradise that is also set to include a vast <a class="u-underline" data-link-name="in body link" href="https://saudigazette.com.sa/article/588351">data-gathering network</a>, including drone and facial-recognition technology covering the entire city-state.</p>
        <figure class="element element-interactive interactive" data-alt="Map showing the location of Neom" data-canonical-url="https://interactive.guim.co.uk/uploader/embed/2020/04/neom_city_saudi_arabia/giv-3902swf7h3rT5IVZ/" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js">
<a class="u-underline" data-link-name="in body link" href="https://interactive.guim.co.uk/uploader/embed/2020/04/neom_city_saudi_arabia/giv-3902swf7h3rT5IVZ/">Map showing the location of Neom</a>
</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}>The <a class="u-underline" data-link-name="in body link" href="https://www.bbc.co.uk/news/world-middle-east-52375343">death</a> of Abdul Rahim al-Huwaiti on 13 April highlighted the tension between the tribe and the kingdom’s development plans. A resident of the town of Khuraibat, he had become the face of the tribes’ criticism of their forced eviction, voicing complaints in videos posted to social media, and appearing in others’ videos. <a class="u-underline" data-link-name="in body link" href="https://twitter.com/Abd_Alhwaiti/status/1254328864349794305">One</a> piece of footage showed him confronting a Saudi official who visited the town to speak with residents.</p>
        {% if paywall.show %}
        
            <figure class="element element-image img--landscape element--supporting fig--narrow-caption fig--has-shares" data-component="image" data-media-id="038d0bda1a65f707299f46caa59b9fef4fff5130" id="img-4" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=69117a40883661d1353d4c88bc36dd54" itemprop="url"/>
<meta content="790" itemprop="width"/>
<meta content="790" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-4">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="380px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=380&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c096906ecc7138020d129de42f4e62cf 760w"/>
<source media="(min-width: 1300px)" sizes="380px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=380&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=85c37f9d86003694a6f583ae8aba0761 380w"/>
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="300px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=300&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=7e6e813065a1d4704cfdd1bd3684e438 600w"/>
<source media="(min-width: 980px)" sizes="300px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2c170218d9fbd9a6544eade2e5492a3b 300w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=fd3fa7b9c8de8f83905b692ab6e92294 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=39eb51a3f6073a52b3b45199b6114f74 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=972b007c3f657aa55ed3621137f4e55e 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4740b997ee10703683165fb6ef3ae8e1 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=eb8be75580a83bcf30d58857f710b09e 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4b3745d865ebd9ede23470537b50da7b 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Abdul Rahim al-Huwaiti" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/038d0bda1a65f707299f46caa59b9fef4fff5130/0_202_790_790/master/790.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2c170218d9fbd9a6544eade2e5492a3b"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Abdul Rahim al-Huwaiti posted videos online alerting the world that Saudi security forces were trying to evict him. Photograph: YouTube
</figcaption>
</figure>
        
            <p>Abdul Rahim al-Huwaiti made one of his last <a class="u-underline" data-link-name="in body link" href="https://www.youtube.com/watch?v=0kt4fyZxsWc&amp;feature=youtu.be">videos</a> in mid-April. “They have begun the process of removing people, beginning with surveying homes with the intent of removing people and deporting them from their land,” he said, referring to the security forces in his town. “They arrested anyone who said they’re against deportation, they don’t want to leave, they want to remain [in] their homes, that they don’t want money.</p>
        
            <p>“I would not be surprised if they come to kill me in my house now, and place a weapon next to me,” he added.</p>
        
            <p>Later the same day, he shot a video from his rooftop of the police down below. “See them? The police have come to get me,” he <a class="u-underline" data-link-name="in body link" href="https://www.youtube.com/watch?v=x-M6UouYbOs">said</a>.</p>
        
            <p>Others from Khuraibat recorded <a class="u-underline" data-link-name="in body link" href="https://twitter.com/freespiritoox/status/1249693560997363717/video/1">videos</a> of gunfire from outside his house. Later, they recorded <a class="u-underline" data-link-name="in body link" href="https://twitter.com/n_alharbi12/status/1250733137149267971">footage</a> inside his house, pockmarked with bullet holes. In a statement, the Saudi authorities <a class="u-underline" data-link-name="in body link" href="https://twitter.com/SPAregions/status/1250438769066397697">claimed</a> he’d been killed in a shootout with regional security forces, stating that Abdul Rahim injured two after he shot back.</p>
        
            <p>His supporters have described the shooting as “an extrajudicial killing”. So too have rights groups.</p>
        
            <p>“They killed him to set an example – anyone opening their mouth gets the same treatment,” says Alia al-Huwaiti.</p>
        
            <p>According to the Saudi rights group Al Qst, the authorities have <a class="u-underline" data-link-name="in body link" href="http://alqst.org/eng/the-huwaitat-tribe/">since</a> worked to cover up Abdul Rahim’s killing and placate the tribe. “They are hoping to pull off a major publicity stunt by getting prominent figures among the Huwaitat to publicly disown Abdul Rahim and ‘renew their allegiance’ to the king,” said the group.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="373f2db6272cc83190436c5b717f5a746c03a904" id="img-5" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=836bac1e03b8a26c751148dc738ec972" itemprop="url"/>
<meta content="1497" itemprop="width"/>
<meta content="1001" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-5">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4254c5228e7519dfbb9f71b796540de1 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0da6858319a917a342b29b36950da2e6 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e0ccb44760fc11996bfacb6d57593f11 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a235a4f4bca4e6f6deb792f8c688437d 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=2df62be00415d8b6f947ce42156c7ba5 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=82306508d39981c79264474796a275ca 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="An illustration of Neom, which will be built in Saudi Arabia’s Tabuk province." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/373f2db6272cc83190436c5b717f5a746c03a904/0_0_1497_1001/master/1497.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ec3e1d141b8e23844aa6ab8c4ccffa52"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 An illustration of Neom, which will be built in Saudi Arabia’s Tabuk province. Photograph: Courtesy of Neom.com
</figcaption>
</figure>
        
            <p>This was accompanied by the arrest of eight members of the tribe.</p>
        
            <p>For Alia al-Huwaiti, the killing of Abdul Rahim and the forced displacement of the Huwaitat people highlights the kingdom’s lack of care towards tribal communities long dominated and suppressed by the state. “MBS [Mohammad Bin Salman] began by telling the tribes: ‘We will develop your area, you will make money.’ They believed him at first. By 2019, they said ‘We will empty three villages, and force people to move,’” she says.</p>
        
            <p>“There is nothing called a tribe for Mohammed bin Salman,” she adds. “He doesn’t care about the tribes.”</p>
        
            <p>Alia said she has received death threats for posting about the plight of Abdul Rahim and the tribe on social media, including threats she has reported to the British police.</p>
        
            <figure class="element element-image img--landscape element--supporting fig--narrow-caption fig--has-shares" data-component="image" data-media-id="e6a5ac0421b50be16582c3254bcad0cbf6c98de7" id="img-6" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8671c56174b5ea808f647f0a36ddc3b5" itemprop="url"/>
<meta content="1920" itemprop="width"/>
<meta content="1280" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-6">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="380px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=380&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4740d77a580bc6238b2c65295a2f89c9 760w"/>
<source media="(min-width: 1300px)" sizes="380px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=380&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1257d488e9f2475dd5a7a9a14b7acd76 380w"/>
<source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="300px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=300&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=7976f6bc67788fbb4bc4eb14a7cccc94 600w"/>
<source media="(min-width: 980px)" sizes="300px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=987f6111e5e393140073d88f633e84e4 300w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9c250ceb960c598aca5f9a38a525c7db 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=bc8d897eb4911a75a83b2a50aea988cb 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=ffe90c35b378e1924031388f67e23172 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=137535cd86501ea02521e822dae3f09e 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=412783c5a103ec1b7e879623ab8277de 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d052ce5426f9043ea85a74f530641ae9 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="The headland where Neom will be built" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/e6a5ac0421b50be16582c3254bcad0cbf6c98de7/0_0_1920_1280/master/1920.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=987f6111e5e393140073d88f633e84e4"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 The headland where Neom will be built. Photograph: Courtesy of Neom.com
</figcaption>
</figure>
        
            <p>The public relations team for Neom, as well as executives from the management consulting firm Teneo, hired by Saudi authorities <a class="u-underline" data-link-name="in body link" href="https://efile.fara.gov/docs/6698-Exhibit-AB-20190708-1.pdf">for </a><a class="u-underline" data-link-name="in body link" href="https://efile.fara.gov/docs/6698-Exhibit-AB-20190708-1.pdf">more than $2m</a> last year to represent the project, did not return requests for comment. The Saudi Arabian embassy in Washington DC did not respond to a request for comment.</p>
        
            <p>But Ali Shihabi, <a class="u-underline" data-link-name="in body link" href="https://www.neom.com/en-us/static/pdf/en/NEOM-Advisory-Board-English.pdf">a member of the Neom advisory board</a>, told the Guardian that the displaced members of the tribe would be compensated. “Practice in Saudi has been that people have to accept it, and have usually done so because the government has a tradition of compensating generously.”</p>
        
            <p>He said he did not know how much members of the tribe would be compensated, or when.</p>
        
            <p>“We anticipated there might be problems, especially with as large of a land grab as Neom. It’s inevitable that there would be some kind of forced displacement happening,” says James Suzano, of the European-Saudi Organisation for Human Rights. “When the state has done this before, it was accompanied by human rights violations.”</p>
        
            <p>The destruction of communities on the Neom site follows decades of tensions between the House of Saud and the tribes it has ruled over since the creation of the Saudi state in 1932. Exerting control over the land through construction projects or destruction of some heritage sites have marked this rule. In 2017, the UN <a class="u-underline" data-link-name="in body link" href="https://www.ohchr.org/en/NewsEvents/Pages/DisplayNews.aspx?NewsID=21657&amp;LangID=E">condemned</a> the kingdom’s forced demolition of the walled city of Awamia, in the eastern Qatif region, as violating human rights.</p>
        
            <p>Karima Bennoune, the UN special rapporteur for cultural rights, said that “historic buildings have been irremediably burned down and damaged by the use of various weapons by the military, forcing residents out of their homes and of the neighbourhood, fleeing for their lives”.</p>
        
            <p>A $10bn King Abdullah financial district in Riyadh, <a class="u-underline" data-link-name="in body link" href="https://www.reuters.com/article/us-saudi-economy-finance/riyadhs-new-financial-hub-struggles-with-ownership-uncertainty-idUSKBN17R1OV">intended</a> as a “special zone,” has sputtered since its inception in 2006, weathering construction delays and confusion over its purpose, even after government attempts at a relaunch in 2016. Critics of Neom say the project risks the same fate.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="720d3a08415661cf4be5de6549370c153c56e795" id="img-7" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f6039188fc66a7f7a945e7f611325cf6" itemprop="url"/>
<meta content="4924" itemprop="width"/>
<meta content="2825" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-7">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=fe240ef7a9f778000190651fdec1825e 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d3b82f3affdc6d4a2cd3f8049d610397 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4e8a2f91c1bd3964fe6af27283eda173 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=52aa36149829a532f863483ec5d99a1d 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4f6139b8868b1f841bed508fa5b0a474 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a1e45ebe39b1ddfb081752dcb7c18439 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Visitors stand next to a drone taxi during an exhibition on Neom in Riyadh" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/720d3a08415661cf4be5de6549370c153c56e795/0_0_4924_2825/master/4924.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d85141915d20fb28c96084dc206a2b09"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Visitors stand next to a drone taxi during an exhibition on Neom in Riyadh. Photograph: Hamad I Mohammed/Reuters
</figcaption>
</figure>
        
            <p>Construction is ploughing ahead despite the challenges of the pandemic and the <a class="u-underline" data-link-name="in body link" href="https://www.cnbc.com/2020/03/30/oil-falls-amid-saudi-arabia-russia-price-war-coronavirus-hits-demand.html">historic drop</a> in the price of oil, Saudi’s primary export. The project is part of the crown prince’s flagship Vision 2030 project, intended to diversify the economy away from oil, which has sustained the kingdom since the early 20th century. Yet the funds required to see Neom realised will inevitably require oil wealth.</p>
        
            <p>“It’s quite revealing that [Neom] is more of a vanity project targeting the domestic elite and an international audience in terms of a new Saudi, one that’s open and economically or socially liberal,” says Josh Cooper, of Al Qst. “But at the same time, not allowing the involvement of local actors or interests in these decision-making processes.”</p>
        
            <p>For Cooper, Neom is less a shining vision of the future than a grim symbol of Saudi human rights violations, underscored by the treatment of the Huwaitat tribe.</p>
        
            <p>“It shows the lack of platforms people have to express their opinions, even on less contentious matters than civil or political rights,” he says.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
