{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Dutch researchers coax secrets from Girl with a Pearl Earring</h1>
        <h2>Although offering insights into the artist’s technique, gallery has yet to solve Vermeer’s biggest mystery</h2>
        <p>A major research project into one of the world’s most popular and captivating paintings has revealed new secrets but the most tantalising question remains: just who was the girl with a pearl earring?</p>
        <p>Researchers at <a class="u-underline" data-link-name="in body link" href="https://www.mauritshuis.nl/en/explore/the-collection/artworks/girl-with-a-pearl-earring-670/">the Mauritshuis gallery in The Hague</a> on Tuesday revealed the results of extensive investigations into its star painting, <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/culture/2002/nov/02/art">Johannes Vermeer’s Girl with a Pearl Earring</a>, thought to date from about 1665. </p>
        <p>The Netherlands’ researchers were stunned to discover, for the first time, delicate eyelashes on the girl’s face and evidence of a green curtain behind her head. They have also gained fresh insights into how Vermeer painted the work, what changes he made and which pigments he used, including discovering that the white for the earring originated in England’s Peak District.</p>
        <p>But the biggest mystery endures and that is a good thing, said Abbie Vandivere, the head of <a class="u-underline" data-link-name="in body link" href="https://www.mauritshuis.nl/en/explore/restoration-and-research/girl-with-a-blog/">The Girl in the Spotlight</a> research project.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>“We were able to find out so much about Vermeer’s materials and techniques but we still don’t know exactly who the girl is,” she said. “It is good that some mysteries remain and everyone can speculate about her. It allows people their own personal interpretation of the girl; everyone feels their own connection with the way she meets your eyes.</p>
        {% if paywall.show %}
        
            <p>“The fact that she is still a mystery keeps people coming back and keeps her exciting and fresh.”</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="65f911dab8bcf9876ad3f23be2645a0dc44a3c12" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=90053f8aa3e88cf40d220f0ffcf4dd6f" itemprop="url"/>
<meta content="1777" itemprop="width"/>
<meta content="1067" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=776be2fe3beb081584b6cd7008c6001e 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=43b843c9b5fd2dab60b8191b40fcbb19 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e2d2e6d6b10a0b4977b57978c42fd42b 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c5ed95a322dcb044ac3bc0bd36902d96 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1e6b8127a0efb9df5219940e1cdfcae1 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7a3b504a9c63bb631f091c13f132fced 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="close-up of Girl with the Pearl Earring" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/65f911dab8bcf9876ad3f23be2645a0dc44a3c12/71_0_1777_1067/master/1777.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0596189e14bf5088d96e88f09ddb98b1"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 The Mauritshuis found that the blue paint was made from the semi-precious stone lapis lazuli, from what is now Afghanistan. It would have been more precious than gold. Photograph: Meet Vermeer
</figcaption>
</figure>
        
            <p>Vandivere said the two biggest discoveries were finding the girl’s eyelashes and evidence that Vermeer painted a green curtain, which has gradually faded, rather than an empty dark background.</p>
        
            <p>Scholars have previously speculated that the girl’s lack of eyelashes might be because Vermeer was painting an idealised or abstract face. A similar argument was made for the formless expanse behind her.</p>
        
            <p>Both discoveries “put the girl in a defined space and bring us a lot closer to her”, said Vandivere. They suggest Vermeer was faithfully observing and painting a real person in a real space.</p>
        
            <p>Speculating on who the girl was, with her enigmatic expression, wide eyes, unusual blue turban and huge pearl earring, remains part of the fun.</p>
        
            <p>The novelist <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/artanddesign/2019/feb/16/tracy-chevalier-vermeer-girl-with-pearl-earring-world-tour">Tracy Chevalier</a>, in her book Girl with a Pearl Earring, which became a successful film, imagines the character as a maid in Vermeer’s house who is persuaded to secretly pose for him.</p>
        
            <p> The Mauritshuis research has also brought us closer to Vermeer’s painting techniques, said Vandivere, showing how he began composing the painting in various shades of brown and black before adding the colours, working systematically from the background to the foreground.</p>
        
            <p>The pearl itself is an illusion in that “it has no contour and also no hook to hang it from the girl’s ear”, she said.</p>
        
            <p>Researchers also discovered changes Vermeer made, including shifting the position of the ear, the top of the headscarf and the back of the neck.</p>
        
            <p>Researchers have been able to pinpoint where the raw materials for the colours came from. Vermeer would have bought them in his home town of Delft, but the lead ore in his white would have come from the Peak District; the cochineal in his red was made from insects that lived on cacti in Mexico and South America; and the blue in the headscarf was made from the semi-precious stone lapis lazuli, from what is now Afghanistan. It is surprising how much he used, said Vandivere, because in the 17th century it would have been more precious than gold.</p>
        
            <p>The director of the Mauritshuis, Martine Gosselink, said: “The girl hasn’t revealed the secret of her identity yet but we got to know her a little better. This is not the end point of our research.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
