{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>EA's not-E3 event will stream June 11th</h1>
        <h2>See all the games you can't see in person.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        {% if paywall.show %}
        
            <img alt='LOS ANGELES, CALIFORNIA - JUNE 08:   Game enthusiasts and industry play "Apex Legends" during the EA Play 2019 event at the Hollywood Palladium on June 08, 2019 in Los Angeles, California. (Photo by Christian Petersen/Getty Images)' class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2020-05%2F289081a0-8e23-11ea-beff-de632f010f72&amp;client=amp-blogside-v2&amp;signature=27512b6997244e5e8583856886a90d3e11d6380b"/>
        
            <p>EA’s contribution to <a href="https://www.engadget.com/summer-game-fest-geoff-keighley-155325590.html">Summer Games Fest</a> now has a specific date. The publisher has <a href="https://twitter.com/EASPORTS/status/1257325062576844800" target="_blank">announced</a> that an online-only version of EA Play Live will take place on June 11th at 7PM Eastern through the company’s website. It didn’t drop any clues as to what’s in the pipeline, although you can reasonably presume there will be updated versions of sports mainstays like <em>Madden NFL</em>, <em>FIFA</em>, <em>NBA Live</em> and <em>NHL</em>.</p>
        
            <p>The event should be notable beyond the move to an internet-only event in light of the COVID-19 pandemic. It’s EA’s first Play event where it’s likely to show PlayStation 5 and Xbox Series X titles. While there’s a chance Microsoft’s <a href="https://www.engadget.com/inside-xbox-series-x-gameplay-171945902.html">Series X gameplay premiere</a> might spoil some of the surprise, Play Live could show both more titles and provide a clearer sense of how EA will take advantage of the new consoles’ performance. It’s not certain if the first wave of PS5/XSX titles will offer meaningful gameplay improvements or simply represent graphical upgrades to familiar formulas.</p>
        
            <p>EA Play Live goes digital in 2020!<br/><br/>See you on June 11th at 4pm PST...World premieres, news and more! <a href="https://t.co/RgnIZC9xD1" target="_blank">https://t.co/RgnIZC9xD1</a> <a href="https://t.co/I4PSIWE00H" target="_blank">pic.twitter.com/I4PSIWE00H</a></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
