{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Oscar winner Taika Waititi will direct a Star Wars movie</h1>
        <h2>The notable Apple keyboard hater is also co-writing the film.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        <img alt="BEVERLY HILLS, CALIFORNIA - FEBRUARY 09: Taika Waititi attends the 2020 Vanity Fair Oscar Party at Wallis Annenberg Center for the Performing Arts on February 09, 2020 in Beverly Hills, California. (Photo by Toni Anne Barson/WireImage)" class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2020-05%2Ffddc1870-8e27-11ea-bfdf-66801660d83b&amp;client=amp-blogside-v2&amp;signature=1702520a4cf80ebb3af138c2937e21cd84217224"/>
        {% if paywall.show %}
        
            <p>Disney has lined up Academy Award winner and <a href="https://www.engadget.com/2020-02-10-taika-waititi-dunks-on-apple-s-keyboards-after-oscar-win.html">noted Apple keyboard hater</a> Taika Waititi to <a href="https://www.starwars.com/news/taika-waititi-announce" target="_blank">direct and co-write a Star Wars movie</a>. Waititi already has some professional experience with that universe, as he directed the season finale of <em>The Mandalorian.</em></p>
        
            <p>He’s a highly-regarded filmmaker, who’s behind the likes of <em>Thor: Ragnarok, What We Do In The Shadows </em>and <em>Hunt for the Wilderpeople.</em> Waititi won an Oscar this year for writing <em>Jojo Rabbit, </em>and he’ll collaborate on the Star Wars script with <em>1917 </em>co-writer Krysty Wilson-Cairns.</p>
        
            <p>It’s one of a number of upcoming Star Wars projects. A trilogy from <em>The Last Jedi</em> director Rian Johnson is still <a href="https://www.engadget.com/2017/11/09/star-wars-trilogy-rian-johnson/">on the docket.</a> At least three Disney+ Star Wars shows <a href="https://www.engadget.com/star-wars-disney-plus-series-leslye-headland-221607869.html">are in development,</a> and another season of <em>The Mandalorian </em><a href="https://www.engadget.com/2019-12-27-the-mandalorian-season-2-fall-2020.html">is in the works</a>. <em>Game of Thrones </em>creators David Benioff and D.B. Weiss were also supposed to <a href="https://www.engadget.com/2019/05/14/star-wars-game-of-thrones-david-benioff-db-weiss-disney-2022/">make a Star Wars trilogy</a>, but they’re <a href="https://www.engadget.com/2019-10-29-benioff-weiss-star-wars.html">focusing on Netflix projects instead.</a></p>
        
            <p>The next Star Wars movie is scheduled for <a href="https://www.engadget.com/2019-05-07-disney-star-wars-2022.html">a December 2022 release</a>. That might come a little too soon for Waititi’s flick, as he’s directing <em>Thor: Love and Thunder,</em> which is penciled in for February of that year. He’s also working on an animated <em>Charlie and the Chocolate Factory </em>series for Netflix.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
