{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>How overly optimistic modeling distorted Trump team’s coronavirus response</h1>
        <h2>Administration latched onto projections from respected University of Washington site, but reality turned out to be more dire.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/77cb17e/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/0ca2811/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/731e578/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/7e0e2f8/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/11956f5/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/ac3a99c/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg"/>
<img alt="Deborah Birx and Donald Trump" src="https://static.politico.com/dims4/default/8058f24/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2F0d%2F3e5461f34fc4ad84005b99891bbc%2F200424-birx-gty-773.jpg" title="Deborah Birx and Donald Trump"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">As coronavirus cases climbed daily by the thousands and the nation entered its second month of an economic standstill, President Donald Trump latched onto a sign of hope: A pandemic model closely followed by political leaders and public health specialists projected the virus would kill as few as 60,000 Americans, a figure far below what officials previously feared.</p>
        <p class="story-text__paragraph">The new April forecast signaled the worst would soon be over, with some states effectively ending their bout with coronavirus as early as the end of the month. According to the model’s bell-shaped curves, hospitalizations and deaths nationwide were set to drop off nearly as quickly as they rose.</p>
        <p class="story-text__paragraph">Trump swiftly adopted <a href="https://covid19.healthdata.org/united-states-of-america" target="_blank">the projection</a> from the University of Washington’s Institute for Health Metrics and Evaluation as his newest measure of success — while top administration health officials including infectious disease expert Anthony Fauci and coronavirus response coordinator Deborah Birx touted the lower figure as a clear indication the U.S. was winning its fight with the disease.</p>
        <p class="story-text__paragraph">“It looks like we’ll be at about a 60,000 mark, which is 40,000 less than the lowest number thought of,” Trump said during a news briefing on Sunday, April 19, adding the next day that “the low number was supposed to be 100,000 people. We could end up at 50 to 60.”</p>
        <p class="story-text__paragraph">That’s not going to happen. More than<b> </b>50,000 Americans are dead from the coronavirus already, following several days during which the nation’s death toll routinely topped 2,000. The U.S. is now expected to blow past the 60,000 mark around the beginning of May, earlier than the IHME model had projected and with less of the dramatic leveling-off that its forecast had initially baked in.</p>
        <p class="story-text__paragraph">In retrospect, public health experts said, the sudden downward shift in IHME’s numbers that gave the Trump administration, governors and some health professionals the confidence to float reopening the country by summer was also a prime example of the model’s inherent limitations — and the risk of relying on any model to accurately predict how a virus that scientists are still scrambling to understand will behave in the real world.</p>
        <p class="story-text__paragraph">“You can’t oversell the models, and you have to view them within the correct context,” said Jeffrey Shaman, a coauthor of Columbia University’s coronavirus model, who warned of the difficulty in making projections based “on a highly fluid situation for which the information is woefully incomplete.”</p>
        <p class="story-text__paragraph">That’s particularly the case with the IHME model, a projection that’s risen to prominence in recent weeks as the White House’s favored reference point. The model is not the type of fringe source that has sometimes captured Trump’s attention — rather, it’s an academically credible analysis funded in part by the Bill &amp; Melinda Gates Foundation.</p>
        <p class="story-text__paragraph">Yet the administration’s reliance on its projections has nevertheless frustrated much of the public health community, which cautions that IHME has not hewed to traditional disease modeling procedures or incorporated crucial variables. The result is a rosier picture of the crisis than the one portrayed by much of the rest of the modeling world.</p>
        <p class="story-text__paragraph">“The IHME model is an odd duck in the pool of mathematical models,” said Gregg Gonsalves, an epidemiologist at the Yale School of Medicine. “I fear the White House is looking for data that tells them a story they want to hear, and so they look to the model with the lowest projection of death.”</p>
        <p class="story-text__paragraph">At the center of those concerns is a key element, the IHME model’s critics say. The projection makes no attempt to account for the virus’ defining characteristics, such as how easily it spreads or how long someone can be infected before they show symptoms.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">Instead, it relies on data from cities already hit by the coronavirus, including in Italy and China, and matches the U.S. to a similar curve. The result is a projection that’s easily digestible and more precise in its predictions than most infectious disease models, but far more volatile as the situation plays out on the ground.</p>
        
            <p class="story-text__paragraph">The IHME has made frequent revisions to its model over the past month. Since April 9, for example, its forecast of the nation’s death toll had risen from around 61,000 to closer to 70,000, before adjusting back down to roughly 67,000 people.</p>
        
            <p class="story-text__paragraph">Each of its projections also includes an upper and a lower boundary, mapped out by a shaded area, which range from as few as 48,000 — a figure the U.S. has already surpassed — to as many as 123,000 deaths.</p>
        
            <p class="story-text__paragraph">“It’s a statistical model fitting the curves of epidemics in China and other places to what they think might happen in the U.S.,” Gonsalves said, “and then constantly refitting based on new data.”</p>
        
            <p class="story-text__paragraph">IHME Director Christopher Murray defended his team’s<b> </b>work as rigorous and among the best models available, arguing that the forecast simply seeks to achieve different goals than more traditional projections. The model was originally meant to help hospitals predict their supply needs, as providers across the world braced for a wave of coronavirus patients.</p>
        
            <p class="story-text__paragraph">“We’re willing to make a forecast. Most academics want to hedge their bets and not be found to ever be wrong,” Murray said. “That’s not useful for a planner — you can’t go to a hospital and say you might need 1,000 ventilators, or you might need 5,000.”</p>
        
            <p class="story-text__paragraph">He added that IHME’s model is far more optimistic than others in large part because it heavily accounted for the impact of social distancing — a decision Murray credited for helping pinpoint the pandemic’s national peak even as others warned of continued massive growth in cases.</p>
        
            <p class="story-text__paragraph">“We’re orders of magnitude more optimistic. On the other hand we also called the peak correctly,” he said. “We believe in fitting models to data, and not making an assumption and then saying how my assumption would play out in a hypothetical world.”</p>
        
            <p class="story-text__paragraph">That’s caught the attention of the 2 million to 4 million people — among them numerous public-health officials and hospital administrators — who visit the site every day. It’s also won the trust of the Trump administration, which first contacted IHME in late March as it was scrambling to allocate limited supplies and head off an overwhelming of the health system, and has continued to swap data and observations with the group ever since.</p>
        
            <p class="story-text__paragraph">As IHME grew more confident in early April that the nation’s abrupt lockdown had begun to work, so did top public health officials.</p>
        
            <p class="story-text__paragraph">Shortly after IHME debuted its 60,000-death forecast, Fauci on April 8 echoed the sentiment, saying the administration now believed the eventual toll would be "more like like 60,000 than the 100,000 to 200,000" deaths health officials previously estimated.</p>
        
            <p class="story-text__paragraph">But the White House’s coronavirus task force has in recent conversations with the group focused on a new challenge: How to navigate a gradual reopening of the country, representing a new phase that will be far more difficult to model.</p>
        
            <p class="story-text__paragraph">“That just opens up a whole new set of challenges,” Murray said, noting that Georgia — whose governor, Brian Kemp, has called for businesses to reopen far sooner than his counterparts in other states — hasn’t even hit its coronavirus peak under the IHME model.</p>
        
            <p class="story-text__paragraph">“If Georgia’s going to have a resurgence, what about the neighboring states?” Murray said.</p>
        
            <p class="story-text__paragraph">Compounding those concerns is what he called a “disturbing” trend of slower drop-offs in new cases in some countries like Italy, a signal that the crisis could persist for longer than expected.</p>
        
            <p class="story-text__paragraph">The IHME, he said, will update its estimates next week to reflect a gloomier future amid indications that states like Georgia will begin to reopen — and boost the odds of a prolonged pandemic.</p>
        
            <p class="story-text__paragraph">“We had presumed, perhaps naively, that given the magnitude of the epidemic, most states would stick to their social distancing until the end of May,” Murray said. “That is not happening.”</p>
        
            <p class="story-text__paragraph">Trump this week criticized Georgia for allowing some businesses to reopen, an abrupt turnaround after he’d expressed support for Kemp’s plan just 24 hours earlier.</p>
        
            <p class="story-text__paragraph">The president’s focus on projections — and his insistence on seizing on the most optimistic forecasts — has worried political allies, who say it sets his administration up for failure when the projections turn out to be flawed or imprecise.</p>
        
            <p class="story-text__paragraph">“Any actual measurement, if you want to use an exact number, is a mistake,” said former Trump campaign aide Sam Nunberg. “Any president going through something like this is in a no-win situation in terms of any metrics.”</p>
        
            <p class="story-text__paragraph">In recent days, Fauci and Birx have avoided benchmarking where the country may end up<b> </b>and emphasized that social distancing might remain in place longer than many people realized. Privately, two people close to the administration’s response effort acknowledged that the death toll is likely to grow into the 70,000 and perhaps 80,000 range — and that’s assuming there isn’t a second wave of outbreaks in the fall.</p>
        
            <p class="story-text__paragraph">“The program is not one that is going to be turn the lights on in America, we’re finished,” Fauci said Wednesday, referring to the administration’s reopening strategy. “We’re not. We have to proceed in a very careful, measured way.”</p>
        
            <p class="story-text__paragraph">Trump has sought to revise his own forecast as well.</p>
        
            <p class="story-text__paragraph">“Minimal numbers were going to be 100,000 people,” he said on Friday. “And we’re going to hopefully be far below that.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
