{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>CDC document projects as many as 3,000 coronavirus deaths per day by June</h1>
        <h2>The health agency projected a wide range of possible outcomes, however, reflecting uncertainty about the course of the disease.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/7534ff2/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/f5314d1/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/3107872/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/fa7f2c7/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/00ec1ef/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/57a8c11/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg"/>
<img alt="Hospital workers" src="https://static.politico.com/dims4/default/11e0006/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fbb%2Fcc%2F4c2f18884baf820118f89474d5c7%2Fap2nurses.jpg" title="Hospital workers"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The White House on Monday acknowledged the existence of an <a href="https://int.nyt.com/data/documenthelper/6926-mayhhsbriefing/af7319f4a55fd0ce5dc9/optimized/full.pdf#page=1" target="_blank">internal administration document</a> projecting as many as 3,000 deaths per day from coronavirus by June but asserted that the grim modeling had not<b> </b>gone through interagency vetting and “is not reflective” of any projections from or analyzed by the White House coronavirus task force.</p>
        <p class="story-text__paragraph">In a statement to reporters, White House deputy press secretary Judd Deere said that the internal report <a href="https://www.nytimes.com/2020/05/04/us/coronavirus-updates.html#link-7b42d0f5" target="_blank">obtained by The New York Times</a> was “not a White House document” and hadn’t been presented to the coronavirus task force. </p>
        <p class="story-text__paragraph">But the report, labeled a situation update by the Centers for Disease Control and Prevention, projects a steady increase in the number of new cases of the dangerous virus — as well as fatalities — throughout the month of May.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">By June 1, CDC projects close to 3,000 fatalities per day, far more than the peak of more than 2,500 on one day last week. </p>
        
            <p class="story-text__paragraph">The document projects north of 175,000 new cases of Covid-19, the respiratory illness caused by the novel coronavirus, each day. That’s up from about 25,000 new cases per day last week and more than four times the peak of about 37,000 new cases per day. </p>
        
            <p class="story-text__paragraph">There is a high degree of uncertainty in both models, however. Taking into account the margin of error, the agency expects the death rate to be anywhere from about 175 to more than 10,000 people on June 1. And the spike in the daily number of new cases, taking into account the margin of error, could range from 10,000 to more than 1 million. </p>
        
            <p class="story-text__paragraph">The alarming modeling comes as some states are already beginning to put parts of the White House’s phased reopening plan into motion despite concerns that the administration’s guidelines for doing so have not yet been met. It also underscores fears that moving too fast to relax strict social-distancing restrictions could fuel a dangerous second wave of infections. </p>
        
            <p class="story-text__paragraph">The document found some reason for optimism, noting that nationwide, the trajectory of new illnesses in "multiple counties, including hard hit areas in Louisiana and in the New York City region" has continued to decrease, and that incidence rates have recently plateaued around Chicago.</p>
        
            <p class="story-text__paragraph">Still, it found that there "remains a large number of counties whose burden [of illness] continues to grow or are in an elevated incidence plateau, including in the Great Lakes region, parts of the Southeast, Northeast, and around southern California." The document includes a color-coded map of the country with darker spots peppered throughout, and it states that the goal "is to have all communities be represented in the lighter colors, demonstrating little to no disease burden and no increase in trajectory."</p>
        
            <p class="story-text__paragraph">Deere on Monday defended the White House plan, which President Donald Trump released last month with the goal of returning to some semblance of normalcy and reviving an economy that has been shuttered over the past two months due to the virus. </p>
        
            <p class="story-text__paragraph">The guidelines “are a scientific driven approach that the top health and infectious disease experts in the federal government agreed with,” Deere said. “The health of the American people remains President Trump's top priority and that will continue as we monitor the efforts by states to ease restrictions.”</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
