{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>The antidote: your favourite weekend reads beyond coronavirus</h1>
        <h2>If you’re feeling overwhelmed by coverage of the pandemic, try our list of non-coronavirus articles that our readers spent the most time with over the weekend</h2>
        <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="c85a9425fb195de451bc0b8548434034a2d4263f" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=cba4c9c0f443b5ae5a252bb6030f62d8" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1897bfb7410c51caff4807777f7713ca 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b0bbf00ed4f7d48f09ec7a5c1349cc22 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b015aa7985f32c5731ba4eda6c4f0dc4 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b19222e4758f85e3c91530023d30867c 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="1" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405.png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=420919277d0dcc29255731c538d043e8"/>
</picture>
</div>
</figure>
        <p>‘The fact this episode is still something to speculate about eight months later, that even the minister hasn’t, or can’t, fluently explain what happened, is a matter of concern. It goes to credibility.’</p>
        <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="4b3f214b056a1a8b317ba14c99e2a1dd191bff12" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2c439d90b03f9a276db8f6a8ee1ecfaf" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="368" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=aa8e8d3fb76b02752c590ec7742db325 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b3cfd9a5cf1fbebf7e11b1df0ed0dc74 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=58266c3dce1dfff847390f090938ce50 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=253c49433b934e1ce43184511e44ee99 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="2" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405.png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=fdd04f81706f07f5f3eb6b87ed482ccc"/>
</picture>
</div>
</figure>
        <p>‘Crossing the Pakistan-Iran border was the only hairy moment. Tourists are given an armed escort but, as we passed through a military base on the way to the border, the guards were tense and warned that the Taliban were in the area. We passed them several times as our escort yelled at me to keep driving. It was a terrifying half-hour before they dropped us off, but it’s the kind of experience that locals have daily.’</p>
        <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="63a077d54e19227607ac87c2dd26aa255aba2c3a" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8bd16308ce70eade36ffc9a57e64ed3b" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4b6a07d0a95cd7901e264e0632d2b334 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=299e7dd1d6dbb2304136a48ca0ad856e 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=41a19bbc149e6d68195e0e577ea557f9 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c0eef996d74407d113eeed456046b1a2 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="3" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405.png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=eb02fe1afc407641ed03cf75d6cf3d2a"/>
</picture>
</div>
</figure>
        <p>‘The 2001 Philadelphia 76ers are a tall tale that only grows unlikelier with time. The premise flatly stated is absurd: the Sixers built a ballclub around a 5ft 11in delinquent from Virginia Beach and it worked. Allen Iverson became the least conventional star ever to lead a team to the NBA finals and the Sixers became the ultimate underdog squad for the ultimate underdog city.’</p>
        <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="c79433a7efe562e255e1fd5c923fbf170640099c" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1846f2e2b7df2fdb134b3c5f3fac0593" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="389" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4ee8ce39c0b5b31e13d61d38eb059947 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3f0e92f93f5ca7fbff81e678df1084ef 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=8b412dccfbf465e3b7e632dce730dd40 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=550f061f9958515bbad28775bcca7f82 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="4" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405.png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=70f70facd295a35e8c10476099fef584"/>
</picture>
</div>
</figure>
        <p>‘There is an assumption that footballers get better with age before peaking in their late twenties and regressing in their thirties. However, a look back at the best players aged 21 or under in the 2009-10 season shows that not every promising youngster is destined for greater things.’</p>
        <figure class="element element-image img--landscape element--thumbnail" data-component="image" data-media-id="c73fcbb326960c2032355c42c5c60e49f7ec0a78" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=328307ac8d7dc2208858083508361c0f" itemprop="url"/>
<meta content="406" itemprop="width"/>
<meta content="366" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=2713cdc4939f67e18ced18e1280cf204 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=855159b6496e2817653d92df98b66f87 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=cffdfa0d1fc160cece439c673a300df3 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=433f616fa588556f0623e9542de30c63 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="5" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c73fcbb326960c2032355c42c5c60e49f7ec0a78/0_0_406_366/master/406.png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f1b8486d22ce3dfb90e11273c1be7d5b"/>
</picture>
</div>
<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Composite: GW Composite
</figcaption>
</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}><strong>Alan Ayckbourn: ‘</strong>The biggest failure I ever had was my first attempt at a musical. Andrew Lloyd Webber and Tim Rice had just had two big successes with Joseph and Jesus Christ Superstar, and I was the golden boy of the West End at that point. So somebody had the bright idea of bringing the three of us together to adapt the stories of PG Wodehouse.’</p>
        {% if paywall.show %}
        
            <figure class="element element-image img--landscape element--thumbnail" data-component="image" data-media-id="c85a9425fb195de451bc0b8548434034a2d4263f" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e800e67e9fc5289bbf7fba4564762613" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e0982223d306bd1de6a90f073c8308d3 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b1753f5a0c3c5a28ba651794940e747e 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b27af4c0f700ee5c273c98ed14257d89 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7d2469b8a97e2ddd6bac419c1bee29ca 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="1" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f2d380f36b4e7dc8ef3ec0192cb5907e"/>
</picture>
</div>
<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Composite: GW Composite
</figcaption>
</figure>
        
            <p>‘My housemate played waiter in exchange for a cut of the food and an attempt to score a date with her housemate.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="4b3f214b056a1a8b317ba14c99e2a1dd191bff12" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e980e5c00c7f5f5cff083404a95037b7" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="368" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=932dcb21b32eba3858a8d53345bcc35f 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3acbb35679c86e5465a1060c51d1079f 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=61fe90f183c3cc45a5021059b199c9bd 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=127c23ce7fa5e96e5881a10fb05136b0 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="2" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ec75c829dfa26ad7c1e5c72e08b840fa"/>
</picture>
</div>
</figure>
        
            <p>‘Everything about the day was special. First, my dad drove us to the match; no getting the tube for this game. The brown Morris Marina was full of sweets and we arrived a mile or so away from the stadium in style. FA Cup finals were staged in searing heat back then and this was no exception. However, in what was an ominous signal for the result that followed, the Chewits melted in the car.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="63a077d54e19227607ac87c2dd26aa255aba2c3a" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=23eb1a931fad3df58049e7ba68e890df" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=40b33678e3288dd8eeb2dc15b2bf443a 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a0059391f9441eb7c9e9d81b80bc6e0f 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3824d9b38632d703c1f59c5959b093a9 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c885fcd6b7c31d56161cffb101a0f49a 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="3" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7f899928619d9cc24422ba363702a2ee"/>
</picture>
</div>
</figure>
        
            <p>‘On my way back to the kitchen I find the tortoise lying on his back in a puddle of his own urine. He cranes his neck and fixes me with a look that says: please don’t write about this. “What happened?” I say, turning him over. Evidently he took a shortcut over brick edging and got unlucky.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="c79433a7efe562e255e1fd5c923fbf170640099c" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=36ccf899f7a5b006083ebdce2a48c33e" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="389" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=490db4d70cd234bec14b01b7e09668f1 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=78ca82fce248ead2a533b2391bee4767 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=debd9a52288976867bc3951038e731be 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8b048dfe85c1418841eb1e7a51fdfc2b 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="4" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a586c8168a202a31863bcbbaa120fdc1"/>
</picture>
</div>
</figure>
        
            <p>‘One review said, “You know where he lives, now go and kill him.” I was reading it in my house at the time. I went to the window, pulled the curtains to one side, checked the street and went back to picking my nose.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="d10a8de4a8f4e769ff316bb36fcd7675a0f892b2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b897a4c09673a8d8907b7a3acbffce79" itemprop="url"/>
<meta content="406" itemprop="width"/>
<meta content="381" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9a14adce49e188e0011ba8e34bc7b4a1 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f9def4a8906f5cd74de7d3520e828f6b 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=388597f36e6c8431f0a44c69380839db 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=120f41195a69da92f7dff29fa65a91c9 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="5" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6c15b264aa05202aa80e9bcb37385170"/>
</picture>
</div>
</figure>
        
            <p>‘Maybe those relationships would have been different had they not been all over the papers, but no matter what happened, the press shouldn’t have been hacking my phone or having private detectives follow me. I turned into a mistrusting, quieter, reticent person.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail" data-component="image" data-media-id="c85a9425fb195de451bc0b8548434034a2d4263f" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e800e67e9fc5289bbf7fba4564762613" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=e0982223d306bd1de6a90f073c8308d3 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b1753f5a0c3c5a28ba651794940e747e 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=b27af4c0f700ee5c273c98ed14257d89 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7d2469b8a97e2ddd6bac419c1bee29ca 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="1" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c85a9425fb195de451bc0b8548434034a2d4263f/0_0_405_367/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f2d380f36b4e7dc8ef3ec0192cb5907e"/>
</picture>
</div>
<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Composite: GW Composite
</figcaption>
</figure>
        
            <p>‘For Perroncel, a 33-year-old single mother who had broken no laws, the events of early 2010 would be a cruel tutelage in the way football and society treats women: the sex‑shaming, the humiliation, the public guillotine. The way they are regarded as male property, to be held and exchanged without agency. The way they are framed in terms of the male gaze, a framing that is then used against them.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="4b3f214b056a1a8b317ba14c99e2a1dd191bff12" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e980e5c00c7f5f5cff083404a95037b7" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="368" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=932dcb21b32eba3858a8d53345bcc35f 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3acbb35679c86e5465a1060c51d1079f 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=61fe90f183c3cc45a5021059b199c9bd 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=127c23ce7fa5e96e5881a10fb05136b0 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="2" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/4b3f214b056a1a8b317ba14c99e2a1dd191bff12/0_0_405_368/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ec75c829dfa26ad7c1e5c72e08b840fa"/>
</picture>
</div>
</figure>
        
            <p>‘The rest of my white liberal friends at university were having none of the police’s public statements about changing and they certainly didn’t share my vision of hope about the public drive towards diversity in the force. They repeatedly warned me about racism and homophobia still being rife. But I didn’t let any of my friends shake my resolve. I knew what I wanted to do with the rest of my life.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="63a077d54e19227607ac87c2dd26aa255aba2c3a" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=23eb1a931fad3df58049e7ba68e890df" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="367" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=40b33678e3288dd8eeb2dc15b2bf443a 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a0059391f9441eb7c9e9d81b80bc6e0f 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3824d9b38632d703c1f59c5959b093a9 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c885fcd6b7c31d56161cffb101a0f49a 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="3" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/63a077d54e19227607ac87c2dd26aa255aba2c3a/0_0_405_367/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7f899928619d9cc24422ba363702a2ee"/>
</picture>
</div>
</figure>
        
            <p>‘Sellers’s former wife Britt Ekland has opened up about their troubled marriage, describing Sellers – who suffered from serious ill health as well as alcohol and cocaine dependency – as deeply controlling and mentally unstable, but unable to receive the medical treatment that he would have got today, partly because he was so valuable to the studios.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="c79433a7efe562e255e1fd5c923fbf170640099c" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=36ccf899f7a5b006083ebdce2a48c33e" itemprop="url"/>
<meta content="405" itemprop="width"/>
<meta content="389" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=490db4d70cd234bec14b01b7e09668f1 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=78ca82fce248ead2a533b2391bee4767 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=debd9a52288976867bc3951038e731be 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8b048dfe85c1418841eb1e7a51fdfc2b 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="4" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/c79433a7efe562e255e1fd5c923fbf170640099c/0_0_405_389/master/405..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a586c8168a202a31863bcbbaa120fdc1"/>
</picture>
</div>
</figure>
        
            <p>‘Mandela’s defiant speech from the dock was widely reported and made him a household name throughout the world. Less widely reported was that Mandela did not act alone and that of the eight defendants who were convicted and sentenced to life without parole one was white. They all approved his speech, knowing that it made it more likely they would hang.’</p>
        
            <figure class="element element-image img--landscape element--thumbnail fig--no-caption" data-component="image" data-media-id="d10a8de4a8f4e769ff316bb36fcd7675a0f892b2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b897a4c09673a8d8907b7a3acbffce79" itemprop="url"/>
<meta content="406" itemprop="width"/>
<meta content="381" itemprop="height"/>
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="140px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=140&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=9a14adce49e188e0011ba8e34bc7b4a1 280w"/>
<source media="(min-width: 740px)" sizes="140px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=140&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f9def4a8906f5cd74de7d3520e828f6b 140w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="120px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=120&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=388597f36e6c8431f0a44c69380839db 240w"/>
<source media="(min-width: 0px)" sizes="120px" srcset="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=120&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=120f41195a69da92f7dff29fa65a91c9 120w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="5" class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/d10a8de4a8f4e769ff316bb36fcd7675a0f892b2/0_0_406_381/master/406..png?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6c15b264aa05202aa80e9bcb37385170"/>
</picture>
</div>
</figure>
        
            <p>‘Many viewers didn’t get beyond the divisive season-one finale and more still left after the departure of Damian Lewis when Carrie’s lover/nemesis Sgt Nicholas Brody died at the end of season three. More fool them. They missed the show’s transformation into a fortune teller, eerily predicting contemporary news.’</p>
        
            <p>Every day we measure not only how many people click on individual stories but also how long they spend reading them. This list is created by comparing the attention time to the length of each article, to come up with a ranking for the stories people read most deeply.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
