{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Slovenia's PM Janša channels Orbán with attacks on media and migrants</h1>
        <h2>Janez Janša has criticised journalists and seems to want to use the coronavirus crisis for political advantage</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">S</span></span>ince taking office in March, Slovenia’s rightwing prime minister, Janez Janša, has been busy on Twitter. He has called critical journalists liars and “presstitutes”, and said the director general of the World Health Organization (WHO) should resign. On Wednesday, he retweeted an article suggesting press freedom advocates who had raised alarm about his actions had been using cocaine.</p>
        <p>Janša, who has a Trump-like tendency to fire off inflammatory tweets and is a close ally of the far-right Hungarian prime minister, Viktor Orbán, took office after the country’s previous prime minister, Marjan Šarec, resigned, hoping for early elections. Janša was able to form a coalition with his Slovenian Democratic party and three other parties.</p>
        <p>In its first weeks, the government’s attention has been largely focused on the response to coronavirus, and Slovenia has so far managed to keep numbers of infections and deaths low. However, critics fear Janša, <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2020/mar/30/hungary-jail-for-coronavirus-misinformation-viktor-orban">like his mentor Orbán</a>, wants to use the coronavirus crisis for political advantage.</p>
        <p>He will also be able to act as an additional voice of support inside the EU for Orbán and the Polish government, who want to ensure the union does not lecture member states on democracy and rule of law. <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/slovenia">Slovenia</a> will hold the rotating EU presidency next year.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>The 61-year-old Janša has made a very similar <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2018/apr/06/hungary-viktor-orban-election-migration">political journey to Orbán</a>, starting out three decades ago as a pro-democracy fighter and gradually shifting further right over the years, picking up anti-migration and climate sceptic rhetoric along the way. Janša’s political campaigns have used xenophobia, Islamophobia and hate speech, said Boris Vezjak, a professor at the University of Maribor in Slovenia.</p>
        {% if paywall.show %}
        
            <p>Like Orbán, he has been accused of backing cronyism and corruption. In 2013 he was sentenced to two years in prison for bribery, but his conviction was annulled by the constitutional court because of a lack of direct evidence and he was released after six months in jail. He denied all accusations.</p>
        
            <p>Janša, who has had two brief previous spells as prime minister, is backed by a television network funded by Hungarian figures close to Orbán, and the network’s former director Aleš Hojs has been made Janša’s new interior minister.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="53191692c5d4e3405bf070c5af54878749a398ab" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9933768a6c1acfe1ddb26dc78bfe4870" itemprop="url"/>
<meta content="5502" itemprop="width"/>
<meta content="3301" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=7b7f0796496c9102fa36187f6d72e094 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=e1ded059c1ae9626716e7f12c21ca86d 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=223613ab2bd905da38f97088ed7606f4 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d579235b07c8145105c59f8b04782b5c 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=de79655770896616550ff00a4d4ed8c2 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b5947daa348fc91429d02f575fe09e4f 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="A protest in Ljubljana against Janez Janša and his government last month over alleged corruption." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/53191692c5d4e3405bf070c5af54878749a398ab/0_152_5502_3301/master/5502.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=dcbf7b54edbd0010d21900a475897aa3"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 A protest in Ljubljana against Janez Janša and his government last month over alleged corruption. Photograph: Ziga Zivulovic Jr./EPA
</figcaption>
</figure>
        
            <p>“Like Orbán, he is good at distracting from the abuse of resources with anti-Brussels and anti-migrant rhetoric,” said Florian Bieber, a regional expert at the University of Graz. “He is also very thin-skinned.”</p>
        
            <p>Janša has picked up on some of Trump’s talking points around the coronavirus, including <a class="u-underline" data-link-name="in body link" href="https://twitter.com/JJansaSDS/status/1247978340667006981?s=08">calling for </a>the resignation of the WHO director general, Tedros Adhanom Ghebreyesus. Like Trump, he has also made vitriolic attacks on critical journalists, accusing public television of “spreading lies”. When in opposition, in 2016, he <a class="u-underline" data-link-name="in body link" href="https://twitter.com/JJansaSDS/status/711986552113647620">accused</a> two female journalists of being “washed-up prostitutes”.</p>
        
            <p>Since taking office in March, Janša has attacked the investigative journalist Blaž Zgaga, who criticised some government measures taken over coronavirus as unlawful. An official government account retweeted a claim that the journalist was an “escaped psychiatric patient” and said he was suffering from “Covid-Marx/Lenin”.</p>
        
            <p>Zgaga said the attacks had led to a wave of hate mail and threats. “I have been under police protection before, I have been smeared before, but I have never experienced anything like this,” he said.</p>
        
            <p>A consortium of press freedom associations, including Reporters without Borders, wrote an an <a class="u-underline" data-link-name="in body link" href="https://ifex.org/european-commission-must-guarantee-the-safety-of-slovenian-journalist-blaz-zgaga/">open letter</a> to Věra Jourová, the EU commission’s vice-president for values and transparency, calling on her to take up the matter with the Slovenian government. It chronicled the series of smears on Zgaga and said “we fear for his life after supporters of the Slovenian government declared him an enemy of the state”.</p>
        
            <p>“No hate, no threats, no personal attacks. Contact taken with Slovenia to discuss situation,” Jourová <a class="u-underline" data-link-name="in body link" href="https://twitter.com/verajourova/status/1253608153868046336?s=11">wrote on Twitter</a> last week. Janša does not appear to be taking the rebuke seriously. “No single figure in Slovenian history has done more to discredit the journo community than this liar,” he <a class="u-underline" data-link-name="in body link" href="https://twitter.com/JJansaSDS/status/1253355298535899143?s=08">wrote</a> in response.</p>
        
            <p>Rights activists also say there are worrying signals about the new government’s post-coronavirus agenda. Last Tuesday, parliament passed a law that removes the rights of most NGOs to take part in environmental assessments of infrastructure projects. Billed as a way to help kickstart the economy post-coronavirus, NGOs in Ljubljana, the capital, say it will allow the government to plough ahead on controversial construction projects without taking environmental concerns into consideration.</p>
        
            <p>A restraining factor on Janša is likely to be that he has to govern in coalition, and with an electorate that has traditionally veered centre left, this will make it harder to attempt to redraw the county’s political scene.</p>
        
            <p>“Janša is ready to go as far as Orbán, no doubt about it, but luckily the opposition is still strong and maybe also the coalition will not be willing to support him until the end,” said Vezjak.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
