{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Destitute migrant workers in India forced to pay train fares home</h1>
        <h2>Labourers’ plight contrasts with affluent Indians flown home from abroad in coronavirus crisis

Coronavirus – latest updates
See all our coronavirus coverage</h2>
        <p>Migrant labourers in Indian cities whose incomes have plummeted as a result of anti-coronavirus lockdown measures have been told that they will have to pay to board special trains taking them back to their homes in the countryside.</p>
        <p>The decision has prompted derision in <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/world/india">India</a>, where most labourers live off what they earn in a day and have been surviving on state handouts.</p>
        <p>“At first I thought it was a joke,” said Badal Raj, a carpenter from Patna who lives in a shelter in Delhi. “We have to pay? My last few rupees went on recharging my phone so I could speak to my children. Where am I going to get the money for the fare?”</p>
        <figure class="element element-interactive interactive" data-alt="Graph" data-canonical-url="https://interactive.guim.co.uk/2020-embeds/2020/03/country/embed/main.html?country=India" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js">
<a class="u-underline" data-link-name="in body link" href="https://interactive.guim.co.uk/2020-embeds/2020/03/country/embed/main.html?country=India">Graph</a>
</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Since the lockdown was imposed on 25 March, an estimated 10 million labourers have been trapped in the company of strangers in cities across India, with no work or income and a long way from the comfort of home and family.</p>
        {% if paywall.show %}
        
            <p>With public transport shut down, many labourers walked hundreds of miles to their homes in a massive reverse migration. Those who remained have been sequestered in government shelters.</p>
        
            <p>As time has gone by and the lockdown, which was meant to end on Monday, has been extended a third time, they have run out of money to recharge their phones, snapping their last tie to their families. Meanwhile the government has arranged special flights to bring home affluent Indians who were stranded abroad.</p>
        
            <p>Opposition politicians reacted with incredulity to the train fare. The National Conference leader, Omar Abdullah, tweeted: “If you are stuck abroad … the government will fly you back for free, but if you are a migrant worker stranded in another state, be prepared to cough up the money for the cost of travel.”</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="630a8d51e0914fc72b33425288fb57a84364e044" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4fea737d99f81106a056830cb7b11206" itemprop="url"/>
<meta content="5760" itemprop="width"/>
<meta content="3456" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=6e0e96278f41cbdb5eb917527aa8787c 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=557e11dc8a77590eee0d6fb9661630f0 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=3ad665225076dbdd2b676333c919410c 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=45818329f56431013f0ad147cedc39b6 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=ffe2bdc91bdbcb90930928eb0dcef14d 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f414cbb9795009b153b0ddf04545273d 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Migrant workers queue for medical examinations outside a hospital in Srinagar." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/630a8d51e0914fc72b33425288fb57a84364e044/0_249_5760_3456/master/5760.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1517ee4e4bb452357a3cba99ce19fb45"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Migrant workers queue for medical examinations outside a hospital in Srinagar. Photograph: Mukhtar Khan/AP
</figcaption>
</figure>
        
            <p>The Samajwadi party leader, Akhilesh Yadav, called the decision “highly shameful”.</p>
        
            <p>The Congress party president, Sonia Gandhi, announced that the party had decided it would bear the cost of the travel as a “humble contribution” towards the workers. “Our workers and labourers form the backbone of our economy. Their hard work and sacrifice are the foundation of our nation,” said Gandhi.</p>
        
            <p>She pointed out that the Narendra Modi government had spent 1bn rupees (£10.6m) on food and transport for those attending just one event, <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/2020/feb/24/namaste-donald-trump-india-welcomes-us-president-narendra-modi-rally">Namaste Trump,</a> to welcome the US president, Donald Trump, in Gujarat on 24 February.</p>
        
            <p>In another difficulty for migrant workers, reports suggest they will first have to obtain a medical certificate saying they have no flu-like symptoms. Initial indications had suggested that the various state governments would organise screening of all workers before they boarded the trains.</p>
        
            <p>But now labourers are desperately seeking certificates at a time when local clinics and doctors are not easily available.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="970821f41b8932f970778e1898d067daa86130bb" id="img-3" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6cbaddc99e40db665454e836d7736df2" itemprop="url"/>
<meta content="3219" itemprop="width"/>
<meta content="1933" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-3">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=776c44f236d25eba6325167fe98acd33 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=cee4bcfcb7c0478163afd5624b39e44f 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c16e28ef9bb9672da71764e84e58e1b7 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8cd9d8f5eb16c790cde0bd2fa96de606 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=a32ea7588ee416441833425598dedee5 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d7be4f7a572579cac47f7dedc65addcd 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Migrant workers near Hyderabad try to return to their villages, perhaps hundreds of miles away." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/970821f41b8932f970778e1898d067daa86130bb/0_183_3219_1933/master/3219.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d6d503e44e42680122d199f0c417044e"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Migrant workers near Hyderabad try to return to their villages, perhaps hundreds of miles away. Photograph: Mahesh Kumar A/AP
</figcaption>
</figure>
        
            <p>It is not known how long it will take for migrant workers to get home. The social activist Harsh Mander alleged that the slow pace of returns – five weeks since the lockdown was imposed – was deliberate.</p>
        
            <p>“The government is under pressure from industry who worry that there won’t be enough labour in the cities when economic activity restarts. That’s why it is all taking so long when, in fact, the railways could easily organise hundreds of trains,” he said.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
