{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>India's biggest mobile carrier left COVID-19 self-test data unsecured</h1>
        <h2>The data included GPS co-ordinates and symptom lists.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        {% if paywall.show %}
        
            <img alt="India JIO mobile" class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F99f2dad0-8e02-11ea-b31d-d9047d229932&amp;client=amp-blogside-v2&amp;signature=e3a6add326b70995f370e0cf54f01718d22e296c"/>
        
            <p>Jio, the <a href="https://www.engadget.com/facebook-5-7-billion-jio-110527488.html">Indian mobile giant Facebook just bought a 9.9 percent stake in</a>, may be at the center of its own privacy snafu. According to <a href="https://techcrunch.com/2020/05/02/jio-coronavirus-security-lapse/" target="_blank"><em>TechCrunch</em></a>, the company didn’t secure a database connected to a <a href="https://www.engadget.com/india-requires-workers-to-use-covid-19-app-042811484.html">COVID-19</a> symptom checker it launched in March. Security researcher Anurag Sen found this database, and alerted our sister publication, who then passed on the information to Jio. </p>
        
            <p>The database contained logs running from April 17th through to when Jio was informed of the breach and took the information down. It reportedly contained self-test data, including people’s family relationships, age, gender and symptoms that could be linked to their wider online activity. More troubling is that the records, in some cases, included location data that could be used to find their home addresses. </p>
        
            <p>After being notified, the database was taken down, and a Jio spokesperson told <em>TechCrunch</em> that the logging server was only to monitor the website’s performance. The spokesperson added that the company had taken “immediate action” in taking the website down. </p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
