{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>'Swastikas and nooses': governor slams 'racism' of Michigan lockdown protest</h1>
        <h2>Gretchen Whitmer says heavily armed men and Confederate flags at state capitol ‘depicted some of the worst racism and awful parts of our history’

Coronavirus – latest US updates
Coronavirus – latest global updates
See all our coronavirus coverage</h2>
        <p>Governor Gretchen Whitmer of <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/us-news/michigan">Michigan</a> issued a rebuke of the armed protesters who gathered inside the state capitol last week in defiance of statewide lockdown orders, saying the demonstrators embodied some of the “worst racism” of the nation’s history.</p>
        <p>“Some of the outrageousness of what happened at our capitol depicted some of the worst racism and awful parts of our history in this country,” Whitmer said during a Sunday interview on CNN’s State of the Union.</p>
        <p>Last week Donald Trump had said of the protesters: “These are very good people.”</p>
        <p>Hundreds of protesters, many not wearing protective face masks and some armed legally with “long guns”, gathered inside the statehouse in Lansing on Thursday as lawmakers debated the Democratic governor’s request to extend her emergency powers to combat the coronavirus pandemic. The tightly packed crowd attempted to enter the floor of the legislative chamber and were held back by a line of state police and capitol staff, according to video footage posted by local journalists.</p>
        <figure class="element element-tweet" data-canonical-url="https://twitter.com/CNNSotu/status/1256942792217178112">
<blockquote class="js-tweet tweet">


<p class="tweet-body" dir="ltr" lang="en">“We have to listen to the epidemiologist and health experts and displays like the one we saw at our capitol is not representative of who we are.” Michigan Gov. Gretchen Whitmer reacts to protesters descending on her state’s capitol, including some who were armed. <a class="u-underline" data-link-name="in body link" href="https://twitter.com/hashtag/CNNSOTU?src=hash&amp;ref_src=twsrc%5Etfw">#CNNSOTU</a> <a class="u-underline" data-link-name="in body link" href="https://t.co/lfPgGnpkGC">pic.twitter.com/lfPgGnpkGC</a></p>
<a href="https://twitter.com/CNNSotu/status/1256942792217178112?ref_src=twsrc%5Etfw" style="display: none;"></a>
<a class="tweet-date" data-link-name="in body link" href="https://twitter.com/CNNSotu/status/1256942792217178112?ref_src=twsrc%5Etfw">May 3, 2020</a>
</blockquote>
</figure>
        {% if paywall.show %}
        
            <p>Whitmer highlighted that the number of protesters was relatively small but that the imagery some of them used was a disturbing reminder of ugly elements of America’s past. “We know that people are not all happy about having to take the stay-home posture,” Whitmer said on Sunday, “and you know what, I’m not either. But we have to listen to the public health experts and displays like the one we saw in our state capitol are not representative of who we are in Michigan.</p>
        
            <p>“There were swastikas and Confederate flags and nooses and people with assault rifles. That’s a small group of people when you think that this is a state of almost 10 million people, the vast majority of whom are doing the right thing.”</p>
        
            <figure class="element element-atom element-atom--media" data-atom-id="517acb50-d7a2-4c3d-87b3-6c6adde69b2f" data-atom-type="media">
<div class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos" data-channel-id="UCIRYBXDze5krPDzAEOxFGVA" data-media-atom-id="517acb50-d7a2-4c3d-87b3-6c6adde69b2f" style>
<div class="youtube-media-atom__iframe" data-asset-id="zXXFf0Q2bcU" id="youtube-zXXFf0Q2bcU" style></div>
<div class="vjs-big-play-button youtube-media-atom__overlay" style>
<div class="youtube-media-atom__play-button vjs-control-text" style>
Play Video

</div>
<div class="youtube-media-atom__bottom-bar" style>
<div class="youtube-media-atom__bottom-bar__duration" style>
1:01
</div>
</div>
</div>
</div>
<figcaption class="caption caption--video caption caption--img" itemprop="description">
 Armed protesters enter Michigan's state capitol demanding end to coronavirus lockdown – video
</figcaption>
</figure>
        
            <p>Displaying the Confederate flag, or other symbols of the slave-owning south during the American civil war, is usually seen as racist. While some claim they are <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2018/aug/06/pride-and-prejudice-the-americans-who-fly-the-confederate-flag">celebrating southern identity</a>, it is widely seen as a racist symbol deeply offensive to black Americans. There is also an ongoing campaign to <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/us-news/2019/nov/20/confederate-statue-removed-north-carolina-courthouse">remove Confederate war statues</a> from public display or rename streets and buildings which commemorate Confederate generals or politicians.</p>
        
            <p>Last week, the Democratic congresswoman Rashida Tlaib, who represents Michigan’s 13th congressional district, condemned the demonstrations at the state Capitol. “Black people get executed by police for just existing, while white people dressed like militia members carrying assault weapons are allowed to threaten State Legislators and staff,” Tlaib wrote in a tweet on Thursday.<br/></p>
        
            <figure class="element element-tweet" data-canonical-url="https://twitter.com/RashidaTlaib/status/1255937342017241089">
<blockquote class="js-tweet tweet">


<p class="tweet-body" dir="ltr" lang="en">Black people get executed by police for just existing, while white people dressed like militia members carrying assault weapons are allowed to threaten State Legislators and staff. <br/><br/>📣Our gun laws are so broken. <a class="u-underline" data-link-name="in body link" href="https://t.co/w6Vw97kTV9">https://t.co/w6Vw97kTV9</a></p>
<a href="https://twitter.com/RashidaTlaib/status/1255937342017241089?ref_src=twsrc%5Etfw" style="display: none;"></a>
<a class="tweet-date" data-link-name="in body link" href="https://twitter.com/RashidaTlaib/status/1255937342017241089?ref_src=twsrc%5Etfw">April 30, 2020</a>
</blockquote>
</figure>
        
            <p>The protests continued to draw national attention on Friday when Trump once again threw his support behind the rightwing movement, saying Whitmer should “make a deal” with the demonstrators.</p>
        
            <p>“The governor of Michigan should give a little, and put out the fire,” the president wrote on Twitter. “These are very good people, but they are angry. They want their lives back again, safely! See them, talk to them, make a deal.”</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="5929e1e30da36454aa6bc2744e3feb836afe755e" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=8d0cf252765b65a8cf1c99dbf18fa5e5" itemprop="url"/>
<meta content="4000" itemprop="width"/>
<meta content="2400" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c4b2f17ee59aa337c3f38f2d15570708 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9d05e3f3bc660e72addde0f23eb73085 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=4e2eaf24011bb968d92638f58d8bafee 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3b908f87cc4f2db21e5cc8c73eff6e29 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=5ff94b07f22028d729c50546b7a6d71a 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=45502b95e4eb4e6f3413de808f8970dd 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Demonstrators display a Confederate flag at the anti-lockdown protest in Lansing." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/5929e1e30da36454aa6bc2744e3feb836afe755e/0_133_4000_2400/master/4000.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=87e2449e7fab07c8b1e6c62e68d0cce7"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Demonstrators display a Confederate flag at the anti-lockdown protest in Lansing. Photograph: Jeff Kowalsky/AFP via Getty Images
</figcaption>
</figure>
        
            <p>When asked if it was appropriate for the president to express support for protests in which “long guns” were carried on Friday afternoon, the White House press secretary, Kayleigh McEnany, said the president supported the right to protest within the law and while following federal social distancing guidelines.</p>
        
            <p>“The president says that we must protest lawfully and act within the bounds of the law,” said McEnany.</p>
        
            <p>The staggering <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/world/ng-interactive/2020/apr/30/coronavirus-map-of-the-us-latest-cases-state-by-state">effects of the pandemic</a> among Whitmer’s electorate in terms of both illness and unemployment have placed a nationwide focus on Michigan, which is certain to be a key battleground state in the upcoming presidential election. The state had long been regarded as a Democratic stronghold but went for Trump four years ago, helping to spring his surprise electoral victory.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
