{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Do you know your Rihanna gowns and Lady Gaga outfit changes? Find out with our Met Gala quiz</h1>
        <h2>The gala, due to take place this week, has been postponed because of coronavirus. But fear not! You can get same thrill and joy by admiring the artistry and grandeur of these questions</h2>
        {% if paywall.show %}
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
