{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>With more testing, White House prepares for outbreaks this summer ‘and beyond’</h1>
        <h2>CVS expects to have 1,000 testing locations that can conduct 1.5 million tests per month up and running by the end of May.</h2>
        <figure class="art">
<div class="fig-graphic">
<picture>
<source media="(min-width: 1921px)" srcset="https://static.politico.com/dims4/default/54d93bc/2147483647/resize/2000x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<source media="(min-width: 1681px)" srcset="https://static.politico.com/dims4/default/e183b6a/2147483647/resize/1920x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<source media="(min-width: 1012px)" srcset="https://static.politico.com/dims4/default/ccdd047/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<source media="(min-width: 667px)" srcset="https://static.politico.com/dims4/default/46029d7/2147483647/resize/971x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<source media="(min-width: 485px)" srcset="https://static.politico.com/dims4/default/e671c21/2147483647/resize/646x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<source media="(max-width: 484px)" srcset="https://static.politico.com/dims4/default/d27bc61/2147483647/resize/463x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg"/>
<img alt="CVS store location" src="https://static.politico.com/dims4/default/5a3a08e/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F80%2F7c%2F93c8ea1c43e2a00e3ae43c7fb1d5%2F200427-cvs-gty-773.jpg" title="CVS store location"/></picture>
</div>
</figure>
        <p class="story-text__paragraph">The Trump administration will prioritize coronavirus testing for more Americans as it braces for possible outbreaks “throughout the summer and beyond."</p>
        <p class="story-text__paragraph">Americans identified through contact tracing and those with symptoms like chills and muscle pains should be prioritized for testing. And the <a href="http://www.cdc.gov/coronavirus/2019-ncov/hcp/clinical-criteria.html" target="_blank">new criteria</a> from the Centers for Disease Control and Prevention also suggests trying to track asymptomatic individuals through surveillance systems at places like nursing homes and health clinics.</p>
        <p class="story-text__paragraph">The latest move comes after more than 55,000 in the U.S. have died from the coronavirus despite social distancing measures being imposed for weeks in much of the country. Testing is slowly ramping up nationwide, but experts say the number of people being tested per week will have to at least double before the country can begin reopening safely.</p>
        <p class="story-text__paragraph">The new guidelines were released alongside a new White House testing blueprint that outlines steps the U.S. will need to take to safely reopen. The document notes that states will have to monitor for potential outbreaks “throughout the summer and beyond” and calls attention to the threat that coronavirus outbreaks could coincide with flu season in the fall.</p>
        <p class="story-text__paragraph">Senate HELP ranking member Patty Murray (D-Wash.) slammed the new document as “nothing new” and an attempt “to shirk obviously federal responsibilities by assigning them solely to states instead."</p>
        <p class="story-text__paragraph">“It doesn’t set specific, numeric goals, offer a timeframe, identify ways to fix our broken supply chain, or offer any details whatsoever on expanding lab capacity or activating needed manufacturing capacity,” Murray said in a news release Monday evening.</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">But President Donald Trump touted the testing blueprint as a comprehensive path forward.</p>
        
            <p class="story-text__paragraph">"Our blueprint describes how states should unlock their full capacity, expand the number of testing platforms, establish monitoring systems to detect local outbreaks and conduct contact tracing," Trump told reporters Monday.</p>
        
            <p class="story-text__paragraph">Several national retailers, including CVS Health, Kroger Health and Walmart, announced they would significantly expand coronavirus testing efforts in May.</p>
        
            <p class="story-text__paragraph">The United States has run about 5.5 million coronavirus tests <a href="https://www.politico.com/news/2020/04/22/coronavirus-testing-problem-america-201372" target="_blank">after a slow start</a> caused by the botched rollout of CDC's diagnostic test. But the number of tests analyzed has risen dramatically in recent days: More than 1.5 million samples have been processed in the past week alone, according to The COVID Tracking Project.</p>
        
            <p class="story-text__paragraph">Public health experts say increased testing is needed to get a clear picture of the pandemic's scope and to track infected patients.</p>
        
            <p class="story-text__paragraph">CVS expects to have 1,000 testing locations that can conduct 1.5 million tests per month up and running by the end of May, if enough supplies and lab capacity are available. Testing will be scheduled online and occur in parking lots or in drive-through windows, not in-store.</p>
        
            <p class="story-text__paragraph">Walmart plans to have 100 testing sites that can do 20,000 tests per week up and running by the end of May. The company says it plans to focus on underserved areas of the country and coronavirus hot spots. And Kroger anticipates having 50 sites running that can perform 100,000 tests by the end of May.</p>
        
            <p class="story-text__paragraph">An HHS spokesperson said the private-public partnership with retail pharmacy chains will expand access to self-administered coronavirus tests.</p>
        
            <p class="story-text__paragraph">“These sites will provide Americans with faster, less invasive and more convenient testing, protect healthcare personnel by eliminating direct-contact with symptomatic individuals and expand rapidly to areas that are under-tested and socially vulnerable,” the spokesperson said.</p>
        
            <p class="story-text__paragraph">The surveillance plan outlined in the blueprint relies in large part on three illness tracking systems that can tip off policymakers about an emerging coronavirus hot spot: the flu-tracking surveillance network, the CDC's national system that tracks emergency department patients' symptoms and electronic reporting from labs and doctors.</p>
        
            <p class="story-text__paragraph">Those systems aren't foolproof, however. They rely on proactive reporting from doctors, emergency rooms, large events and schools, said Doug Fridsma, the former chief scientist at the Office of the National Coordinator for Health IT.</p>
        
            <p class="story-text__paragraph">That means the data tends to lag an actual outbreak, and may not be a strong "early warning signal when people are not going to the ER, large events, schools or seeing their health care providers," he said.</p>
        
            <p class="story-text__paragraph">Fridsma wants to see officials monitor leading indicators, like apps feeding self-reported symptoms or social media, "rather than waiting until people engage with the health care system. By then, it’s too late."</p>
        
            <p class="story-text__paragraph">These systems may also lack critical data, noted Arien Malec, an executive with health IT firm Change Healthcare. For example, electronic case reporting data lacks addresses and other personal information needed for contact tracing.</p>
        
            <p class="story-text__paragraph"><i>Nancy Cook contributed to this report.</i><br/></p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
