{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Trump promotes theory suggesting sunlight can kill coronavirus</h1>
        <h2>Deborah Birx, the White House coronavirus task force coordinator, said she had not seen research to support the theory that heat could kill viruses.</h2>
        <p class="story-text__paragraph">President Donald Trump on Thursday touted new research from his Department of Homeland Security suggesting sunlight, heat and humidity could kill the coronavirus, even though his top health officials have not embraced the findings or done any relevant studies on sunlight as a treatment.</p>
        <p class="story-text__paragraph">Trump, who has previously floated the possibility that the virus could be seasonal and repeatedly embraced the promise of unproven drugs from the White House podium, called the research “pretty powerful” and suggested light could be used as a treatment.</p>
        <p class="story-text__paragraph">"The whole concept of the light, the way it kills it in one minute, that’s pretty powerful," Trump said during a White House press briefing. He raised the possibility of hitting a human body "with a tremendous — whether it's ultraviolet or just very powerful light."</p>
        {% if paywall.show %}
        
            <p class="story-text__paragraph">Deborah Birx, the White House coronavirus task force coordinator, said she had not seen research to support the theory that heat could kill viruses.</p>
        
            <p class="story-text__paragraph">“I mean, certainly, fever is a good thing when you have a fever because it helps your body respond. But I have not seen heat for viruses,” she said during the briefing.</p>
        
            <p class="story-text__paragraph">Bill Bryan, the acting undersecretary of Science and Technology at DHS, at the evening briefing described the research on how sunlight, heat, and humidity affects the virus on various surfaces and said they were the coronavirus's weak spots. But he said the study hadn't looked at sunlight as a treatment, that the work hadn't been peer-reviewed and that the findings shouldn't take away from other guidance released by the White House and CDC, including social distancing and mitigation.</p>
        
            <p class="story-text__paragraph">“It would be irresponsible for us to say that we feel the summer will totally kill the virus,” Bryan said. “This is just another tool in our tool belt. Another weapon in the fight that we can add to it and in the summer, we know that summer-like conditions are going to create an environment where the transmission can be decreased and that's an opportunity for us to get ahead.”</p>
        
            <p class="story-text__paragraph">Trump however mused about ways that light could attack the virus. He said to Bryan, "I think you said that hasn’t been checked but you’re going to test it. And then I said supposing you brought the light inside of the body, which you could do either through the skin or in some other way, and I think you said you were going to test that, too. Sounds interesting."</p>
        
            <p class="story-text__paragraph">"Then I see the disinfectant, where it knocks it out in a minute, one minute. Is there a way we can do something like that, by injection inside, or almost a cleaning?"</p>
        
            <p class="story-text__paragraph">Trump, in response to a reporter's question, also said he hadn't backed off from hydroxychloroquine as a treatment. He hasn't spoken of the malaria drug much in the last week or so, and it remains unproven. Some reports have said it can be harmful for some coronavirus patients, particularly if they have certain heart conditions.</p>
        
            <p class="story-text__paragraph">Peter Hotez, a leading vaccine and tropical disease expert at Baylor College of Medicine, tweeted, "Information presented at WH Press briefing should not be considered evidence of virus slowing or seasonality. Just look at what’s happening now in Ecuador." That's one of several warm-weather countries around the globe with a severe or ongoing outbreak.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
