{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Your pictures: share your photos on the theme of ‘symmetry’</h1>
        <h2>Wherever you are in the world, this week we’d like to see your pictures on the theme ‘symmetry’</h2>
        <p {% if not paywall.show %} class="paytext" {% endif %}>The next theme for our weekly photography assignment, published in print in the <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/theobserver/new-review">Observer New Review</a> is ‘symmetry’.</p>
        {% if paywall.show %}
        
            <p>Share your photos of what symmetry means to you – and tell us about your image in the description box.</p>
        
            <p>The closing date is <strong>Wednesday 6 May at 10am</strong>. We’ll publish our favourites in the New Review on<strong> Sunday 10 May.</strong></p>
        
            <p>You can share your ‘symmetry’ pictures by filling out the form below. If you’re having trouble using the form, <a class="u-underline" data-link-name="in body link" href="https://guardiannewsandmedia.formstack.com/forms/onr_symmetry">click here</a>. Read terms of service <a class="u-underline" data-link-name="in body link" href="https://www.theguardian.com/help/terms-of-service">here</a>.</p>
        
            <figure class="element element-embed" data-alt="onr symmetry form">
<iframe class="fenced" srcdoc='&lt;html&gt;&lt;head&gt;&lt;/head&gt;&lt;body&gt;&lt;script type="text/javascript" src="https://guardiannewsandmedia.formstack.com/forms/js.php/onr_symmetry"&gt;&lt;/script&gt;&lt;noscript&gt;&lt;a href="https://guardiannewsandmedia.formstack.com/forms/onr_symmetry" title="Online Form"&gt;Online Form - ONR symmetry&lt;/a&gt;&lt;/noscript&gt;&lt;div style="text-align:right; font-size:x-small;"&gt;&lt;a href="http://www.formstack.com?utm_source=jsembed&amp;utm_medium=product&amp;utm_campaign=product+branding&amp;fa=h,3865484" title="Powered by Formstack"&gt;Powered by Formstack&lt;/a&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;'></iframe>
</figure>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
