{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>My favourite game: Agüero scores Premier League's most dramatic goal</h1>
        <h2>I was at the Etihad Stadium to see Sergio Agüero win Manchester City the title in stoppage time. The feeling of euphoria will never be bettered</h2>
        <p><span class="drop-cap"><span class="drop-cap__inner">I</span></span>t is the moments you never expect that have the greatest impact on your life; whether it’s meeting eyes with your future life partner for the first time, winning the lottery or <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/football/sergio-aguero">Sergio Agüero</a> scoring the most dramatic goal in Premier League history to give the title to your once mediocre club.</p>
        <p>The equation was supposed to be so simple, as everyone bounced to the Etihad in anticipation of witnessing the crowning of <a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/football/manchestercity">Manchester City</a> as Premier League champions for the first time, beating arch-rivals United to top spot in the process. The only requirement for City was to dispatch a relegation-threatened Queens Park Rangers in front of 46,000 vocal home supporters, who were cheering on the most exciting and expensive side in the club’s history.</p>
        <p>What followed was a tumultuous 90 minutes with a crescendo unimaginable to all those in attendance. The party had kicked up a gear when Pablo Zabaleta put City ahead in the 39th minute by whacking the ball through Paddy Kenny’s hands. Having a cult hero score the opener with a rare goal was surely a sign that triumph was in sight. A carefree atmosphere was created in the stands; nothing could go wrong from this point.</p>
        <figure class="element element-image img--landscape element--showcase fig--narrow-caption fig--has-shares" data-component="image" data-media-id="f50a2e36f8bb7e606e68c3d3e49f542387c143f2" id="img-2" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d4cebac1f68122f8c42e7ac0712b56e2" itemprop="url"/>
<meta content="3736" itemprop="width"/>
<meta content="2241" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-2">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="860px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=860&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=aac1b7792d3d9401632f40e7207417bb 1720w"/>
<source media="(min-width: 1300px)" sizes="860px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=860&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3c9aa8f29b994e5a2b9ae3b14871b255 860w"/>
<source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)" sizes="780px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=780&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=47bc106d247a738f4c5096423e88f095 1560w"/>
<source media="(min-width: 1140px)" sizes="780px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=780&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a32d84b82fbf8ff07fd0429fda7e67df 780w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=857a3ec28147aba03075431a1596389c 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1a68926ef8edd5584229842fc7a4d382 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=a6a8a332a5780fd3834691ac78a4d44d 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=6a40f4f3e739312b18c9fa9593c4bb61 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1640d138ad51f077179bc52e963d1531 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=4012c5e3ec97345282b321e953c9b291 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Paddy Kenny fails to stop the shot from Pablo Zabaleta crossing the line for the first City goal." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/f50a2e36f8bb7e606e68c3d3e49f542387c143f2/0_105_3736_2241/master/3736.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=617b4012c5bc9f033050779fcdd9d76c"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Paddy Kenny fails to stop the shot from Pablo Zabaleta crossing the line for the first City goal. Photograph: Tom Jenkins/The Guardian
</figcaption>
</figure>
        <p {% if not paywall.show %} class="paytext" {% endif %}>City, however, have never had much respect for their fans’ health. Joleon Lescott was the first culprit as his attempted headed clearance flicked the ball into the path of Djibril Cissé, who whacked in the equaliser to silence the home supporters. Resilient shouts soon went up to inspire the players as hope remained.</p>
        {% if paywall.show %}
        
            <p><a class="u-underline" data-component="auto-linked-tag" data-link-name="auto-linked-tag" href="https://www.theguardian.com/football/qpr">QPR</a> had packed their side full of City academy graduates including Shaun Wright-Phillips, Nedum Onuoha and the gloriously vicious Joey Barton. It was the aggressive midfielder who lifted the crowd with trademark volatility by elbowing Carlos Tevez in the face, allowing Mike Dean to really enjoy the moment of holding a red card aloft. Job done for City with 10 men to play against for the remaining 35 minutes.</p>
        
            <p>Then, however, the panic and dismay arrived, after Jamie Mackie headed QPR into the lead at the back post. The party had turned into a wake and the only thing that could get things back on track was the introduction of Edin Dzeko and Mario Balotelli.</p>
        
            <p>United were winning at Sunderland, giving them the edge as City camped inside QPR’s half in the hope of finding an opening. Heads were hidden behind hands as hope slipped away when the clock ticked past the 90-minute mark.</p>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="61b58f01afea09229a8816ffaf521553fa2de6e9" id="img-3" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f8ef7feec51c2f067bae93e5c851e367" itemprop="url"/>
<meta content="4256" itemprop="width"/>
<meta content="2832" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-3">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=88540efbb7e78e10efdaa2ddecb87813 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=790c4514384e2ee5628871be986b90c2 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=cc413850e8dc4e692907735488a6e0b5 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ab78acc0bbb2aa29d911257c9709c186 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=a85e18b0d08baf863f4a04225acd60d4 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=bdf543ab9d6676bb99bca413fa36e0b3 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Manchester City fan prays." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/61b58f01afea09229a8816ffaf521553fa2de6e9/0_0_4256_2832/master/4256.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b2acbc7ec10bf1aa55009d394ff02f15"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 The City fans are willing for intervention from either their own players or the divine kind. Photograph: Tom Jenkins/The Guardian
</figcaption>
</figure>
        
            <p>Anger and upset grew that the greatest season in a generation would be remembered for glorious failure. Dzeko heading home an equaliser in the second minute of injury time was highly frustrating because it seemed too little too late. Cheers and fist pumps greeted the Bosnian’s goal, leaving many frustrated that he had not done it 10 minutes earlier.</p>
        
            <figure class="element element-interactive interactive" data-alt="MFG" data-canonical-url="https://interactive.guim.co.uk/embed/from-tool/series/index.html?vertical=Sport&amp;opinion-tint=false&amp;title=My%20Favourite%20Game&amp;description=In%20our%20new%20series%2C%20Guardian%20writers%20recall%20the%20great%20sporting%20contests%20they%20will%20never%20forget&amp;read-more-link=https%3A%2F%2Fwww.theguardian.com%2Fsport%2Fseries%2Fmy-favourite-game&amp;links=false" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js">
<a class="u-underline" data-link-name="in body link" href="https://interactive.guim.co.uk/embed/from-tool/series/index.html?vertical=Sport&amp;opinion-tint=false&amp;title=My%20Favourite%20Game&amp;description=In%20our%20new%20series%2C%20Guardian%20writers%20recall%20the%20great%20sporting%20contests%20they%20will%20never%20forget&amp;read-more-link=https%3A%2F%2Fwww.theguardian.com%2Fsport%2Fseries%2Fmy-favourite-game&amp;links=false">MFG</a>
</figure>
        
            <p>QPR seemed intent on inviting pressure because their top-flight status was secure, leaving them carefree. There was still time for City to swarm forward and have one crucial last chance. The ball was forced to the edge of the area, Balotelli held it up and squirmed it into the path of Agüero. The Argentinian could have shot first time but shimmied to get more space and then the world froze, clocks stopped and his backlift felt like a slow-motion Lego re-enactment until his boot struck the ball. We knew it was beyond Kenny and into the net. Agüero’s shirt was off, the foundations of the stadium were shaking and the feeling of utter euphoria felt at that second will never be bettered.</p>
        
            <figure class="element element-image img--landscape element--showcase fig--narrow-caption fig--has-shares" data-component="image" data-media-id="0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62" id="img-4" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=55eaaea5663387e72c9ff412e484f797" itemprop="url"/>
<meta content="2800" itemprop="width"/>
<meta content="1778" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-4">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)" sizes="860px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=860&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=608871a43cadec9655703cd5bfb6d9e6 1720w"/>
<source media="(min-width: 1300px)" sizes="860px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=860&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=d3ec9aa48882406e68649a1f3362e53c 860w"/>
<source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)" sizes="780px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=780&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=2ae174fbaf0d475872be8b3e0a441ca9 1560w"/>
<source media="(min-width: 1140px)" sizes="780px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=780&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=f2e08548f8e61749d11cfa3426009f1a 780w"/>
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=7acb6f96a3a0af6087897960195971a6 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=85361b389cfa1443e643f521fb483508 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=1e1744b0e33cda37f0ccb9c4e7ef8129 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=ac547f929e246d06ab49fc27b668aeeb 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=ff7dbf312dfca2cf2a62c902685d5eb9 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=71d45dfe919fb6863be291ac49c43908 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Manchester City’s Sergio Aguero (right) celebrates his winning goal with teammates Mario Balotelli (left) and Edin Dzeko in front of the ecstatic City fans." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/0acb1b6b83680c571ee0a8d10fe07a6a4cd60b62/0_0_2800_1778/master/2800.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0f274ca4b344f7be15e5b335caba22e7"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Manchester City’s Sergio Aguero (right) celebrates his winning goal with teammates Mario Balotelli (left) and Edin Dzeko in front of the ecstatic City fans. Photograph: Darren Staples/Reuters
</figcaption>
</figure>
        
            <figure class="element element-image img--landscape fig--narrow-caption fig--has-shares" data-component="image" data-media-id="0e5c85a78199094ee684aa7220e4a1029abe999a" id="img-5" itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject">
<meta content="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=c594750e8346a1838c71511a1e57429a" itemprop="url"/>
<meta content="4256" itemprop="width"/>
<meta content="2555" itemprop="height"/>
<a class="article__img-container js-gallerythumbs" data-is-ajax="" data-link-name="Launch Article Lightbox" href="#img-5">
<div class="u-responsive-ratio" style>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=620&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=8dc2bcacb9700a6b179d7e74cd65d969 1240w"/>
<source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b91e2a405a163ebe0b75d1182ffaf0b5 620w"/>
<source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=605&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=47d20ee8723ef0080cd7efcaf85caa69 1210w"/>
<source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=605&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b056e0d3cd3af07dc08959d007336aad 605w"/>
<source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=445&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=554e0aa8cd508e0a125692592cbaaddc 890w"/>
<source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=445&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=eaf8306ef48d3eef625b0509581ec5ec 445w"/>
<!--[if IE 9]></video><![endif]-->
<img alt="Manchester City fans invade the pitch after the final whistle to celebrate the title." class="gu-image" itemprop="contentUrl" src="https://i.guim.co.uk/img/media/0e5c85a78199094ee684aa7220e4a1029abe999a/0_81_4256_2555/master/4256.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=1364b61b26484b6c74340431390626f6"/>
</picture>
</div>  </a>

<figcaption class="caption caption--img caption caption--img" itemprop="description">
 Manchester City fans take to the pitch to celebrate the title. Photograph: Tom Jenkins/The Guardian
</figcaption>
</figure>
        
            <p>Being there was a privilege and something that will not be forgotten. Amid all of the money in football, it was a reminder of the beauty and excitement of the sport in its purest form.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
