{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Disney confirms Star Wars series from 'Russian Doll' co-creator</h1>
        <h2>It's not saying much about what the Disney+ series will entail.</h2>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        {% if paywall.show %}
        
            <img alt="LOS ANGELES, CALIFORNIA - JUNE 09: Leslye Headland attends Netflix's FYSEE event for &quot;Russian Doll&quot; at Netflix FYSEE at Raleigh Studios on June 09, 2019 in Los Angeles, California. (Photo by David Livingston/WireImage)" class="stretch-img hide@m-" src="https://o.aolcdn.com/images/dims?thumbnail=640%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2020-05%2Feb7c6140-8e26-11ea-9ffe-e26d22d1373c&amp;client=amp-blogside-v2&amp;signature=77df7144e0d9b34c8d051036cf26912edc2e0490"/>
        
            <p>Disney is making the most out of May the 4th (aka <em>Star Wars</em> Day) beyond a <a href="https://www.engadget.com/disney-plus-the-mandalorian-docuseries-151649102.html"><em>Mandalorian </em>documentary</a> and streaming <a href="https://www.engadget.com/star-wars-the-rise-of-skywalker-may-4-disney-plus-134837214.html"><em>Rise of Skywalker</em></a>. On top of a new <a href="https://www.engadget.com/star-wars-taika-waititi-170249117.html">movie from Taika Waititi</a>, the company has <a href="https://www.starwars.com/news/taika-waititi-announce" target="_blank">confirmed</a> reports of a Disney+ <em>Star Wars</em> series from <a href="https://www.engadget.com/star-wars-disney-plus-series-leslye-headland-221607869.html"><em>Russian Doll co-creator</em></a> Leslye Headland. The official news revealed precious little about what it entails, but did say Headland would be a showrunner, executive producer and writer.</p>
        
            <p>The earlier <em>Variety</em> scoop claimed the series would be “female-centric” and wouldn’t be linked to the timelines of other <em>Star Wars</em> movies and shows.</p>
        
            <p>This will be the fourth <em>Star Wars</em> original for Disney+, with a <a href="https://www.engadget.com/2019-05-14-disney-plus-third-star-wars-series.html"><em>Rogue One prequel series</em></a> and an <a href="https://www.engadget.com/2019-09-27-disney-obi-wan-series-director-deborah-chow.html">Obi-Wan Kenobi show</a> already queued up in addition to more episodes of <em>The Mandalorian</em>. Disney isn’t being shy about its strategy, then. Between this and <a href="https://www.engadget.com/2019-07-21-marvel-disney-plus-shows-san-diego-comic-con.html">Marvel shows</a>, the company is betting that a sheer deluge of fresh material from well-known franchises will keep people subscribed to its online service.</p>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
