{% extends "generatednews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Galaxy Book Flex review: A pretty QLED laptop with a useful S Pen</h1>
        <h2>Samsung’s laptops are coming into their own.</h2>
        <img alt="Samsung Galaxy Book Flex" class="stretch-img" src="https://o.aolcdn.com/images/dims?thumbnail=960%2C&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F396b82e0-8bda-11ea-baff-4868f2e6cd87&amp;client=amp-blogside-v2&amp;signature=d8ae68f3b0ec56db5ef63597bf32d04e0374ab4c"/>
        <img alt="Galaxy Book Flex" class="ml-a mr-a pb-30 max-img" data-original="https://o.aolcdn.com/images/dims?quality=85&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2019-10%2Fb18051a0-fa82-11e9-b199-ca3ce527f53b&amp;client=amp-blogside-v2&amp;signature=b91ce31aadf3003dfd4c1e8759a086de0def0ece"/>
        <img class="absolute t-5 r-0" height="15" onclick="javascript:window.open('http://info.yahoo.com/privacy/us/yahoo/relevantads.html');" src="https://s.yimg.com/cv/apiv2/adbuilder/gemini.png" width="15">
<div class="sponsored-links">
<div></div>
</div>
</img>
        <p>Samsung has had a troubled past as a laptop maker. Its ATIV, <a href="https://www.engadget.com/2018-12-12-samsung-notebook-9-pen.html">Notebook</a> and Odyssey machines were underwhelming, and in the late 2010s the company consolidated its efforts into the Galaxy Book line. Instead of competing against the usual PC makers like Dell, HP, Lenovo and ASUS, Samsung focused on making more mobile-friendly machines. It prioritized thin-and-light designs and great displays, and it added an onboard stylus, borrowing the features that made its smartphones the industry favorites they are today. </p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>With the <a href="https://redirect.viglink.com/?key=6c4b998ebfedcc1cac1bf8b343fce1a8&amp;u=https%3A%2F%2Fwww.bestbuy.com%2Fsite%2Fsamsung-galaxy-book-flex-2-in-1-15-6-touch-screen-laptop-intel-core-i7-12gb-memory-512gb-ssd-royal-blue%2F6398415.p%3FskuId%3D6398415" target="_blank">Galaxy Book Flex</a>, Samsung continues to show improved self-awareness by showcasing its superior display tech. The <a href="https://www.engadget.com/2019-10-29-galaxy-book-flex-and-ion-hands-on-gorgeous-qled-laptops.html">Flex</a> is the first laptop with a QLED panel, which promises more colors, deeper blacks and greater brightness. It also comes standard with an S Pen and a wireless-charging pad built into the trackpad. Two models -- 13 inch and 15 inch -- are available, and we received the smaller version, which costs $1,349. The larger is just $50 more, and both are available today. </p>
        {% if paywall.show %}
        
            <p class="t-d3 mt-15">The Galaxy Book Flex is a gorgeous, powerful laptop with a vibrant QLED display. Though its battery life isn’t as long as some of the competition, the Flex is still a capable machine with a helpful S Pen onboard.</p>
        
            <img class="full-width" src="https://o.aolcdn.com/images/dims?quality=85&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2019-10%2Fb18051a0-fa82-11e9-b199-ca3ce527f53b&amp;client=amp-blogside-v2&amp;signature=b91ce31aadf3003dfd4c1e8759a086de0def0ece"/>
        
            <img alt="Galaxy Book Flex" class="ml-a mr-a pb-30 max-img h-250" src="https://o.aolcdn.com/images/dims?quality=85&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2019-10%2Fb18051a0-fa82-11e9-b199-ca3ce527f53b&amp;client=amp-blogside-v2&amp;signature=b91ce31aadf3003dfd4c1e8759a086de0def0ece"/>
        
            <p><strong>Design</strong></p>
        
            <p>I gotta give Samsung props. The company has seriously stepped up the design of its laptops over the past few years. The <a href="https://www.engadget.com/2019-08-07-samsung-galaxy-book-s-hands-on-snapdragon-windows-laptop.html">Galaxy Book S</a> and <a href="https://www.engadget.com/2020-01-06-samsung-galaxy-chromebook-hands-on-oh-so-pretty.html">Galaxy Chromebook</a> both had super sleek builds, and the Flex is no different. This thing is all clean lines and sharp corners, with gleaming edges that give it a polished look. The deep royal blue of my review unit is refreshing: I’m used to boring silver, black or gray laptops, so my eyes welcome this change. </p>
        
            <img class="stretch-img" src="https://o.aolcdn.com/images/dims?thumbnail=980%2C653&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F8e827c00-8be1-11ea-abd5-705b9c63b604&amp;client=amp-blogside-v2&amp;signature=898ac588b2d8213821b7b8a9d835a7d91cd4411e"/>
        
            <img src="https://o.aolcdn.com/images/dims?thumbnail=130%2C87&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F8eb6ab60-8be1-11ea-bdf4-7ac7f984baf6&amp;client=amp-blogside-v2&amp;signature=86edfe729fcf4a51c3c2a119960786dbecac0da0"/>
        
            <img src="https://o.aolcdn.com/images/dims?thumbnail=130%2C87&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F8ecc0820-8be1-11ea-bf96-77a2945fee1f&amp;client=amp-blogside-v2&amp;signature=1b7fc5c3fa9505e95153ef88a1b9971777bfffd7"/>
        
            <img src="https://o.aolcdn.com/images/dims?thumbnail=130%2C87&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F8ed94e90-8be1-11ea-8dfb-375b3cf445f2&amp;client=amp-blogside-v2&amp;signature=041322b93871c5ee6f252b97158c1f64efabd527"/>
        
            <img src="https://o.aolcdn.com/images/dims?thumbnail=130%2C87&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-uploaded-images%2F2020-05%2F8ee5f8c0-8be1-11ea-abf2-2af2b3205092&amp;client=amp-blogside-v2&amp;signature=286b1366a5c14beed0553ae9abfc4eea26ea16e6"/>
        
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}
