{% extends "waldonews/base.html" %}

{% block content %}
    <div class="content">
        <h1>Carbon markets could strengthen or screw over global action on climate change</h1>
        <h2>It could all hinge on rules being hashed out at the United Nations climate conference in Madrid</h2>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpsmag.com%2F.image%2Ft_share%2FMTI3NTgxOTU0MTM1NjgzMDQy%2Fclimate-change-oceans.jpg&f=1&nofb=1">
        <p id="WW8UEl">Leaders from 197 countries are hammering out the details of one of the most contested
            strategies for tackling climate change: international carbon markets, which allow countries to offset
            their planet-heating emissions by funding green projects elsewhere. As delegates negotiated at the
            annual United Nations climate conference in Madrid this week, protests unfolded over the carbon-cutting
            scheme, which some environmental activists called “a false solution.” </p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Existing carbon markets have a checkered past, and unless tighter rules are put in place
                moving forward, new carbon markets could actually make the climate crisis worse. That’s because, with a
                poorly designed system, there’s the risk that carbon credits could offer polluters an opportunity to get
                out of actually having to reduce their greenhouse gas emissions.</p>
        {% if paywall.show %}

            <p id="ceCTqf">“Without proper oversight and robustness, these mechanisms would severely undercut climate
                actions by creating loopholes,” said Yamide Dagnet, a senior associate at the environmental think tank
                World Resources Institute, during a December 2nd press conference in Madrid. “It could be no less than
                cheating, greenwashing, and deceiving people.” </p>
            <p id="FFE3c7">The term “carbon markets” covers a huge range of strategies that all work in similar ways.
                Generally, they provide an economic incentive for countries or corporations to reduce their carbon
                footprint. Instead of cutting down its own emissions, a polluting company or country can purchase carbon
                “credits” from another entity that overachieved in reducing its own carbon footprint. Or the polluter
                might offset its greenhouse gas emissions by investing in a reforestation initiative or renewable energy
                project. Money gets funneled into green projects, and the most successful carbon-cutters can make a
                profit. </p>
            <p id="tEU52a">On paper, it sounds great. Big polluters looking to reduce their environmental impact get
                more options. Money often flows into developing nations that could use an infusion of cash. It
                encourages global cooperation since a ton of carbon emissions are a ton of carbon emissions whether
                they’re produced in Zimbabwe or Switzerland. Not to mention, it’s often cheaper to take measures to keep
                that carbon out of the atmosphere in a developing nation as opposed to a developed one.</p>
            <p id="iD6Rbh">“If you use the logic of carbon markets correctly, then you can significantly reduce the cost
                of decarbonisation. And guess what, you can help a lot of developing countries,” Satyajit Bose,
                associate director of Columbia University’s program in sustainability management, tells <em>The
                    Verge</em>.</p>

            <p id="0n1FOV">But people who call some of the places most vulnerable to climate change home, like Moñeka De
                Oro with the Micronesia Climate Change Alliance, are worried about what carbon markets could mean for
                them. De Oro, who lives in Guam and is attending the summit in Madrid, points to islands in the Pacific
                being threatened by more superstorms, rising sea levels gobbling up entire islands, and more acidic
                oceans harming sea life. “Carbon markets and offsets are false solutions and we really want real
                solutions,” she says.</p>
            <p id="aneoPs">Carbon markets are so complex and controversial that the tactic was the last article agreed
                upon in the landmark Paris climate agreement in 2015 when all the world’s countries agreed to work
                together to limit global warming before it reaches catastrophic levels. Since that deal was hashed out,
                the United Nations’ yearly climate conferences have focused on developing a rulebook governing how the
                Paris agreement will be implemented. Carbon markets have been such a sticky topic that it’s the last
                item left to tackle in the rulebook. Now the issue is taking center stage in Madrid during the summit,
                which takes place from December 2nd to 13th. But there’s still concern that the matter will remain
                unresolved — or worse, that weak rules governing carbon markets could undermine global efforts on
                climate change.</p>

            <p id="PUUHLP">“It’s really important to get it right. It’s better to have no rules [finalized in Madrid]
                than to have bad rules,” says Bose. Good rules, according to Bose and the World Resources Institute,
                would prevent countries that trade carbon credits from double-counting their emissions cuts. They would
                also ensure that countries that offset their emissions are putting their money toward projects that
                wouldn’t otherwise have gotten off the ground, instead of funding an initiative that was already set to
                take place with or without the carbon credits it generated. </p>
            <p id="InPwcb">Those are lessons learned from the carbon market that emerged from the Kyoto Protocol, a
                precursor to the Paris agreement that only involved emissions reductions targets from 37 industrialized
                nations. One 2016 <a
                        href="https://ec.europa.eu/clima/sites/clima/files/ets/docs/clean_dev_mechanism_en.pdf">study</a>
                from the European Commission found that the majority of projects funded through the Kyoto Protocol’s
                carbon market likely failed to deliver any additional carbon emissions reductions. </p>
            <p id="wXjUAU">“There were many complications, let’s say, that erupted,” Christiana Figueres, who led the
                United Nations Framework Convention on Climate Change when the Paris accord was adopted, tells <em>The
                    Verge</em>. Despite the challenges, Figueres says the carbon market was productive. “To derive some
                lessons learned from that is definitely important,” she says. </p>
            <p id="7e8pHj">But not everyone is convinced those lessons have been learned. “Our main beef is that first
                and foremost, these carbon offsets and carbon markets don’t cease pollution at source,” says Anthony
                Rogers-Wright with the US-based Climate Justice Alliance, which has advocated against including carbon
                markets in the Paris agreement at all. He says there’s more to think about than global gains in
                greenhouse gas emissions reductions. Reducing countries’ dependence on oil and gas can also have the
                added benefit of protecting communities that have been harmed along the supply chain for fossil fuels.
                “We reject the idea that any solution would require certain communities to continuously be treated as
                sacrifices for the production of energy,” Rogers-Wright says. </p>

            <p id="Ukrc5D">Time is running out to get the greenhouse gas emissions cuts needed to avoid disaster, <a
                    href="https://www.ipcc.ch/2018/10/08/summary-for-policymakers-of-ipcc-special-report-on-global-warming-of-1-5c-approved-by-governments/">according
                to the UN Intergovernmental Panel on Climate Change</a>, and most countries still aren’t doing enough.
                Carbon emissions are still climbing, growing 4 percent since the Paris agreement was adopted, according
                to <a href="https://www.bbc.com/news/science-environment-50648495">new research released this week</a>.
                Against that backdrop, there’s a pileup of urgency to get the world working together to kick its fossil
                fuel habit — and to get it done right. </p>
            <p id="3UrxKT">Any decisions that the delegates make in Madrid will likely be announced next week. At that
                point, groups on both sides of the carbon market debate will have a better sense of what the future of
                this complicated system might be. Until then, it’s important to remember what’s on the line with this
                policy debate. “Our very livelihoods are at stake here,” De Oro says. </p>



        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}