{% extends "waldonews/base.html" %}

{% block content %}
    <div class="content">
        <h1>There May Be Almost a Million Times More Microplastics in the Oceans Than We Thought</h1>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fakm-img-a-in.tosshub.com%2Findiatoday%2Fimages%2Fstory%2F201706%2Fin-hand-647_060817065430.jpg&f=1&nofb=1">
        <p>The amount of plastic in the oceans around California may be almost a million times more abundant than
            previously calculated.</p>
        <p>Scientists writing in <em><a rel="nofollow"
                                        href="https://aslopubs.onlinelibrary.wiley.com/doi/full/10.1002/lol2.10127">Limnology
            and Oceanography Letters</a></em> estimate the true number of microplastics per cubic meter is 8.3
            million—not ten as previously stated.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>Researchers at the University of California, San Diego, developed a new method of counting plastic. It
                shows more traditional methods may be missing some of the smaller microplastics, with the effect of
                underestimating the degree to which plastic is contaminating the world's oceans.</p>
        {% if paywall.show %}

            <p>These traditional methods involve trawling a mesh net below water. The bulk of studies use a mesh fine
                enough to separate plankton from seawater but not fine enough, it appears, to capture microplastics
                smaller than 333 micrometers, or one-third of a millimeter—a microplastic is considered anything that is
                smaller than 5 millimeters.</p>
            <p>But by using surface seawater samples and salps, the team at UC Diego were able to collect microplastics
                just 10 micrometers in size. The thickness of a piece of paper, for perspective, is <a rel="nofollow"
                                                                                                       href="https://gizmodo.com/if-you-fold-a-paper-in-half-103-times-it-will-be-as-thi-1607632639">100
                    micrometers</a>.</p>
            <p>"For years we've been doing microplastics studies the same way (by) using a net to collect samples. But
                anything smaller than that net mesh has been escaping," lead author Jennifer Brandon, a biological
                oceanographer with UC San Diego, said in <a rel="nofollow"
                                                            href="https://ucsdnews.ucsd.edu/pressrelease/microplastics-a-million-times-more-abundant-in-the-ocean-than-previously-thought-scripps-study-sugg">a
                    statement</a>. Brandon developed the method when she was a graduate student at the university.</p>
            <p><a rel="nofollow" href="http://www.antarctica.gov.au/about-antarctica/wildlife/animals/salps">Salps</a>
                are a group of gelatinous and often transparent creatures that can vary in size from a few millimeters
                to a few meters. They frequently group together to form longer chains (or wheels) when they reach
                maturity. They are filter feeders, taking in food (and microplastics) from the surrounding water.
                Because the size of the pores on their filters are just 5 micrometers they can absorb infinitesimally
                small particles.</p>
            <p>"They are passive filter-feeders, meaning they don't select what particles they eat based on anything but
                size," Brandon told <em>Newsweek</em>. "So if there are microplastics in the water, they will eat them."
            </p>
            <figure>
                <div>

                    <source type="image/webp" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.webp?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d 1x">
                    <source type="image/jpeg" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d 1x">
                    <source type="image/webp" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.webp?w=675&amp;f=b820a59150b9bdd369334d2840f6e6b5 1x">
                    <source type="image/jpeg" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=675&amp;f=b820a59150b9bdd369334d2840f6e6b5 1x">
                    <source type="image/webp" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.webp?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d 1x">
                    <source type="image/jpeg" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d 1x">
                    <source type="image/webp" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.webp?w=450&amp;f=ae49c5eade8f3bedd4d6927d6141b7d4 1x">
                    <source type="image/jpeg" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=450&amp;f=ae49c5eade8f3bedd4d6927d6141b7d4 1x">
                    <img id="i1551070"
                         data-src="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d"
                         alt="Microplastics on Beach" title="Microplastics on Beach" itemprop="contentUrl"
                         src="https://d.newsweek.com/en/full/1551070/microplastics-beach.jpg?w=737&amp;f=5ea08a5772bf143dc102a85f5e982b0d"
                         width="737">

                    <figcaption class="caption">
                        <span>Microplastics pictured here on Almaciga Beach, Tenerife, may be far more abundant than previously thought.</span>
                        <span>DESIREE MARTIN/AFP/Getty</span>
                    </figcaption>
                </div>
            </figure>
            <figure data-gtm-action="Related_Stories">
                <div>
                    <div id="v_embed"></div>
                </div>
            </figure>
            <p>Using specimens collected at the Scripps Pelagic Invertebrate Collection, the researchers were able to
                study samples of salps collected over the years during expeditions in the North Pacific to find out how
                much microplastic they were ingesting. The team found that the mini-particles included in the study were
                five orders of magnitude more common than particles 333 micrometers or more.</p>
            <p>"We were surprised at how high the numbers were," said Brandon. "But we expected the mini-microplastics
                to be higher than the previous recorded numbers of microplastics, because as microplastics break down,
                they make more and more smaller pieces"</p>
            <p>When compared to seawater samples collected at surface level, the team found the microplastics discovered
                in the salps were "significantly smaller." They also observed particles were more abundant in samples
                collected closer to the land than they were in samples collected near the garbage patch, something that
                may be explained by runoff pollution.</p>
            <p>While the effect of microplastic pollution on human health is not widely understood, research has shown
                that it has a detrimental effect animals further down the food chain. For example, <a rel="nofollow"
                                                                                                      href="https://www.pnas.org/content/113/9/2430?ijkey=9a463a420b770a37d9c4292bbbee88b27b76008a&amp;keytype2=tf_ipsecsha"
                                                                                                      target="_blank">a
                    study </a>has shown exposure to polystyrene microplastics affects oyster reproduction.</p>
            <p>"[Plastic] keeps breaking down but stays chemically plastic and doesn't go back into the ecosystem," <a
                    rel="nofollow"
                    href="https://ucsdnews.ucsd.edu/pressrelease/microplastics-a-million-times-more-abundant-in-the-ocean-than-previously-thought-scripps-study-sugg">said</a>
                Brandon.</p>
            <figure>
                <div>

                    <source type="image/webp" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.webp?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b 1x">
                    <source type="image/jpeg" media="(min-width: 992px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.jpg?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b 1x">
                    <source type="image/webp" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.webp?w=675&amp;f=2834bdfd62b038d575de755236fcc047 1x">
                    <source type="image/jpeg" media="(min-width: 768px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.jpg?w=675&amp;f=2834bdfd62b038d575de755236fcc047 1x">
                    <source type="image/webp" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.webp?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b 1x">
                    <source type="image/jpeg" media="(min-width: 481px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.jpg?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b 1x">
                    <source type="image/webp" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.webp?w=450&amp;f=658aeda8129e8e74f04bd7eb1bab38cd 1x">
                    <source type="image/jpeg" media="(min-width: 0px)"
                            data-srcset="https://d.newsweek.com/en/full/1551077/salp.jpg?w=450&amp;f=658aeda8129e8e74f04bd7eb1bab38cd 1x">
                    <img id="i1551077"
                         data-src="https://d.newsweek.com/en/full/1551077/salp.jpg?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b"
                         alt="salp" title="salp" itemprop="contentUrl"
                         src="https://d.newsweek.com/en/full/1551077/salp.jpg?w=737&amp;f=586413cdecb53ed8ce0b62e536188a6b"
                         width="737">

                    <figcaption class="caption">
                        <span>The researchers collected samples from salps like the one pictured.</span>
                        <span>beusbeus/iStock</span>
                    </figcaption>
                </div>
            </figure><p><em>The article has been updated to include comments from lead author Jennifer Brandon.</em></p>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}
    </div>
{% endblock %}